@charset "UTF-8";

.input-bill {
    margin: min(1.2vw, 1rem);
}

.bill__label,
.tip__label,
.people__label {
    color: var(--cyan-400);
    display: block;
    font-size: clamp(.8rem, .8rem + .6vw, 1rem);
    font-weight: var(--f-weight-bold);
    inline-size: fit-content;
}

.bill__value-input,
.people__number-input {
    border: none;
    border-radius: .3125rem;
    background-color: var(--cyan-100);
    text-align: end;
    font-size: clamp(1rem, .8rem + 1.2vw, 1.5rem);
    font-weight: var(--f-weight-bold);
    color: var(--very-dark-cyan);
}

::placeholder { color: var(--cyan-350); }