@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,40..300&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

html,
body {
  background-color: #fafafa;
  inline-size: 100%;
  block-size: 100%;
}

.container {
  background-image: url("../assets/home/bg-pattern-header.svg");
  background-position: center -158px;
  background-repeat: no-repeat;
  background-size: 120% auto;
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  margin: 0 auto;
  max-inline-size: 100vw;
}
@media (min-width: 504.98px) and (max-width: 768.98px) {
  .container {
    background-image: none;
    max-inline-size: 768px;
  }
}
@media (min-width: 768.98px) {
  .container {
    background-image: none;
    block-size: 100%;
    flex-direction: row;
    max-inline-size: 1440px;
    padding-inline: min(11.4583333333vw, 10.3125rem) 0;
  }
}

@media (min-width: 768.98px) {
  .content {
    display: flex;
    flex-basis: 855px;
    flex-direction: column;
  }
}

@media (min-width: 504.98px) and (max-width: 768.98px) {
  .header {
    padding-inline: min(5.078125vw, 2.4375rem);
  }
}
.header .logo {
  padding-block-start: min(12.2666666667vw, 2.875rem);
}
@media (min-width: 504.98px) and (max-width: 768.98px) {
  .header .logo {
    padding-block-start: min(9.375vw, 4.5rem);
  }
}
@media (min-width: 768.98px) {
  .header .logo {
    padding-block-start: min(5.625vw, 5.0625rem);
  }
}
.header .logo__img {
  display: block;
  margin: 0;
}
@media (min-width: 0px) and (max-width: 504px) {
  .header .logo__img {
    margin: 0 auto;
  }
}

.main {
  position: relative;
  padding-block-start: min(21.3333333333vw, 5rem);
  padding-inline: min(6.4vw, 1.5rem);
}
@media (min-width: 504.98px) and (max-width: 768.98px) {
  .main {
    padding-block-start: min(13.5416666667vw, 6.5rem);
    padding-inline: 0;
  }
}
@media (min-width: 768.98px) {
  .main {
    padding-block-start: min(10.6944444444vw, 9.625rem);
    padding-inline: 0;
  }
}

.hero {
  position: relative;
}
@media (min-width: 768.98px) {
  .hero {
    display: block;
  }
}
.hero .info {
  text-align: center;
  margin: 0 auto;
  padding-block-end: min(17.0666666667vw, 4rem);
}
@media (min-width: 504.98px) and (max-width: 768.98px) {
  .hero .info {
    inline-size: clamp(378px, 75vw, 573px);
    padding-block-end: min(13.5416666667vw, 6.5rem);
  }
}
@media (min-width: 768.98px) {
  .hero .info {
    inline-size: clamp(240px, 38vw, 540px);
    margin: 0;
    margin-inline-end: min(8.6805555556vw, 7.8125rem);
    padding-block-end: 0;
    text-align: start;
  }
}
.hero .info__title {
  color: #25293a;
  font-size: clamp(1.25rem, 0.5rem + 8.5333333333vw, 2.5rem);
  font-weight: 800;
  line-height: calc(clamp(1.25rem, 0.5rem + 8.5333333333vw, 2.5rem) * 1.2);
}
@media (min-width: 504.98px) and (max-width: 768.98px) {
  .hero .info__title {
    font-size: clamp(1.25rem, 0.5rem + 4.1666666667vw, 2.5rem);
    line-height: calc(clamp(1.25rem, 0.5rem + 4.1666666667vw, 2.5rem) * 1.2);
  }
}
@media (min-width: 768.98px) {
  .hero .info__title {
    font-size: clamp(1.875rem, 0.5rem + 3.3333333333vw, 3.5rem);
    line-height: calc(clamp(1.875rem, 0.5rem + 3.3333333333vw, 3.5rem) * 1.143);
  }
}
.hero .info__description {
  color: #747895;
  font-size: clamp(0.625rem, 0.5rem + 2.1333333333vw, 1rem);
  font-weight: 400;
  line-height: calc(clamp(0.625rem, 0.5rem + 2.1333333333vw, 1rem) * 1.63);
  padding-block: min(4.2666666667vw, 1rem) min(17.0666666667vw, 4rem);
}
@media (min-width: 504.98px) and (max-width: 768.98px) {
  .hero .info__description {
    font-size: clamp(0.625rem, 0.5rem + 1.0416666667vw, 1rem);
    line-height: calc(clamp(0.625rem, 0.5rem + 1.0416666667vw, 1rem) * 1.56);
    padding-block: min(3.125vw, 1.5rem) min(5.2083333333vw, 2.5rem);
  }
}
@media (min-width: 768.98px) {
  .hero .info__description {
    font-size: clamp(0.625rem, 0.5rem + 0.6944444444vw, 1.125rem);
    line-height: calc(clamp(0.625rem, 0.5rem + 0.6944444444vw, 1.125rem) * 1.56);
    padding-block: min(1.6666666667vw, 1.5rem) min(2.2222222222vw, 2rem);
  }
}
.hero .time-counter {
  align-items: center;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768.98px) {
  .hero .time-counter {
    align-items: start;
  }
}
.hero .time-counter__title {
  color: #25293a;
  font-size: clamp(0.625rem, 0.5rem + 2.1333333333vw, 1rem);
  font-weight: 800;
  letter-spacing: 5px;
  line-height: calc(clamp(0.625rem, 0.5rem + 2.1333333333vw, 1rem) * 3);
  text-transform: uppercase;
}
.hero .time-counter__title-emphasis {
  color: #5175ff;
  font-style: normal;
}
@media (min-width: 504.98px) and (max-width: 768.98px) {
  .hero .time-counter__title {
    font-size: clamp(0.625rem, 0.5rem + 1.0416666667vw, 1rem);
    line-height: calc(clamp(0.625rem, 0.5rem + 1.0416666667vw, 1rem) * 3);
  }
}
@media (min-width: 768.98px) {
  .hero .time-counter__title {
    font-size: clamp(0.625rem, 0.5rem + 2.1333333333vw, 1rem);
    line-height: calc(clamp(0.625rem, 0.5rem + 0.5555555556vw, 1rem) * 3);
  }
}
.hero .time-counter .countdown {
  column-gap: min(3.4666666667vw, 0.8125rem);
  display: flex;
}
@media (min-width: 504.98px) and (max-width: 768.98px) {
  .hero .time-counter .countdown {
    column-gap: min(2.0833333333vw, 1rem);
  }
}
@media (min-width: 768.98px) {
  .hero .time-counter .countdown {
    column-gap: min(1.1111111111vw, 1rem);
  }
}
.hero .time-counter .countdown .countdown__digit {
  background-color: #eef1ff;
  border-radius: 0.8125rem;
  color: #5175ff;
  display: flex;
  flex-direction: column;
  font-weight: 800;
  padding: min(4.2666666667vw, 1rem);
  row-gap: 2.12px;
  text-align: center;
  inline-size: clamp(62px, 19.2vw, 72px);
}
@media (min-width: 504.98px) and (max-width: 768.98px) {
  .hero .time-counter .countdown .countdown__digit {
    padding: min(2.0833333333vw, 1rem);
    inline-size: clamp(70px, 13.1vw, 100px);
  }
}
@media (min-width: 768.98px) {
  .hero .time-counter .countdown .countdown__digit {
    padding: min(1.9791666667vw, 1.78125rem) min(1.1111111111vw, 1rem);
    inline-size: clamp(70px, 7vw, 100px);
  }
}
.hero .time-counter .countdown__time {
  font-size: clamp(1rem, 0.5rem + 6.4vw, 2rem);
  line-height: calc(clamp(1rem, 0.5rem + 6.4vw, 2rem) * 0.858);
}
@media (min-width: 504.98px) and (max-width: 768.98px) {
  .hero .time-counter .countdown__time {
    font-size: clamp(1rem, 0.5rem + 6.25vw, 3.5rem);
    line-height: calc(clamp(1rem, 0.5rem + 6.25vw, 3.5rem) * 0.858);
  }
}
@media (min-width: 768.98px) {
  .hero .time-counter .countdown__time {
    font-size: clamp(1rem, 0.5rem + 3.3333333333vw, 3.5rem);
    line-height: calc(clamp(1rem, 0.5rem + 3.3333333333vw, 3.5rem) * 0.858);
  }
}
.hero .time-counter .countdown__period {
  color: #333950;
  font-size: clamp(0.5rem, 0.5rem + 1.0666666667vw, 0.75rem);
  line-height: calc(clamp(0.5rem, 0.5rem + 1.0666666667vw, 0.75rem) * 1.75);
  opacity: 0.5;
}

.form {
  background-color: #ffffff;
  border-radius: 0.8125rem;
  box-shadow: 0 50px 50px -25px hsla(227, 34%, 45%, 0.24);
  inline-size: 100%;
  left: 50%;
  padding: min(6.4vw, 1.5rem);
  position: absolute;
  transform: translate(-50%);
  z-index: 1;
  overflow: hidden;
}
@media (min-width: 504.98px) and (max-width: 768.98px) {
  .form {
    max-inline-size: clamp(378px, 58vw, 445px);
    top: clamp(352px, 58.5vw, 449px);
    padding: min(5.2083333333vw, 2.5rem) min(5.46875vw, 2.625rem) min(6.640625vw, 3.1875rem) min(5.5989583333vw, 2.6875rem);
  }
}
@media (min-width: 768.98px) {
  .form {
    bottom: clamp(10px, 0.7vw, 100px);
    inline-size: clamp(240px, 31vw, 445px);
    left: clamp(380px, 46.2vw, 665px);
    transform: none;
    padding: min(2.7777777778vw, 2.5rem) min(2.9166666667vw, 2.625rem) min(3.5416666667vw, 3.1875rem) min(2.9861111111vw, 2.6875rem);
  }
}
.form__wrapper-input {
  display: flex;
  flex-direction: column;
  padding-block-end: min(10.6666666667vw, 2.5rem);
  row-gap: min(6.4vw, 1.5rem);
}
@media (min-width: 768.98px) {
  .form__wrapper-input {
    padding-block-end: min(2.7777777778vw, 2.5rem);
    row-gap: min(1.6666666667vw, 1.5rem);
  }
}
.form .input {
  background-color: #ffffff;
  border: none;
  border-bottom: 1px solid #babdca;
  color: #25293a;
  display: block;
  font-size: clamp(0.625rem, 0.5rem + 2.1333333333vw, 1rem);
  inline-size: 100%;
  line-height: calc(clamp(0.625rem, 0.5rem + 2.1333333333vw, 1rem) * 1.75);
  padding-block-end: min(4.5333333333vw, 1.0625rem);
  padding-inline-start: min(4.2666666667vw, 1rem);
}
@media (min-width: 504.98px) and (max-width: 768.98px) {
  .form .input {
    font-size: clamp(0.625rem, 0.5rem + 1.0416666667vw, 1rem);
    line-height: calc(clamp(0.625rem, 0.5rem + 1.0416666667vw, 1rem) * 1.75);
    padding-block-end: min(2.2135416667vw, 1.0625rem);
    padding-inline-start: min(2.0833333333vw, 1rem);
  }
}
@media (min-width: 768.98px) {
  .form .input {
    font-size: clamp(0.625rem, 0.5rem + 0.5555555556vw, 1rem);
    line-height: calc(clamp(0.625rem, 0.5rem + 0.5555555556vw, 1rem) * 1.75);
    padding-block-end: min(1.1805555556vw, 1.0625rem);
    padding-inline-start: min(1.1111111111vw, 1rem);
  }
}
.form .input::placeholder {
  color: #babdca;
  font-size: clamp(0.625rem, 0.5rem + 2.1333333333vw, 1rem);
}
@media (min-width: 504.98px) and (max-width: 768.98px) {
  .form .input::placeholder {
    font-size: clamp(0.625rem, 0.5rem + 1.0416666667vw, 1rem);
  }
}
@media (min-width: 768.98px) {
  .form .input::placeholder {
    font-size: clamp(0.625rem, 0.5rem + 0.5555555556vw, 1rem);
  }
}
.form .submit {
  background-color: #5175ff;
  border: none;
  border-radius: 1.75rem;
  color: #ffffff;
  cursor: pointer;
  font-size: clamp(0.5rem, 0.5rem + 2.1333333333vw, 1rem);
  font-weight: 800;
  inline-size: 100%;
  line-height: calc(clamp(0.5rem, 0.5rem + 2.1333333333vw, 1rem) * 1.75);
  padding: min(3.7333333333vw, 0.875rem) min(10.6666666667vw, 2.5rem);
}
@media (min-width: 504.98px) and (max-width: 768.98px) {
  .form .submit {
    font-size: clamp(0.5rem, 0.5rem + 1.0416666667vw, 1rem);
    line-height: calc(clamp(0.5rem, 0.5rem + 1.0416666667vw, 1rem) * 1.75);
    padding: min(1.8229166667vw, 0.875rem) min(5.2083333333vw, 2.5rem);
  }
}
@media (min-width: 768.98px) {
  .form .submit {
    font-size: clamp(0.5rem, 0.5rem + 0.5555555556vw, 1rem);
    line-height: calc(clamp(0.5rem, 0.5rem + 0.5555555556vw, 1rem) * 1.75);
    padding: min(0.9722222222vw, 0.875rem) min(2.7777777778vw, 2.5rem);
  }
}
.form .submit:hover {
  background-color: rgba(81, 117, 255, 0.35);
  color: #5175ff;
}
.form .input--error {
  border-bottom: 1px solid #f05b5b;
  color: #f05b5b;
  background: no-repeat url("../assets/sign-up/icon-cross.svg") 98% 20%/auto;
}
.form .choices {
  margin: 0;
}
.form .choices .choices__inner {
  background-color: #ffffff;
  border: none;
  padding: 0;
}
.form .choices .choices__list {
  padding: 0;
}
.form .choices .choices__list--dropdown {
  border: 1px solid #333950;
  border-radius: 0.5rem;
  padding: fluidSpace(24) min(8.5333333333vw, 2rem);
}
@media (min-width: 504.98px) and (max-width: 768.98px) {
  .form .choices .choices__list--dropdown {
    padding: min(3.125vw, 1.5rem) min(4.1666666667vw, 2rem);
  }
}
@media (min-width: 768.98px) {
  .form .choices .choices__list--dropdown {
    padding: min(1.6666666667vw, 1.5rem) min(2.2222222222vw, 2rem);
  }
}
.form .choices .choices__item {
  border-bottom: 1px solid #babdca;
  padding-block-end: min(4.5333333333vw, 1.0625rem);
  padding-inline-start: min(4.2666666667vw, 1rem);
  position: relative;
}
@media (min-width: 504.98px) and (max-width: 768.98px) {
  .form .choices .choices__item {
    padding-block-end: min(2.2135416667vw, 1.0625rem);
    padding-inline-start: min(2.0833333333vw, 1rem);
  }
}
@media (min-width: 768.98px) {
  .form .choices .choices__item {
    padding-block-end: min(1.1805555556vw, 1.0625rem);
    padding-inline-start: min(1.1111111111vw, 1rem);
  }
}
.form .choices #choices--select-item-choice-3 {
  border-bottom: 0;
}
.form .choices .choices__item--selectable {
  color: #333950;
  font-size: clamp(0.625rem, 0.5rem + 2.1333333333vw, 1rem);
  line-height: calc(clamp(0.625rem, 0.5rem + 2.1333333333vw, 1rem) * 1.75);
}
@media (min-width: 504.98px) and (max-width: 768.98px) {
  .form .choices .choices__item--selectable {
    font-size: clamp(0.625rem, 0.5rem + 1.0416666667vw, 1rem);
    line-height: calc(clamp(0.625rem, 0.5rem + 1.0416666667vw, 1rem) * 1.75);
  }
}
@media (min-width: 768.98px) {
  .form .choices .choices__item--selectable {
    font-size: clamp(0.625rem, 0.5rem + 0.5555555556vw, 1rem);
    line-height: calc(clamp(0.625rem, 0.5rem + 0.5555555556vw, 1rem) * 1.75);
  }
}
.form .choices .select__pack {
  font-weight: 800;
}
.form .choices .select__price {
  opacity: 0.4;
}
.form .choices.is-focused {
  outline: 2px solid #000000;
}
.form .choices[data-type*=select-one]::after {
  background-image: url("../assets/sign-up/icon-arrow-down.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  content: "";
  height: 1rem;
  pointer-events: none;
  position: absolute;
  right: 1rem;
  top: 40%;
  transform: translateY(-50%);
  width: 1rem;
}
.form .choices.is-open[data-type*=select-one]::after {
  background-image: url("../assets/sign-up/icon-arrow-down.svg");
  rotate: 180deg;
  top: 20%;
}
.form .choices__item.choices__item--choice.is-selected::after {
  background-image: url("../assets/sign-up/icon-check.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: inline-block;
  height: 1rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
}

.decoration {
  background-color: #25293a;
  background-image: url("../assets/sign-up/bg-pattern-side.svg");
  background-repeat: no-repeat;
  flex-basis: 320px;
  margin-block-start: min(61.8666666667vw, 14.5rem);
  background-position: center center;
  background-size: 380% auto;
}
@media (min-width: 504.98px) and (max-width: 768.98px) {
  .decoration {
    background-position: center center;
    background-size: 190% auto;
    flex-basis: 380px;
    margin-block-start: min(33.0729166667vw, 15.875rem);
  }
}
@media (min-width: 768.98px) {
  .decoration {
    background-position: center -780px;
    background-size: auto auto;
    flex-basis: 420px;
    margin-block-start: 0;
    padding-inline-end: min(11.4583333333vw, 10.3125rem);
  }
}

/*# sourceMappingURL=style-sign-up.css.map */
