*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

html,
body {
  background-color: #fff7f0;
  inline-size: 100%;
  max-inline-size: 100vw;
  min-block-size: 100vh;
}
@supports (min-block-size: 100svh) {
  html,
  body {
    min-block-size: 100svh;
  }
}
@supports (min-block-size: 100dvh) {
  html,
  body {
    min-block-size: 100dvh;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  margin-inline: auto;
  max-inline-size: 90rem;
  overflow-x: hidden;
  row-gap: min(17.0666666667vw, 4rem);
}
@media (min-width: 48rem) {
  .container {
    row-gap: min(10.4166666667vw, 5rem);
  }
}
@media (min-width: 62rem) {
  .container {
    row-gap: min(8.3333333333vw, 7.5rem);
  }
}

.header {
  padding-block-start: 1.5rem;
}
@media (min-width: 36rem) {
  .header {
    padding-block-start: 2rem;
  }
}
.header__content {
  display: flex;
  flex-direction: column;
  row-gap: min(10.6666666667vw, 2.5rem);
  inline-size: 100%;
  margin-inline: auto;
  padding-inline: min(4.2666666667vw, 1rem);
}
@media (min-width: 48rem) {
  .header__content {
    padding-inline: min(4.1666666667vw, 2rem);
    row-gap: min(8.3333333333vw, 4rem);
  }
}
@media (min-width: 75rem) {
  .header__content {
    padding-inline: min(11.4583333333vw, 10.3125rem);
  }
}

.cta-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cta-bar__logo {
  block-size: auto;
  display: block;
  inline-size: clamp(3rem, 8.34vw, 4rem);
}

.btn__free-consultation {
  border: none;
  border-radius: 9999rem;
  color: #ffffff;
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  inline-size: fit-content;
  line-height: 1.5;
  padding: 0.875rem min(6.25vw, 3rem);
  cursor: pointer;
}
.btn__free-consultation--primary {
  background-color: #030303;
}
.btn__free-consultation--primary:hover {
  background-color: #755cde;
}
.btn__free-consultation--primary:focus {
  outline-color: #755cde;
  outline-offset: 0.1875rem;
}
.btn__free-consultation--secondary {
  background-color: #e16b5b;
}
.btn__free-consultation--secondary:hover {
  background-color: #f6a560;
}
.btn__free-consultation--secondary:focus {
  outline-color: #e16b5b;
  outline-offset: 0.1875rem;
}

.about {
  margin-inline: auto;
  padding-inline: min(4.2666666667vw, 1rem);
  inline-size: 100%;
}
@media (min-width: 48rem) {
  .about {
    padding-inline: min(4.1666666667vw, 2rem);
  }
}
@media (min-width: 62rem) {
  .about {
    padding-inline: min(11.4583333333vw, 10.3125rem);
  }
}
.hero {
  text-align: center;
}
.hero__title {
  color: #030303;
  display: inline-block;
  font-size: clamp(2.5rem, 0.5rem + 3.3333333333vw, 3.5rem);
  font-weight: 700;
  line-height: 1.2;
  max-inline-size: 15ch;
  padding-block-end: 1.25rem;
}
@media (min-width: 48rem) {
  .hero__title {
    max-inline-size: 100%;
    line-height: 1.3;
  }
}
.hero__text {
  margin-inline: auto;
  font-weight: 500;
  color: #6a6662;
  font-size: clamp(1rem, 0.5rem + 2.6666666667vw, 1.125rem);
  line-height: 1.5;
}
@media (min-width: 36rem) {
  .hero__text {
    max-inline-size: 35.5rem;
  }
}

.services__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 182px);
  grid-template-areas: "graphic graphic" "graphic graphic" "ui apps" "illustrations illustrations" "photography photography" "motion motion";
  gap: 20px;
  list-style-type: none;
}
@media (min-width: 36rem) {
  .services__list {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 182px);
    grid-template-areas: "graphic graphic ui apps" "graphic graphic illustrations illustrations" "photography photography motion motion";
  }
}
@media (min-width: 75rem) {
  .services__list {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 182px);
    grid-template-areas: "graphic graphic ui apps photography photography" "graphic graphic illustrations illustrations motion motion";
  }
}
.services__item {
  position: relative;
  border-radius: 0.5rem;
  padding: 1.25rem;
}
.services__item--graphic {
  grid-area: graphic;
  background-color: #755cde;
}
.services__item--ui {
  grid-area: ui;
  background-color: #f6a560;
}
.services__item--apps {
  grid-area: apps;
  background-color: #f39e9e;
}
.services__item--illustrations {
  grid-area: illustrations;
  background-color: #e16b5b;
}
.services__item--photography {
  grid-area: photography;
  background-color: #61c4b7;
}
.services__item--motion {
  grid-area: motion;
  background-color: #552049;
}
.services__item-img-pattern {
  position: absolute;
  right: 20px;
}
.services__item-title {
  position: absolute;
  bottom: 20px;
  display: block;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.3;
  text-align: start;
}

.footer__content {
  margin-inline: auto;
  padding-inline: min(4.2666666667vw, 1rem);
  inline-size: 100%;
  padding-block-end: 1.5rem;
}
@media (min-width: 48rem) {
  .footer__content {
    padding-inline: min(4.1666666667vw, 2rem);
    padding-block-end: min(5.2083333333vw, 2.5rem);
  }
}
@media (min-width: 62rem) {
  .footer__content {
    padding-inline: min(11.4583333333vw, 10.3125rem);
    padding-block-end: min(4.4444444444vw, 4rem);
  }
}

/*# sourceMappingURL=style.css.map */
