<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/favicon-32x32.png"
    />
    <title>Frontend Mentor | Mortgage repayment calculator</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/pretty-checkbox.min.css" />
    <script src="/js/form.js" defer></script>
  </head>
  <body>
    <div class="container">
      <main class="main">
        <div class="calculator">
          <div class="content">
            <div class="content__header">
              <h1 class="content__title">Mortgage Calculator</h1>
              <button class="content__btn-clear" type="button">
                Clear All
              </button>
            </div>
            <form class="form" action="">
              <div class="form__field">
                <label class="form__label" for="amount">Mortgage Amount</label>
                <div class="form__input-container">
                  <span
                    class="form__label-secondary form__label-secondary--initial"
                    >£</span
                  >
                  <input
                    class="form__input"
                    type="number"
                    id="amount"
                    min="0"
                    step="0.001"
                    aria-errormessage="amount-error"
                    aria-invalid="false"
                  />
                </div>
                <span class="form__error" id="amount-error" role="alert"
                  >This field is required</span
                >
              </div>
              <div class="form__inputs-row">
                <div class="form__field">
                  <label for="term" class="form__label">Mortgage Term</label>
                  <div class="form__input-container">
                    <input
                      class="form__input"
                      type="number"
                      id="term"
                      min="0"
                      aria-errormessage="term-error"
                      aria-invalid="false"
                    />
                    <span
                      class="form__label-secondary form__label-secondary--final"
                      >years</span
                    >
                  </div>
                  <span class="form__error" id="term-error" role="alert"
                    >This field is required</span
                  >
                </div>
                <div class="form__field">
                  <label for="rate" class="form__label">Interest Rate</label>
                  <div class="form__input-container">
                    <input
                      class="form__input"
                      type="number"
                      id="rate"
                      min="0"
                      step="0.01"
                      aria-errormessage="rate-error"
                      aria-invalid="false"
                    />
                    <span
                      class="form__label-secondary form__label-secondary--final"
                      >%</span
                    >
                  </div>
                  <span class="form__error" id="rate-error" role="alert"
                    >This field is required</span
                  >
                </div>
              </div>
              <fieldset class="form__fieldset" aria-describedby="radio-error">
                <legend class="form__fieldset-legend">Mortgage Type</legend>
                <div class="form__radio">
                  <div class="pretty p-default p-round">
                    <input
                      type="radio"
                      name="type"
                      value="repayment"
                      id="repayment"
                      aria-errormessage="radio-error"
                      aria-invalid="false"
                    />
                    <div class="state p-primary-o">
                      <label for="repayment">Repayment</label>
                    </div>
                  </div>
                </div>
                <div class="form__radio">
                  <div class="pretty p-default p-round">
                    <input
                      type="radio"
                      name="type"
                      value="interest"
                      id="interest"
                      aria-errormessage="radio-error"
                      aria-invalid="false"
                    />
                    <div class="state p-primary-o">
                      <label for="interest">Interest Only</label>
                    </div>
                  </div>
                </div>
                <span class="form__error" id="radio-error" role="alert"
                  >This field is required</span
                >
              </fieldset>
              <button class="form__btn-calculate" type="submit">
                <img
                  class="form__btn-icon"
                  src="/images/icon-calculator.svg"
                  alt=""
                />
                Calculate Repayments
              </button>
            </form>
          </div>
          <div class="results">
            <!-- <div class="results-shown-here">
              <div class="results-shown-here__wrapper-image">
                <img
                  class="results-shown-here__image"
                  src="/images/illustration-empty.svg"
                  alt="coins, a pen, a contract, cash and calculator"
                />
              </div>
              <div class="results-shown-here__content">
                <h2 class="results-shown-here__title">Results shown here</h2>
                <p class="results-shown-here__text">
                  Complete the form and click “calculate repayments” to see what
                  your monthly repayments would be.
                </p>
              </div>
            </div>  -->
            <div class="results-your">
              <div class="results-your__content">
                <h2 class="results-your__title">Your results</h2>
                <p class="results-your__text">
                  Your results are shown below based on the information you
                  provided. To adjust the results, edit the form and click
                  “calculate repayments” again.
                </p>
              </div>
              <div class="results-your__card">
                <h3 class="results-your__subtitle" id="repayment-label">
                  Your monthly repayments
                </h3>
                <p class="results-your__value-principal">
                  £<data
                    id="repayments"
                    aria-labelledby="repayment-label"
                    value=""
                    >1,797.74</data
                  >
                </p>
                <hr />
                <h3 class="results-your__subtitle" id="repay-label">
                  Total you'll repay over the term
                </h3>
                <p class="results-your__value-secondary">
                  £<data id="repay" aria-labelledby="repay-label" value=""
                    >539,322.94</data
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer class="footer">
        <div class="attribution">
          Challenge by
          <a
            class="attribution__link"
            href="https://www.frontendmentor.io/profile/rafaeldgeo"
            target="_blank"
            rel="noopener noreferrer"
            >Frontend Mentor</a
          >. Coded by
          <a
            class="attribution__link"
            href="https://www.linkedin.com/in/rafaeldgeo/"
            target="_blank"
            rel="noopener noreferrer"
            >Rafael Dias de Almeida</a
          >.
        </div>
      </footer>
    </div>
  </body>
</html>
