<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/favicon-32x32.png"
    />
    <title>Frontend Mentor | Mortgage repayment calculator</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/pretty-checkbox.css" />
  </head>
  <body>
    <div class="container">
      <main class="main">
        <div class="calculator">
          <div class="content">
            <div class="content__header">
              <h1 class="content__title">Mortgage Calculator</h1>
              <button class="content__btn-clear" type="button">
                Clear All
              </button>
            </div>
            <form class="form" action="">
              <div class="form__field">
                <label class="form__label" for="amount">Mortgage Amount</label>
                <div class="form__input-container">
                  <span class="form__label-secondary form__label-secondary--initial">£</span>
                  <input class="form__input" type="number" id="amount" />
                </div>
              </div>
              <div class="form__inputs-row">
                <div class="form__field">
                  <label for="term" class="form__label">Mortgage Term</label>
                  <div class="form__input-container">
                    <input class="form__input" type="number" id="term" />
                    <span class="form__label-secondary form__label-secondary--final">years</span>
                  </div>
                </div>
                <div class="form__field">
                  <label for="rate" class="form__label">Interest Rate</label>
                  <div class="form__input-container">
                    <input class="form__input" type="number" id="rate" />
                    <span class="form__label-secondary form__label-secondary--final">%</span>
                  </div>
                </div>
              </div>
              <fieldset class="form__fieldset">
                <legend class="form__fieldset-legend">Mortgage Type</legend>
                <div class="form__radio">
                  <div class="pretty p-default p-round">
                    <input
                      type="radio"
                      name="type"
                      value="repayment"
                      id="repayment"
                    />
                    <div class="state p-primary-o">
                      <label for="repayment">Repayment</label>
                    </div>
                  </div>
                </div>
                <div class="form__radio">
                  <div class="pretty p-default p-round">
                    <input
                      type="radio"
                      name="type"
                      value="interest"
                      id="interest"
                    />
                    <div class="state p-primary-o">
                      <label for="interest">Interest Only</label>
                    </div>
                  </div>
                </div>
              </fieldset>
              <button class="form__btn-calculate" type="submit">
                <img
                  class="form__btn-icon"
                  src="/images/icon-calculator.svg"
                  alt=""
                />
                Calculate Repayments
              </button>
            </form>
          </div>
          <div class="results">
            <div class="results__shown">
              <div class="results__shown-wrapper-image">
                <img
                  class="results__shown-image"
                  src="/images/illustration-empty.svg"
                  alt="coins, a pen, a contract, cash and calculator"
                />
              </div>
              <div class="results__shown-content">
                <h2 class="results__shown-title">Results shown here</h2>
                <p class="results__shown-text">
                  Complete the form and click “calculate repayments” to see what
                  your monthly repayments would be.
                </p>
              </div>
            </div>
            <div class="results__your">
              <h2 class="results__your-title">Your results</h2>
              <p class="results__your-text">
                Your results are shown below based on the information you
                provided. To adjust the results, edit the form and click
                “calculate repayments” again.
              </p>
              <div class="results__your-wapprer-values">
                <h3 class="results__your-subtitle" id="repayment-label">
                  Your monthly repayments
                </h3>
                <p class="results__your-value">
                  £<data
                    id="repayments"
                    aria-labelledby="repayment-label"
                    value=""
                    >1,797.74</data
                  >
                </p>
                <hr />
                <h3 class="results__your-subtitle" id="repay-label">
                  Total you'll repay over the term
                </h3>
                <p class="results__your-value">
                  £<data id="repay" aria-labelledby="repay-label" value=""
                    >539,322.94</data
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer class="footer">
        <div class="attribution">
          Challenge by
          <a
            class="attribution__link"
            href="https://www.frontendmentor.io/profile/rafaeldgeo"
            target="_blank"
            rel="noopener noreferrer"
            >Frontend Mentor</a
          >. Coded by
          <a
            class="attribution__link"
            href="https://www.linkedin.com/in/rafaeldgeo/"
            target="_blank"
            rel="noopener noreferrer"
            >Rafael Dias de Almeida</a
          >.
        </div>
      </footer>
    </div>
  </body>
</html>
