<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/favicon-32x32.png"
    />
    <title>Frontend Mentor | Mortgage repayment calculator</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/pretty-checkbox.min.css">
  </head>
  <body>
    <div class="container">
      <main class="main">
        <div class="calculator">
          <div class="content">
            <div class="content__header">
              <h1 class="content__title">Mortgage Calculator</h1>
              <button class="content__btn-clear" type="button">
                Clear All
              </button>
            </div>
            <form class="content__form" action="">
              <div class="content__field">
                <label class="content__label" for="amount"
                  >Mortgage Amount</label
                >
                <input class="content__input" type="number" id="amount" />
              </div>
              <div class="content__inputs-row">
                <div class="content__field">
                  <label for="term" class="content__label">Mortgage Term</label>
                  <input class="content__input" type="number" id="term" />
                </div>
                <div class="content__field">
                  <label for="rate" class="content__label">Interest Rate</label>
                  <input class="content__input" type="number" id="rate" />
                </div>
              </div>
              <fieldset>
                <legend>Mortgage Type</legend>
                <div class="pretty p-default p-round">
                  <input type="radio" name="type" value="repayment" />
                  <div class="state">
                    <label>Repayment</label>
                  </div>
                </div>
                <div class="pretty p-default p-round">
                  <input type="radio" name="type" value="interest" />
                  <div class="state">
                    <label>Interest Only</label>
                  </div>
                </div>
              </fieldset>
              <input type="submit" value="Calculate Repayments" />
            </form>
          </div>
          <div class="results">
            <div class="results__shown">
              <div class="results__shown-wrapper-image">
                <img
                  class="results__shown-image"
                  src="/images/illustration-empty.svg"
                  alt="coins, a pen, a contract, cash and calculator"
                />
              </div>
              <div class="results__shown-content">
                <h2 class="results__shown-title">Results shown here</h2>
                <p class="results__shown-text">
                  Complete the form and click “calculate repayments” to see what
                  your monthly repayments would be.
                </p>
              </div>
            </div>
            <div class="results__your">
              <h2 class="results__your-title">Your results</h2>
              <p class="results__your-text">
                Your results are shown below based on the information you
                provided. To adjust the results, edit the form and click
                “calculate repayments” again.
              </p>
              <div class="results__your-wapprer-values">
                <h3 class="results__your-subtitle" id="repayment-label">
                  Your monthly repayments
                </h3>
                <p class="results__your-value">
                  £<data
                    id="repayments"
                    aria-labelledby="repayment-label"
                    value=""
                    >1,797.74</data
                  >
                </p>
                <hr />
                <h3 class="results__your-subtitle" id="repay-label">
                  Total you'll repay over the term
                </h3>
                <p class="results__your-value">
                  £<data id="repay" aria-labelledby="repay-label" value=""
                    >539,322.94</data
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer class="footer">
        <div class="attribution">
          Challenge by
          <a
            class="attribution__link"
            href="https://www.frontendmentor.io/profile/rafaeldgeo"
            target="_blank"
            rel="noopener noreferrer"
            >Frontend Mentor</a
          >. Coded by
          <a
            class="attribution__link"
            href="https://www.linkedin.com/in/rafaeldgeo/"
            target="_blank"
            rel="noopener noreferrer"
            >Rafael Dias de Almeida</a
          >.
        </div>
      </footer>
    </div>
  </body>
</html>
