<div class="results-your">
  <div class="results-your__content">
    <h2 class="results-your__title">Your results</h2>
    <p class="results-your__text">
      Your results are shown below based on the information you provided. To
      adjust the results, edit the form and click “calculate repayments” again.
    </p>
  </div>
  <div class="results-your__card">
    <h3 class="results-your__subtitle" id="repayment-label">
      Your monthly repayments
    </h3>
    <p class="results-your__value-principal">
      <data id="repayments" aria-labelledby="repayment-label" value=<%= results.monthlyPayment %>
        ><%= results.monthlyPayment %></data
      >
    </p>
    <hr />
    <h3 class="results-your__subtitle" id="repay-label">
      Total you'll repay over the term
    </h3>
    <p class="results-your__value-secondary">
      <data id="repay" aria-labelledby="repay-label" value=<%= results.totalRepayment %>><%= results.totalRepayment %></data>
    </p>
  </div>
</div>
