@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

:root {
  --moderate-violet: hsl(263, 55%, 52%);
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --very-dark-blackish-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(0, 0%, 81%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --font: 'Barlow Semi Condensed', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font);
  background-color: var(--light-grayish-blue); 
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  color: transparent;
}

main {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.container {
  display: grid;
  grid-template-columns: minmax(min-content, 345px);
  grid-template-rows: repeat(5, min-content);
  grid-template-areas: 
    "daniel"
    "jonathan" 
    "jeanette"
    "patrick"
    "kira";
  gap: min(5vw, 2rem) 0;
  margin: 2rem 0.6rem 0.6rem 0.6rem;
} 


.testimonial--daniel {
  grid-area: daniel;
}

.testimonial--jonathan {
  grid-area: jonathan;
}

.testimonial--kira {
  grid-area: kira;
}

.testimonial--jeanette {
  grid-area: jeanette;
}

.testimonial--patrick {
  grid-area: patrick;
}

@media only screen and (min-width: 576px) {

  .container {
    grid-template-columns: repeat(2, minmax(min-content, 250px));
    grid-template-rows: repeat(4, min-content);
    grid-template-areas: 
      "daniel daniel" 
      "jonathan jeanette"
      "patrick patrick" 
      "kira kira";
    gap: min(1.7vw, 1.5rem);
  }
}

@media only screen and (min-width: 992px) {
  
  .container {
    grid-template-columns: repeat(4, minmax(min-content, 250px));
    grid-template-rows: repeat(2, min-content);
    grid-template-areas: 
      "daniel daniel jonathan kira"
      "jeanette patrick patrick kira";
    gap: min(1.7vw, 1.5rem);
  }
}

.footer {
  flex-shrink: 0;
  margin: 0.6rem 0;
}

.footer__attribution { 
  font-size: 11px; 
  text-align: center; 
}

.footer__link { color: var(--moderate-violet); }
