<div class="confirm-add">
  <img class="confirm-add__icon" src="/images/icon-complete.svg" alt="" />
  <div class="confirm-add__content">
    <p class="confirm-add__title">THANK YOU!</p>
    <p class="confirm-add__message">We’ve added your card details</p>
  </div>
  <button class="btn" id="btn-continue" type="button">Continue</button>
</div>
