<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/favicon-32x32.png"
    />
    <title>Frontend Mentor | Interactive card details form</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <main class="main">
        <div class="content">
          <figure class="card-front">
            <figcaption class="sr-only">Credit Card front</figcaption>
            <img class="card-front__logo" src="/images/card-logo.svg" alt="" />
            <div class="card-front__info-wrapper">
              <p class="sr-only" id="cardNumber">Card Number</p>
              <p class="card-front__card-number" aria-labelledby="cardNumber">
                0000 0000 0000 0000
              </p>
              <div class="card-front__id-wrapper">
                <p class="sr-only" id="cardHolderName">Cardholder Name</p>
                <p
                  class="card-front__cardholder-name"
                  aria-labelledby="cardHolderName"
                >
                  JANE APPLESSED
                </p>
                <p class="sr-only" id="expDate">Exp. Date (MM/YY)</p>
                <p class="card-front__exp-date" aria-labelledby="expDate">
                  00/00
                </p>
              </div>
            </div>
          </figure>
          <figure class="card-back">
            <figcaption class="sr-only">Credit Card back</figcaption>
            <p class="sr-only" id="cvc">CVC</p>
            <p class="card-back__cvc" aria-labelledby="cvc">000</p>
          </figure>
          <div class="customer-datas">
            <form class="form" novalidate>
              <div class="form__container-fields">
                <div class="form__field">
                  <label class="form__label-input" for="inputCardHolder"
                    >Cardholder Name</label
                  >
                    <input
                      class="form__input"
                      type="text"
                      name="name"
                      id="inputCardHolder"
                      placeholder="e.g. Jane Appleseed"
                      autocomplete="true"
                      aria-errormessage="inputErrorName"
                    />
                  <span
                    class="form__input-error"
                    id="inputErrorName"
                    role="alert"
                    >Can’t be blank</span
                  >
                </div>
                <div class="form__field">
                  <label class="form__label-input" for="inputCardNumber"
                    >Card Number</label
                  >
                  <input
                    class="form__input"
                    type="text"
                    name="number"
                    id="inputCardNumber"
                    placeholder="e.g. 1234 5678 9123 0000"
                    aria-errormessage="inputErrorNumber"
                  />
                  <span
                    class="form__input-error"
                    id="inputErrorNumber"
                    role="alert"
                    >Wrong format, numbers only</span
                  >
                  <!-- inserir mensagem de erro vazio, verificar com JS -->
                </div>
                <div class="form__field-group-row">
                  <div class="form__field">
                    <label class="form__label-input" for="inputExpDateMonth">
                      Exp. Date (MM/YY)</label
                    >
                    <div class="form__input-row">
                      <input
                        class="form__input"
                        type="text"
                        name="month"
                        id="inputExpDateMonth"
                        placeholder="MM"
                      />
                      <input
                        class="form__input"
                        type="text"
                        name="year"
                        id="expDateYear"
                        placeholder="YY"
                      />
                    </div>
                    <span class="form__input-error" id="" role="alert"
                      >Can’t be blank</span
                    >
                    <!-- aviso de erro vai depender do campo preenchido, verificar com JS -->
                  </div>
                  <div class="form__field">
                    <label class="form__label-input" for="inputCardCvc"
                      >CVC</label
                    >
                    <input
                      class="form__input"
                      type="text"
                      name="cvc"
                      id="inputCardCvc"
                      placeholder="e.g. 123"
                      aria-errormessage="inputErrorCvc"
                    />
                    <span
                      class="form__input-error"
                      id="inputErrorCvc"
                      role="alert"
                      >Can’t be blank</span
                    >
                  </div>
                </div>
              </div>
              <input class="btn" type="submit" value="Confirm" />
            </form>
            <!-- <div class="confirm-add">
              <img class="confirm-add__icon" src="/images/icon-complete.svg" alt="">
              <div class="confirm-add__content">
                <p class="confirm-add__title">THANK YOU!</p>
                <p class="confirm-add__message">We’ve added your card details</p>
              </div>
              <button class="btn" type="button">Continue</button>
            </div> -->
          </div>
        </div>
      </main>
      <footer class="footer">
        <div class="attribution">
          Challenge by
          <a
            class="attribution__link"
            href="https://www.frontendmentor.io/profile/rafaeldgeo"
            target="_blank"
            rel="noopener noreferrer"
            >Frontend Mentor</a
          >. Coded by
          <a
            class="attribution__link"
            href="https://www.linkedin.com/in/rafaeldgeo/"
            target="_blank"
            rel="noopener noreferrer"
            >Rafael Dias de Almeida</a
          >.
        </div>
      </footer>
    </div>
  </body>
</html>
