<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/favicon-32x32.png"
    />
    <title>Frontend Mentor | Interactive card details form</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script type="module" src="/js/form_style.js" defer></script>
    <script type="module" src="/js/form_valid.js" defer></script>
    <script type="module" src="/js/form_submit.js" defer></script>
    <script type="module" src="/js/card_data.js" defer></script>
  </head>
  <body>
    <div class="container">
      <main class="main">
        <h1 class="sr-only">Interactive card details form</h1>
        <div class="content">
          <figure class="card-front">
            <figcaption class="sr-only">Credit Card front</figcaption>
            <img class="card-front__logo" src="/images/card-logo.svg" alt="" />
            <div class="card-front__info-wrapper">
              <p class="sr-only" id="cardNumber">Card Number</p>
              <p class="card-front__card-number" aria-labelledby="cardNumber">
                0000 0000 0000 0000
              </p>
              <div class="card-front__id-wrapper">
                <p class="sr-only" id="cardHolderName">Cardholder Name</p>
                <p
                  class="card-front__cardholder-name"
                  aria-labelledby="cardHolderName"
                >
                  JANE APPLESSED
                </p>
                <p class="sr-only" id="expDate">Exp. Date (MM/YY)</p>
                <p class="card-front__exp-date" aria-labelledby="expDate">
                  <span class="card-front__month">00</span>/<span
                    class="card-front__year"
                    >00</span
                  >
                </p>
              </div>
            </div>
          </figure>
          <figure class="card-back">
            <figcaption class="sr-only">Credit Card back</figcaption>
            <p class="sr-only" id="cvc">CVC</p>
            <p class="card-back__cvc" aria-labelledby="cvc">000</p>
          </figure>
          <div class="customer-datas">
            <form class="form" novalidate>
              <div class="form__container-fields">
                <div class="form__field">
                  <label class="form__label-input" for="inputCardHolder"
                    >Cardholder Name</label
                  >
                  <div class="form__input-wrapper">
                    <input
                      class="form__input"
                      type="text"
                      name="cardholder"
                      id="inputCardHolder"
                      placeholder="e.g. Jane Appleseed"
                      autocomplete="cc-name"
                      aria-errormessage="inputErrorName"
                    />
                  </div>
                  <span
                    class="form__msg-error"
                    role="alert"
                    id="inputErrorName"
                  ></span>
                </div>
                <div class="form__field">
                  <label class="form__label-input" for="inputCardNumber"
                    >Card Number</label
                  >
                  <div class="form__input-wrapper">
                    <input
                      class="form__input"
                      type="text"
                      name="cardnumber"
                      id="inputCardNumber"
                      placeholder="e.g. 1234 5678 9123 0000"
                      autocomplete="cc-number"
                      aria-errormessage="inputErrorNumber"
                    />
                  </div>
                  <span
                    class="form__msg-error"
                    role="alert"
                    id="inputErrorNumber"
                  ></span>
                </div>
                <div class="form__field-group-row">
                  <div class="form__field-row">
                    <label class="form__label-input" for="inputExpDateMonth">
                      Exp. Date (MM/YY)</label
                    >
                    <div class="form__input-row">
                      <div class="form__field">
                        <div class="form__input-wrapper">
                          <input
                            class="form__input"
                            type="text"
                            name="expmonth"
                            id="inputExpDateMonth"
                            autocomplete="cc-exp-month"
                            placeholder="MM"
                            aria-errormessage="inputErrorMonth"
                          />
                        </div>
                        <span
                          class="form__msg-error"
                          role="alert"
                          id="inputErrorMonth"
                        ></span>
                      </div>
                      <div class="form__field">
                        <div class="form__input-wrapper">
                          <input
                            class="form__input"
                            type="text"
                            name="expyear"
                            id="inputExpDateYear"
                            placeholder="YY"
                            autocomplete="cc-exp-year"
                            aria-errormessage="inputErrorYear"
                          />
                        </div>
                        <span
                          class="form__msg-error"
                          role="alert"
                          id="inputErrorYear"
                        ></span>
                      </div>
                    </div>
                  </div>
                  <div class="form__field form__field--into-group-row">
                    <label class="form__label-input" for="inputCardCvc"
                      >CVC</label
                    >
                    <div class="form__input-wrapper">
                      <input
                        class="form__input"
                        type="text"
                        name="cardcvc"
                        id="inputCardCvc"
                        placeholder="e.g. 123"
                        autocomplete="cc-csc"
                        aria-errormessage="inputErrorCvc"
                      />
                    </div>
                    <span
                      class="form__msg-error"
                      role="alert"
                      id="inputErrorCvc"
                    ></span>
                  </div>
                </div>
              </div>
              <button class="btn" id="btn-confirm" type="submit">
                Confirm
              </button>
            </form>
          </div>
        </div>
      </main>
      <footer class="footer">
        <div class="attribution">
          Challenge by
          <a
            class="attribution__link"
            href="https://www.frontendmentor.io/profile/rafaeldgeo"
            target="_blank"
            rel="noopener noreferrer"
            >Frontend Mentor</a
          >. Coded by
          <a
            class="attribution__link"
            href="https://www.linkedin.com/in/rafaeldgeo/"
            target="_blank"
            rel="noopener noreferrer"
            >Rafael Dias de Almeida</a
          >.
        </div>
      </footer>
    </div>
  </body>
</html>
