<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/favicon-32x32.png"
    />
    <title>Frontend Mentor | Interactive card details form</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <main class="main">
        <div class="content">
          <figure class="card-front">
            <figcaption class="sr-only">Credit Card front</figcaption>
            <div class="card__logo-wrapper">
              <img class="card__logo" src="/images/card-logo.svg" alt="" />
            </div>
            <div class="card-front__info-wrapper">
              <p class="sr-only" id="cardNumber">Card Number</p>
              <p class="card-front__card-number" aria-labelledby="cardNumber">
                0000 0000 0000 0000
              </p>
              <div class="card-front__id-wrapper">
                <p class="sr-only" id="cardHolderName">Cardholder Name</p>
                <p
                  class="card-front__cardholder-name"
                  aria-labelledby="cardHolderName"
                >
                  JANE APPLESSED
                </p>
                <p class="sr-only" id="expDate">Exp. Date (MM/YY)</p>
                <p class="card-front__exp-date" aria-labelledby="expDate">
                  00/00
                </p>
              </div>
            </div>
          </figure>
          <figure class="card-back">
            <figcaption class="sr-only">Credit Card back</figcaption>
            <p class="sr-only" id="cvc">CVC</p>
            <p class="card-back__cvc" aria-labelledby="cvc">000</p>
          </figure>
        </div>
      </main>
      <footer class="footer">
        <div class="attribution">
          Challenge by
          <a
            class="attribution__link"
            href="https://www.frontendmentor.io/profile/rafaeldgeo"
            target="_blank"
            rel="noopener noreferrer"
            >Frontend Mentor</a
          >. Coded by
          <a
            class="attribution__link"
            href="https://www.linkedin.com/in/rafaeldgeo/"
            target="_blank"
            rel="noopener noreferrer"
            >Rafael Dias de Almeida</a
          >.
        </div>
      </footer>
    </div>
  </body>
</html>
