@use "base";
@use "mixins" as mx;
@include base.reset;

html,
body {
  background-color: base.$slate-100;
  block-size: 100dvh;
  block-size: 100vh;
  inline-size: 100%;
}

body {
  display: flex;
  justify-content: center;
  min-block-size: 100dvh;
  min-block-size: 100vh;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  max-inline-size: 1440px;
  min-block-size: inherit;
}

.main {
  align-items: center;
  display: flex;
  flex: 1 0 auto;
  inline-size: 100%;
  justify-content: center;
}

.calculator {
  background-color: base.$white;
  border-radius: base.convertPxToRem(24);
  border-radius: 0;
  display: flex;
  flex-direction: column;
  inline-size: inherit;
  max-inline-size: 1008px;
  box-shadow: 0 32px 64px 0 base.$shadow #133041;

  @include base.breakpoints(sm) {
    border-radius: base.convertPxToRem(24) base.convertPxToRem(24);
    margin: base.fluidSpace(40, "tablet");
  }

  @include base.breakpoints(md) {
    flex-direction: row;
    margin: base.fluidSpace(40, "desktop");
  }
}

.content,
.results {
  padding: base.fluidSpace(32) base.fluidSpace(24);

  @include base.breakpoints(sm) {
    padding: base.fluidSpace(40, "tablet");
  }

  @include base.breakpoints(md) {
    flex: 0 1 504px;
    padding: base.fluidSpace(40, "desktop");
  }
}

.content {
  &__header {
    align-items: self-start;
    display: flex;
    flex-direction: column;
    padding-block-end: base.fluidSpace(24);
    row-gap: base.fluidSpace(8);

    @include base.breakpoints(ex) {
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      padding-block-end: base.fluidSpace(40, "tablet");
      row-gap: 0;
    }

    @include base.breakpoints(md) {
      padding-block-end: base.fluidSpace(40, "desktop");
    }
  }

  &__title {
    color: base.$slate-900;
    font-weight: 700;
    font-size: base.fluidTypo(20, 24);

    @include base.breakpoints(sm) {
      font-size: base.fluidTypo(20, 24, "tablet");
    }

    @include base.breakpoints(md) {
      font-size: base.fluidTypo(20, 24, "desktop");
    }
  }

  &__btn-clear {
    background-color: transparent;
    border: none;
    cursor: pointer;
    flex: 0 0 auto;
    text-decoration: underline;
  }

  .content__btn-clear,
  .form__label,
  .form__fieldset-legend {
    font-weight: 500;
    color: base.$slate-700;
    font-size: base.fluidTypo(10, 16);
    line-height: base.fluidLineHeight(10, 16, 1.5);
    @include mx.fontSize-LineHeight(10, 16, 1.5);
  }

  &__btn-clear:hover {
    color: base.$slate-900;
  }

  .form {
    display: flex;
    flex-direction: column;

    @include mx.row-gap(24);

    &__field,
    &__fieldset {
      display: flex;
      flex-direction: column;
      @include mx.row-gap(12);
    }

    &__fieldset {
      border: none;
    }

    &__fieldset-legend {
      display: block;
      padding-block-end: base.fluidSpace(12);

      @include base.breakpoints(sm) {
        padding-block-end: base.fluidSpace(12, "tablet");
      }

      @include base.breakpoints(md) {
        padding-block-end: base.fluidSpace(12, "desktop");
      }
    }

    &__input-container {
      align-items: center;
      border: 1px solid base.$slate-700;
      border-radius: base.convertPxToRem(4);
      display: flex;
      outline: none;
    }

    &__input-container--focus {
      border: 1px solid base.$lime;
    }

    &__input-container--hover:hover {
      border: 1px solid base.$slate-900;
    }

    &__label-secondary {
      background-color: base.$slate-100;
      color: base.$slate-700;
      display: inline-block;
      font-size: base.fluidTypo(10, 18);
      font-weight: 700;
      padding: base.fluidSpace(12.5) base.fluidSpace(16);
    }

    &__label-secondary--focus {
      background-color: base.$lime;
      color: base.$slate-900;
    }

    &__label-secondary--initial {
      border-radius: base.convertPxToRem(4) 0 0 base.convertPxToRem(4);
    }

    &__label-secondary--final {
      border-radius: 0 base.convertPxToRem(4) base.convertPxToRem(4) 0;
    }

    &__input {
      background-color: transparent;
      border: none;
      font-size: base.fluidTypo(10, 18);
      padding: base.fluidSpace(12.5) base.fluidSpace(16);
      width: 100%;
      font-weight: 700;
      color: base.$slate-900;

      @include base.breakpoints(sm) {
        font-size: base.fluidTypo(10, 18, "tablet");
        padding: base.fluidSpace(12.5, "tablet") base.fluidSpace(16, "tablet");
      }

      @include base.breakpoints(md) {
        font-size: base.fluidTypo(10, 18, "desktop");
        padding: base.fluidSpace(12.5, "desktop") base.fluidSpace(16, "desktop");
      }
    }

    &__input:focus {
      outline: none;
    }

    &__inputs-row {
      display: flex;
      flex-direction: column;

      @include base.breakpoints(ex) {
        flex-direction: row;
        column-gap: base.fluidSpace(24);
      }
    }

    &__radio-container {
      border: 1px solid base.$slate-500;
      border-radius: base.convertPxToRem(4);
      padding: base.fluidSpace(12) base.fluidSpace(16);
    }

    &__radio--checked {
      background-color: base.$lime-background-radio;
      border: 1px solid base.$lime;
      color: base.$slate-900;
  }

    &__radio-container--hover:hover {
      border: 1px solid base.$lime;
    }

    // Pretty checkbox
    .pretty .state label {
      color: base.$slate-900;
      font-size: base.fluidTypo(10, 18);
    }

    .pretty input:focus-visible ~ .state label {
      outline: 2px solid #000;
      outline-offset: 2px;
      border-radius: 1px;
    }

    &__btn-calculate {
      align-items: center;
      background-color: base.$lime;
      border: none;
      border-radius: base.convertPxToRem(30);
      color: base.$slate-900;
      column-gap: base.convertPxToRem(12);
      cursor: pointer;
      display: flex;
      font-size: base.fluidTypo(14, 18);
      font-weight: 800;
      inline-size: 100%;
      justify-content: center;
      padding: base.fluidSpace(16) 0;
      margin-block-start: base.fluidSpace(16);

      @include base.breakpoints(ex) {
        font-size: base.fluidTypo(14, 18, "tablet");
        inline-size: fit-content;
        margin-block-start: base.fluidSpace(16, "tablet");
        padding: base.fluidSpace(16, "tablet") base.fluidSpace(40, "tablet");
      }

      @include base.breakpoints(md) {
        font-size: base.fluidTypo(14, 18, "desktop");
        margin-block-start: base.fluidSpace(16, "desktop");
        padding: base.fluidSpace(16, "desktop") base.fluidSpace(40, "desktop");
      }
    }

    &__btn-calculate:hover {
      background-color: base.$lime-hover;
    }

    &__error {
      display: none;
      color: base.$red;
      font-weight: 500;
      font-size: base.fluidTypo(10, 14);
      line-height: base.fluidLineHeight(10, 14, 1.5);
      @include mx.fontSize-LineHeight(10, 14, 1.5);
    }
  }
}

.results {
  background-color: base.$slate-900;
  border-radius: 0;
  display: flex;
  align-items: center;

  @include base.breakpoints(sm) {
    border-radius: 0 0 base.convertPxToRem(24) base.convertPxToRem(24);
  }

  @include base.breakpoints(md) {
    border-radius: 0 base.convertPxToRem(24) base.convertPxToRem(24)
      base.convertPxToRem(80);
  }

  .results-shown-here {
    align-items: center;
    display: flex;
    flex-direction: column;

    .results-shown-here__image {
      max-inline-size: 192px;
      inline-size: 100%;
      block-size: auto;
    }

    .results-shown-here__content {
      @include mx.results-content();
    }

    .results-shown-here__title {
      @include mx.results-title();
    }

    .results-shown-here__text {
      @include mx.results-text();
    }
  }

  .results-your {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    @include mx.row-gap(40);

    .results-your__content {
      @include mx.results-content(start);
    }

    .results-your__title {
      @include mx.results-title(start);
    }

    .results-your__text {
      @include mx.results-text(start);
    }

    .results-your__card {
      background-color: base.$black-transparence;
      border-radius: base.convertPxToRem(8);
      border-top: 4px solid base.$lime;
      padding: base.fluidSpace(32);
    }

    .results-your__subtitle {
      color: base.$slate-300;
      font-size: base.fluidTypo(10, 16);
      font-weight: 500;
      line-height: base.fluidLineHeight(10, 16, 1);
      padding-block-end: base.fluidSpace(8);
      @include mx.fontSize-LineHeight(10, 16, 1);
    }

    .results-your__value-principal {
      color: base.$lime;
      font-size: base.fluidTypo(20, 40);
      font-weight: 700;
      line-height: base.fluidLineHeight(20, 40, 1.25);
      @include mx.fontSize-LineHeight(46, 56, 1.25);
    }

    hr {
      margin-block: base.fluidSpace(32);

      @include base.breakpoints(sm) {
        margin-block: base.fluidSpace(32, "tablet");
      }

      @include base.breakpoints(md) {
        margin-block: base.fluidSpace(32, "desktop");
      }

      border-color: base.$hr-color;
    }

    .results-your__value-secondary {
      color: base.$white;
      font-size: base.fluidTypo(14, 24);
      font-weight: 700;
      line-height: base.fluidLineHeight(14, 24, 1.25);
      @include mx.fontSize-LineHeight(14, 24, 1.25);
    }
  }
}

.footer {
  background-color: base.$slate-900;
  inline-size: 100%;
  flex: 0 1 auto;

  @include base.breakpoints(sm) {
    background-color: base.$slate-100;
  }
}

.attribution {
  color: base.$slate-100;
  font-size: 0.6875rem;
  padding-block: 0.5rem;
  text-align: center;

  @include base.breakpoints(sm) {
    color: base.$slate-900;
  }

  &__link {
    color: base.$red;
  }
}
