* {
    // border: 1px solid red;
}

html, body {
    min-height: 100vh;
    overflow-x: hidden;
}

.custom-bg-main {
    background: url("../assets/bg-pattern-1.svg") right -3% / auto no-repeat, 
                url("../assets/bg-main-desktop.png") 40% 98% / auto no-repeat;
}

.custom-illustration-wrapper, 
.custom-box {
    max-inline-size: 512px;
    width: 100%;
}

.custom-hero-wrapper {
    column-gap: 2.5rem;
    display: flex;
    flex-direction: column;
    height: fit-content;
    position: relative;
}

.custom-illustration-wrapper {
     display: flex;
     justify-content: center;
}

.custom-illustration {
    block-size: auto;
    max-inline-size: 208px;
    width: 100%;
}

.custom-box {
    background-color: $orange;
    border-radius: 12px;
    color: $slate;
    padding: 56px;

    &__title {
        font-size: 2.5rem;
        font-weight: 700;
        line-height: $line-height-xs;
    }

    &__description {
        font-size: 1.25rem;
        line-height: $line-height-base;
        padding-block-start: 1.5rem;
    }

    &__price {
        font-size: 4rem;
        font-weight: 700;
        line-height: $line-height-xs;
    }
}

.custom-bg-pattern {
    background: $slate url("../assets/bg-pattern-2.svg") 45.5% top / auto no-repeat;
    border-radius: 12px;
    height: 600px;
    position: absolute;
    top: 42%;
    z-index: -1;
}

@include media-breakpoint-up(sm) {

    body {
        // background-color: red;
    }
    

    // .custom-illustration { max-inline-size: 270px; }
}

@include media-breakpoint-up(md) {

    .custom-bg-main {
        background: url("../assets/bg-pattern-1.svg") 109% -3% / 34% auto no-repeat, 
                    url("../assets/bg-main-tablet.png") 80% -25% / auto no-repeat;
    }

    .custom-hero-wrapper {
        height: 828px;
        margin-block: 5.375rem;
    }

    .custom-illustration-wrapper { 
        justify-content: flex-start;
        align-self: flex-start;
        margin-inline-start: 43px; 
    }
    
    .custom-illustration { max-inline-size: 270px; }

    .custom-box {
        position: absolute;
        top: 24%;
        right: 12%;
        max-inline-size: 356px;
        padding: 48px;

        &__description {
            font-size: 1.125rem;
        }
    }

    .custom-bg-pattern {
        background: $slate url("../assets/bg-pattern-2.svg") left top / auto no-repeat;
        border-radius: 12px;
        height: 600px;
        position: absolute;
        top: 45%;
        z-index: -1;
    }

    body {
        // background-color: blue;
    }

}

@include media-breakpoint-up(lg) {

    body {
        // background-color: yellow;
    }

    .custom-bg-main {
        background: url("../assets/bg-pattern-1.svg") right -3% / auto no-repeat, 
                    url("../assets/bg-main-desktop.png") 40% 98% / auto no-repeat;
    }

    .custom-hero-wrapper {
        align-items: center;
        flex-direction: row;
        height: 842px;
        justify-content: center;
        margin-block: 5rem;
    }

    .custom-illustration-wrapper {
        justify-content: center;
    }
    
    .custom-illustration { max-inline-size: 312px; }

    .custom-box {
        position: static;
        margin-inline-end: 4rem;
        max-inline-size: 512px;
        padding: 56px;
        align-self: flex-end;

        &__description {
            font-size: 1.25rem;
            line-height: $line-height-base;
        }
    }

    .custom-bg-pattern {
        background: $slate url("../assets/bg-pattern-2.svg") 45.5% top / auto no-repeat;
        border-radius: 12px;
        height: 600px;
        position: absolute;
        top: 42%;
        z-index: -1;
    }
}

.icon-medias {
    column-gap: min(2.22vw, 2rem);
    display: flex;
}

.icon-medias a { text-decoration: none; }

.icon-medias svg {
    display: block;
    fill: $slate;
}

.icon-medias svg:hover { fill: $orange; }

.custom-btn-ios:hover {
    background-color: $cyan;
    border: none;
    color: $slate;
}

.custom-btn-ios svg { fill: $white; }

.custom-btn-ios:hover svg { fill: $slate; }

.custom-btn-android:hover {
    background-color: $yellow;
    border-color: none;
    color: $slate;
}







