.custom-bg-main { background: url("../assets/bg-main-mobile.png") -10% -12% / auto no-repeat; }

.custom-illustration, 
.custom-box {
    inline-size: 100%;
}

.custom-intro-title {
    inline-size: 100%;
    max-inline-size: 470px;
}

.custom-intro-description {
    inline-size: 100%;
    max-inline-size: 400px;
}

.custom-hero-wrapper {
    display: flex;
    flex-direction: column;
    height: fit-content;
    row-gap: 3.75rem;
}

.custom-illustration {
     display: flex;
     justify-content: center;

     &__img {
        block-size: auto;
        inline-size: 100%;
        max-inline-size: 208px;
   }
}

.custom-box {
    background-color: $orange;
    color: $slate;
    padding: 1.25rem;

    &__title {
        font-size: 2.5rem;
        font-weight: 700;
        line-height: $line-height-xs;
    }

    &__description {
        font-size: 1.25rem;
        line-height: $line-height-base;
        padding-block-start: 1.5rem;
    }

    &__price {
        font-size: 4rem;
        font-weight: 700;
        line-height: $line-height-xs;
    }
}

.custom-bg-pattern {
    background: $slate url("../assets/bg-pattern-2.svg") 45.5% top / auto no-repeat;
    border-radius: .75rem;
    height: 380px;
    position: absolute;
    top: calc(39% + 2vw);
    z-index: -1;
}

@include media-breakpoint-up(md) {

    .custom-bg-main {
        background: url("../assets/bg-pattern-1.svg") 109% -3% / 34% auto no-repeat, 
                    url("../assets/bg-main-tablet.png") 80% -25% / auto no-repeat;
    }

    .custom-intro-title { max-inline-size: 480px; }

    .custom-intro-description { max-inline-size: 560px; }

    .custom-illustration, 
    .custom-box {
        max-inline-size: 512px;
        width: 100%;
    }

    .custom-hero-wrapper {
        height: 828px;
        margin-block: 5.375rem;
        position: relative;
    }

    .custom-illustration {
          align-self: flex-start;
          justify-content: flex-start;
          margin-inline-start: 2.6875rem;

        &__img {
            max-inline-size: 270px;
        }
    }

    .custom-box {
        border-radius: .75rem;
        max-inline-size: 356px;
        padding: 3rem;
        position: absolute;
        right: 12%;
        top: 24%;

        &__description {
            font-size: 1.125rem;
           }
    }

    .custom-bg-pattern {
        background: $slate url("../assets/bg-pattern-2.svg") left top / auto no-repeat;
        border-radius: .75rem;
        height: 600px;
        top: 45%;
        z-index: -1;
    }

}

@include media-breakpoint-up(lg) {

    .custom-bg-main {
        background: url("../assets/bg-pattern-1.svg") right -3% / auto no-repeat, 
                    url("../assets/bg-main-desktop.png") 40% 98% / auto no-repeat;
    }

    .custom-intro-title { max-inline-size: 928px; }

    .custom-intro-description { max-inline-size: 736px; }

    .custom-hero-wrapper {
        align-items: center;
        column-gap: 2.5rem;
        flex-direction: row;
        height: 842px;
        justify-content: center;
        margin-block: 5rem;
    }

    .custom-illustration {
        justify-content: center;

        &__img { max-inline-size: 312px; }

    }
    
    .custom-box {
        align-self: flex-end;
        margin-inline-end: 4rem;
        max-inline-size: 512px;
        padding: 3.5rem;
        position: static;

        &__description {
            font-size: 1.25rem;
            line-height: $line-height-base;
           }
       }

    .custom-bg-pattern {
        background: $slate url("../assets/bg-pattern-2.svg") 45.5% top / auto no-repeat;
        border-radius: .75rem;
        height: 600px;
        top: 42%;
      }
}

.custom-icon-medias {
    column-gap: 2rem;
    display: flex;
}

.custom-icon-medias a { text-decoration: none; }

.custom-icon-medias svg {
    display: block;
    fill: $slate;
}

.custom-icon-medias svg:hover { fill: $orange; }

.custom-btn-ios:hover {
    background-color: $cyan;
    border: none;
    color: $slate;
}

.custom-btn-ios svg { fill: $white; }

.custom-btn-ios:hover svg { fill: $slate; }

.custom-btn-android:hover {
    background-color: $yellow;
    border-color: none;
    color: $slate;
}







