// colors 
$cyan: #66E2DC;
$orange: #FA7453;
$yellow: #FFB964;
$white: #FCFAF9;
$slate: #191826;

// fonts 
$font-stack: "IBM Plex Sans", sans-serif;

// container 
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1440px
);

// spacers 
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .5,    /* 8px */
  2: $spacer,         /* 16px */
  3: $spacer * 1.25,  /* 20px */
  4: $spacer * 1.5,   /* 24px */
  5: $spacer * 2,     /* 32px */
  6: $spacer * 2.5,   /* 40px */
  7: $spacer * 3,     /* 48px */
  8: $spacer * 3.5,   /* 56px */
  9: $spacer * 4,     /* 64px */
  10: $spacer * 5,    /* 80px */
  11: $spacer * 8,    /* 128px */
  12: $spacer * 10,   /* 160px */
  13: $spacer * 12.5  /* 200px */
);

// change default paragraph margin bottom 1 to 0
$paragraph-margin-bottom: 0;

// change default h1 to h6 margin bottom 1 to 0
$headings-margin-bottom: 0;

// change default border-radius
$border-radius: 1rem;

// change default border-radius
$btn-border-radius: .75rem;

// font-size 
$font-sizes: (
  1: .6875rem,  /* 11px */
  2: 1rem,      /* 16px */
  3: 1.125rem,  /* 18px */
  4: 1.25rem,   /* 20px */
  5: 2.5rem,    /* 40px */
  6: 4rem,      /* 64px */
  7: 5.5rem     /* 88px */
);

// line-height
$line-height-base: 1.5;
$line-height-sm: 1.25;
$line-height-lg: 1.8;

// widths 
$custom-widths: (
    'w-10': 10%, 
    'w-20': 20%, 
    'w-30': 30%,
    'w-45': 45%, 
    'w-40': 40%, 
    'w-60': 60%,
    'w-70': 70%,
    'w-80': 80%,
    'w-90': 90%
);

// create new width class to widths
@each $name, $value in $custom-widths {
  .#{$name} {
      width: $value; 
  }
}

$position-values: (
  0: 0,
  25: 30%,
  50: 50%,
  100: 100%
);