@use "base";

@include base.reset;

html,
body {
  background-color: base.$neutral-200;
  inline-size: 100%;
  max-inline-size: 100vw;
  min-block-size: 100vh;

  // fallback old browsers
  @supports (min-block-size: 100svh) {
    min-block-size: 100svh;
    // small view
  }

  @supports (min-block-size: 100dvh) {
    min-block-size: 100dvh;
    // dynamic view
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  margin-inline: auto;
  max-inline-size: 90rem;
  overflow-x: hidden;
  row-gap: base.fluidSpace(64, 120, 768, 80);

  @include base.breakpoint("xs") {
    row-gap: base.fluidSpace(30, 64, 375);
  }
  
}

.header {
  padding-block-start: base.fluidSpace(24, 32, 992); 
  padding-inline: base.fluidSpace(16, 66, 768, 32);

  .header__content {
    margin-inline: auto;
    max-inline-size: 69.375rem;
  }
}
