@use "base";

@include base.reset;

html,
body {
  background-color: base.$neutral-200;
  inline-size: 100%;
  max-inline-size: 100vw;
  min-block-size: 100vh;

  // fallback old browsers
  @supports (min-block-size: 100svh) {
    min-block-size: 100svh;
    // small view
  }

  @supports (min-block-size: 100dvh) {
    min-block-size: 100dvh;
    // dynamic view
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  margin-inline: auto;
  max-inline-size: 90rem;
  row-gap: base.fluidSpace(64);

  @include base.breakpoint("md") {
    row-gap: base.fluidSpace(80, "tablet");
  }

  @include base.breakpoint("lg") {
    row-gap: base.fluidSpace(120, "desktop");
  }
}

.header {
  padding-block-start: base.convertPxToRem(24);

  @include base.breakpoint("sm") {
    padding-block-start: base.convertPxToRem(32);
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: base.fluidSpace(40);
    inline-size: 100%;
    padding-inline: base.fluidSpace(16);

    @include base.breakpoint("md") {
      padding-inline: base.fluidSpace(32, "tablet");
      row-gap: base.fluidSpace(64, "tablet");
    }

    @include base.breakpoint("xl") {
      padding-inline: base.fluidSpace(165, "desktop");
    }
  }
}

.cta-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    block-size: auto;
    display: block;
    inline-size: clamp(
      base.convertPxToRem(48),
      8.34vw,
      base.convertPxToRem(64)
    );
  }
}

.btn {
  border: none;
  border-radius: 9999rem;
  color: base.$neutral-200;
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  inline-size: fit-content;
  line-height: 1.5;
  padding: base.convertPxToRem(14) base.fluidSpace(48, "tablet");
  cursor: pointer;

  &--primary {
    background-color: base.$neutral-900;
  }

  &--primary:hover {
    background-color: base.$galactic-blue-500;
  }

  &--primary:focus {
    outline-color: base.$galactic-blue-500;
    outline-offset: base.convertPxToRem(3);
  }

  &--secondary {
    background-color: base.$light-red-500;
  }

  &--secondary:hover {
    background-color: base.$summer-yellow-500;
  }

  &--secondary:focus {
    outline-color: base.$light-red-500;
    outline-offset: base.convertPxToRem(3);
  }
}

.hero {
  text-align: center;

  &__title {
    color: base.$neutral-900;
    display: inline-block;
    font-size: base.fluidFont(40, 56, "desktop");
    font-weight: 700;
    line-height: 1.2;
    max-inline-size: 15ch;
    padding-block-end: base.convertPxToRem(20);

    @include base.breakpoint("md") {
      max-inline-size: 100%;
      line-height: 1.3;
    }
  }

  &__text {
    margin-inline: auto;
    font-weight: 500;
    color: base.$neutral-400;
    font-size: base.fluidFont(16, 18);
    line-height: 1.5;

    @include base.breakpoint("sm") {
      max-inline-size: base.convertPxToRem(568);
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  row-gap: base.fluidSpace(64);

  @include base.breakpoint("md") {
    row-gap: base.fluidSpace(80, "tablet");
  }

  @include base.breakpoint("lg") {
    row-gap: base.fluidSpace(120, "desktop");
  }
}

.services {
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 182px);
    grid-template-areas:
      "graphic graphic"
      "graphic graphic"
      "ui apps"
      "illustrations illustrations"
      "photography photography"
      "motion motion";
    gap: 20px;
    list-style-type: none;

    @include base.breakpoint("sm") {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 182px);
      grid-template-areas:
        "graphic graphic ui apps"
        "graphic graphic illustrations illustrations"
        "photography photography motion motion";
    }

    @include base.breakpoint("xl") {
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(2, 182px);
      grid-template-areas:
        "graphic graphic ui apps photography photography"
        "graphic graphic illustrations illustrations motion motion";
    }
  }

  &__item {
    position: relative;
    border-radius: base.convertPxToRem(8);
    padding: base.convertPxToRem(20); // verificar

    &--graphic {
      grid-area: graphic;
      background-color: base.$galactic-blue-500;
    }

    &--ui {
      grid-area: ui;
      background-color: base.$summer-yellow-500;
    }

    &--apps {
      grid-area: apps;
      background-color: base.$pink-500;
    }

    &--illustrations {
      grid-area: illustrations;

      background-color: base.$light-red-500;
    }

    &--photography {
      grid-area: photography;
      background-color: base.$cyan-500;
    }

    &--motion {
      grid-area: motion;
      background-color: base.$dark-purple-500;
    }
  }

  &__item-img-pattern {
    position: absolute;
    right: 20px;
  }

  &__item-title {
    position: absolute;
    bottom: 20px;
    display: block;
    color: base.$neutral-0;
    font-weight: 700;
    font-size: base.convertPxToRem(24);
    line-height: 1.3;
    text-align: start;
  }
}

.about {
  margin-inline: auto;
  padding-inline: base.fluidSpace(16);
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: base.fluidSpace(24) 0;

  @include base.breakpoint("md") {
    padding-inline: base.fluidSpace(32, "tablet");
  }

  @include base.breakpoint("xl") {
    flex-direction: row;
    padding-inline: base.fluidSpace(165, "desktop");
    gap: 0 base.fluidSpace(125, "desktop");
  }

  &__img-amy {
    block-size: auto;
    display: block;
    inline-size: clamp(
      base.convertPxToRem(300),
      39.06vw,
      base.convertPxToRem(445)
    );
    object-fit: contain;

    @include base.breakpoint("xs") {
      inline-size: 100%;
      max-inline-size: base.convertPxToRem(300);
    }
  }

  &__content {
    text-align: center;

    @include base.breakpoint("xl") {
      text-align: start;
    }
  }

  &__title {
    color: base.$neutral-900;
    font-size: base.fluidFont(20, 40);
    line-height: 1.3;
    font-weight: 700;
  }

  &__text {
    color: base.$neutral-400;
    line-height: 1.5;
    font-weight: 500;
    font-size: base.fluidFont(16, 18);
    padding-block: base.fluidSpace(20) base.fluidSpace(32);

    @include base.breakpoint("lg") {
      padding-block: base.fluidSpace(32, "desktop");
    }
  }
}

.my-work {
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  row-gap: base.fluidSpace(40);
  align-items: center;

  @include base.breakpoint("md") {
    row-gap: base.fluidSpace(48, "tablet");
  }

  &__title {
    font-size: base.fluidFont(20, 40);
    font-weight: 700;
    line-height: 1.3;
  }
}

.carousel {
  position: relative;
  overflow: hidden;
  inline-size: 100%;

  &__list {
    column-gap: base.fluidSpace(20);
    display: flex;
    justify-content: center;
    list-style: none;

    @include base.breakpoint("md") {
      column-gap: base.fluidSpace(32, "tablet");
    }
  }

  &__item {
    block-size: auto;
    flex: 0 0 auto;
  }

  &__img {
    border-radius: 10px;
    block-size: auto;
    display: block;
    inline-size: clamp(270px, 46.875vw, 540px);
    max-inline-size: 100%;
    object-fit: contain;
  }

  &__control {
    column-gap: 1rem;
    display: inline-flex;
  }

  &__control-btn {
    align-items: center;
    background-color: base.$neutral-900;
    block-size: clamp(base.convertPxToRem(48), 8.33vw, base.convertPxToRem(64));
    border: none;
    border-radius: 9999rem;
    cursor: pointer;
    display: flex;
    justify-content: center;

    inline-size: clamp(
      base.convertPxToRem(48),
      8.33vw,
      base.convertPxToRem(64)
    );
  }

  &__control-btn:hover {
    background-color: base.$galactic-blue-500;
  }

  &__control-btn:focus {
    outline-color: base.$galactic-blue-500;
    outline-offset: base.convertPxToRem(3);
  }

  &__btn-arrow {
    block-size: 1rem;
    display: block;
    inline-size: base.convertPxToRem(14.81);
    object-fit: contain;
  }
}

.footer {
  &__content {
    display: flex;
    flex-direction: column;
    row-gap: base.fluidSpace(40);
    inline-size: 100%;
    padding-inline: base.fluidSpace(16);

    @include base.breakpoint("md") {
      padding-inline: base.fluidSpace(32, "tablet");
      row-gap: base.fluidSpace(64, "tablet");
    }

    @include base.breakpoint("xl") {
      padding-inline: base.fluidSpace(165, "desktop");
    }
  }

  .attribution {
    flex-shrink: 0;
    color: base.$dark-purple-500;
    font-size: 0.6875rem;
    padding-block-start: base.fluidSpace(24);
    padding-block-end: base.fluidSpace(10);
    text-align: center;

    @include base.breakpoint("md") {
      padding-block-start: base.fluidSpace(40);
    }

    @include base.breakpoint("xl") {
      padding-block-start: base.fluidSpace(64);
    }
  }

  .attribution__link {
    color: base.$galactic-blue-500;
  }
}

.book-call {
  background-color: base.$neutral-900;
  border-radius: base.convertPxToRem(10);
  color: base.$neutral-200;
  padding: base.fluidSpace(40) base.fluidSpace(16);
  display: flex;
  flex-direction: column;
  gap: base.fluidSpace(40) 0;
  inline-size: 100%;
  align-items: center;

  @include base.breakpoint("md") {
    padding: base.fluidSpace(64, "tablet") base.fluidSpace(82, "tablet");
  }

  @include base.breakpoint("xl") {
    padding: base.fluidSpace(64, "desktop") base.fluidSpace(82, "desktop");
    flex-direction: row;
    justify-content: space-between;
  }

  &__content {
    text-align: center;

    @include base.breakpoint("xl") {
      flex: 0 1 base.convertPxToRem(540);
      text-align: start;
    }
  }

  &__title {
    font-size: base.fluidFont(30, 40);
    font-weight: 700;
    line-height: 1.3;
  }

  &__text {
    font-size: base.fluidFont(16, 18);
    font-weight: 500;
    line-height: 1.5;
    padding-block-start: base.convertPxToRem(24);
  }
}
