@use "base";

@include base.reset;

html,
body {
  background-color: base.$neutral-200;
  inline-size: 100%;
  max-inline-size: 100vw;
  min-block-size: 100vh;

  // fallback old browsers
  @supports (min-block-size: 100svh) {
    min-block-size: 100svh;
    // small view
  }

  @supports (min-block-size: 100dvh) {
    min-block-size: 100dvh;
    // dynamic view
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  margin-inline: auto;
  max-inline-size: 90rem;
  overflow-x: hidden;
  row-gap: base.fluidSpace(64);

  @include base.breakpoint("md") {
    row-gap: base.fluidSpace(80, "tablet");
  }

  @include base.breakpoint("lg") {
    row-gap: base.fluidSpace(120, "desktop");
  }
}

.header {
  padding-block-start: base.convertPxToRem(24);

  @include base.breakpoint("sm") {
    padding-block-start: base.convertPxToRem(32);
  }

  &__content {
    margin-inline: auto;
    padding-inline: base.fluidSpace(16);
    inline-size: 100%;

    @include base.breakpoint("md") {
      padding-inline: base.fluidSpace(32, "tablet");
    }

    @include base.breakpoint("lg") {
      padding-inline: base.fluidSpace(165, "desktop");
    }
  }
}

.main {
}

.footer {
  &__content {
    margin-inline: auto;
    padding-inline: base.fluidSpace(16);
    inline-size: 100%;
    padding-block-end: base.convertPxToRem(24);

    @include base.breakpoint("md") {
      padding-inline: base.fluidSpace(32, "tablet");
      padding-block-end: base.fluidSpace(40, "tablet");
    }

    @include base.breakpoint("lg") {
      padding-inline: base.fluidSpace(165, "desktop");
      padding-block-end: base.fluidSpace(64, "desktop");
    }
  }
}
