@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", serif;
}

html,
body {
  width: 100%;
  background-color: #FFFFFF;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.container {
  inline-size: inherit;
  justify-content: center;
  max-inline-size: 100vw;
  padding-inline: min(5.3333333333vw, 1.25rem);
}
@media (min-width: 500px) and (max-width: 768px) {
  .container {
    padding-inline: min(5.7291666667vw, 2.75rem);
  }
}
@media (min-width: 769px) {
  .container {
    max-inline-size: 1440px;
    padding-inline: min(11.1111111111vw, 10rem);
  }
}

.header {
  padding-block: min(4.2666666667vw, 1rem);
}
@media (min-width: 769px) {
  .header {
    padding-block: min(1.6666666667vw, 1.5rem);
  }
}
.header .btn-get--header {
  background-color: #13183F;
}
.header .btn-get--header:hover {
  background-color: #666CA3;
}

.navbar {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.btn-get {
  border: none;
  border-radius: 1.75rem;
  color: #FFFFFF;
  cursor: pointer;
  font-size: clamp(0.75rem, 0.5rem + 2.6666666667vw, 1.125rem);
  font-weight: 700;
  line-height: 1.5;
  padding: min(4.2666666667vw, 1rem) min(8.5333333333vw, 2rem);
}
@media (min-width: 500px) and (max-width: 768px) {
  .btn-get {
    padding: min(1.3671875vw, 0.65625rem) min(3.125vw, 1.5rem);
  }
}

.courses {
  display: grid;
  gap: min(16vw, 3.75rem) 0;
  grid-template-columns: 1fr;
  justify-content: center;
  padding-block-end: min(21.3333333333vw, 5rem);
  padding-block-start: min(17.0666666667vw, 4rem);
}
@media (min-width: 500px) {
  .courses {
    padding-block-end: min(18.75vw, 9rem);
  }
}
@media (min-width: 500px) and (max-width: 768px) {
  .courses {
    gap: min(7.8125vw, 3.75rem) min(3.125vw, 1.5rem);
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 769px) {
  .courses {
    gap: min(5.8333333333vw, 5.25rem) min(2.2222222222vw, 2rem);
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  border-radius: 0.9375rem;
  padding-block-start: min(17.0666666667vw, 4rem);
  padding-block-end: min(10.6666666667vw, 2.5rem);
  padding-inline: min(8.5333333333vw, 2rem);
  box-shadow: 0 25px 50px 0 hsla(233, 92%, 29%, 0.14);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.card .card__body .card__image {
  position: absolute;
  top: -8%;
}
.card .card__body .card__title {
  color: #13183F;
  font-size: clamp(1rem, 0.5rem + 4.2666666667vw, 1.5rem);
  font-weight: 800;
  line-height: calc(clamp(1rem, 0.5rem + 4.2666666667vw, 1.5rem) * 1.209);
}
.card .card__body .card__text {
  color: #83869A;
  font-size: clamp(0.625rem, 0.5rem + 2.6666666667vw, 1.125rem);
  font-weight: 500;
  line-height: calc(clamp(0.625rem, 0.5rem + 2.6666666667vw, 1.125rem) * 1.57);
  padding-block: min(6.4vw, 1.5rem);
}
.card .card__footer .card__btn {
  background-color: transparent;
  border: none;
  color: #FFA7C3;
  cursor: pointer;
  font-size: clamp(0.9375rem, 0.5rem + 2.6666666667vw, 1.125rem);
  font-weight: 700;
  line-height: calc(clamp(0.9375rem, 0.5rem + 2.6666666667vw, 1.125rem) * 1.56);
}
.card .card__footer .card__btn:hover {
  color: #F74780;
}

.card--introduction {
  background-image: linear-gradient(#FF6F48, #F02AA6);
  color: #FFFFFF;
}
.card--introduction .card__body .card__title {
  color: #FFFFFF;
  font-size: clamp(1.25rem, 0.5rem + 4.2666666667vw, 1.5rem);
  line-height: calc(clamp(1.25rem, 0.5rem + 4.2666666667vw, 1.5rem) * 1.2);
}
@media (min-width: 769px) {
  .card--introduction .card__body .card__title {
    font-size: clamp(2rem, 0.5rem + 1.6666666667vw, 2rem);
    line-height: calc(clamp(2rem, 0.5rem + 1.6666666667vw, 2rem) * 1.2);
  }
}

.footer {
  background-color: #13183F;
  inline-size: 100%;
  display: flex;
  justify-content: center;
  padding-block-start: min(6.4vw, 1.5rem);
}
.footer__wrapper {
  inline-size: 1120px;
  margin-inline: min(5.3333333333vw, 1.25rem);
}
.footer .btn-get--footer {
  background-image: linear-gradient(#4851FF, #F02AA6);
}
.footer .btn-get--footer:hover {
  background-image: linear-gradient(#666CA3, #FFA7C3);
}
.footer .attribution {
  text-align: center;
  color: #FFFFFF;
  font-size: 0.6875rem;
  margin: 0.6rem;
}
.footer .attribution__link {
  color: #FF6F48;
}

/*# sourceMappingURL=styles.css.map */
