:root {
  --green-200: hsl(148, 38%, 91%);
  --green-600: hsl(169, 82%, 27%);
  --grey-500: hsl(186, 15%, 59%);
  --grey-900: hsl(187, 24%, 22%);
  --red: hsl(0, 66%, 54%);
  --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--green-200);
}

body {
  align-items: center;
  flex-direction: column;
  inline-size: inherit;
  block-size: inherit;
}

.container {
  align-items: center;
  block-size: inherit;
  display: flex;
  flex-direction: column;
  inline-size: inherit;
  max-inline-size: 1440px;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}


.attribution { font-size: .6875rem; }

.attribution__color-label { color: var(--grey-900); }

.attribution__color-link { color: var(--green-600); }






