:root {
  --green-200: hsl(148, 38%, 91%);
  --green-600: hsl(169, 82%, 27%);
  --green-600-hover: hsl(169, 84%, 5%);
  --grey-500: hsl(186, 15%, 59%);
  --grey-900: hsl(187, 24%, 22%);
  --red: hsl(0, 66%, 54%);
  --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid blue; */
}

html, body {
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--green-200);
}

body {
  align-items: center;
  block-size: inherit;
  display: flex;
  flex-direction: column;
  inline-size: inherit;
}

.container {
  align-items: center;
  block-size: inherit;
  display: flex;
  flex-direction: column;
  inline-size: inherit;
  max-inline-size: 100vw;
}

.main {
  align-items: center;
  display: flex;
  flex: 1 0 auto;
  inline-size: inherit;
  justify-content: center;
}

.form-contact {
  background-color: var(--white);
  border-radius: 1rem;
  inline-size: 100%;
  margin-inline: min(7.47vw, 1.75rem);
  max-inline-size: 100vw;
  padding: min(6.4vw, 1.5rem);
}

.form-contact__title {
  color: var(--grey-900);
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -1px;
  margin-block-end: min(8.53vw, 2rem);
}

.form__inputs {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.form__label {
  display: block;
  margin-block-end: .5rem;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--grey-900);
}

.form__required {
  color: var(--green-600);
  margin-inline-start: .5rem;
}

.form__input, .form__query-wrapper .form__label {
  border: 1px solid var(--grey-500);
  border-radius: .5rem;
  color: var(--grey-900);
  font-size: 1.125rem;
  line-height: 1.5;
  padding: .75rem 1.5rem;
  inline-size: 100%;
}

.form__input:focus { outline: 1px solid var(--green-600); }

.form__input-name, .form__query-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 1rem;
}

.form__agree { margin-block: 2.5rem; }

.form__agree .form__label {
  cursor: pointer;
  display: inline;
  margin-inline-start: 1rem;
}

.form__btn {
  background-color: var(--green-600);
  border: none;
  border-radius: .5rem;
  color: var(--white);
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 700;
  inline-size: 100%;
  line-height: 1.5;
  padding: 1rem;
}

.form__btn:hover { background-color: var(--green-600-hover); }

@media only screen and (min-width: 576px) {

  .container { max-inline-size: 1440px; }

  .form-contact {
    margin-inline: 2.4375rem;
    max-inline-size: 736px;
    padding: 2.5rem;
  }

  .form-contact__title {
    font-family: 2rem;
    margin-block-end: 2rem;
  }


  
}

.footer {
  flex-shrink: 0;
}

.attribution__color-label { color: var(--grey-900); }

.attribution__color-link { color: var(--green-600); }






