@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root{
    --linear-gradient-start: hsl(236, 72%, 79%); 
    --linear-gradient-end:hsl(237, 63%, 64%);
    --very-light-grayish-blue: hsl(240, 78%, 98%);
    --light-grayish-blue: hsl(234, 14%, 74%);
    --grayish-blue: hsl(233, 13%, 49%);
    --dark-grayish-blue: hsl(232, 13%, 33%);
    --outline-color: hsl(27, 63%, 50%);
    --shadow-color: hsl(240, 78%, 96%);
    --white: hsl(0,0%,100%);
    --font: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;        
} 

html, body {
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font);
    background-color: var(--very-light-grayish-blue);
}

.header {
    min-inline-size: 100%;
    flex-shrink: 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: min(10.6vw, 2.5rem);
    padding-block-start: min(10.6vw, 2.5rem);
    padding-block-end: min(10.6vw, 2.5rem);
}

.header_title {
    text-align: center;
    font-size: clamp(1.2rem, 7vw, 2rem);
    color: var(--grayish-blue);
}

.main {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-inline-size: 100%;
    padding-block-start: 1.25rem;
    padding-block-end: 1.25rem;
}

.card__container {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.card {
    display: flex;
    flex-direction: column; 
    row-gap: min(7.6vw, 1.8rem);
    width: min(70vw, 18.75rem); 
    height: min-content;
    padding: min(8.5vw, 2rem);
    background-color: var(--white);
    box-shadow: 1px 5px 12px 5px var(--shadow-color);
}

.card--start, .card--end {
    border-radius: 1rem 1rem; 
}

.card--emphasis {
    background-image: linear-gradient(var(--linear-gradient-start), var(--linear-gradient-end));
    border-radius: 1rem;
}

.card__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: min(5.3vw, 1.5rem);
}

.card__title { 
    font-size: clamp(0.4rem, 4.2vw, 1rem);  /*  */
    color: var(--grayish-blue);
}

.card__price {
    display: flex;
    align-items: center;
    column-gap: 0.3rem; /*  */
    font-size: clamp(0.8rem, 14.9vw, 3.5rem); /*  */
    color: var(--dark-grayish-blue);
}

.card__dollar { font-size: clamp(0.2rem, 7.68vw, 1.8rem); }

.card__list {
    text-align: center;
    list-style-type: none;
    font-size: clamp(0.4rem, 3.4vw, 0.8rem); /*  */
    color: var(--grayish-blue);
}

.card--emphasis :is(.card__title, .card__price, .card__list) {
    color: var(--white);
}

.card__item {
    padding: min(3.4vw, 0.8rem) 0;
}

.card__item--start { border-block-start: 1px solid var(--light-grayish-blue);}

.card__item--center { border-block: 1px solid var(--light-grayish-blue);}

.card__item--end { border-block-end: 1px solid var(--light-grayish-blue);}

.card---emphasis 
:is(.card__item--start, 
.card__item--center, 
.card__item--end) {
    border-block-color: var(--light-grayish-blue);
}

.card__footer {
    display: flex;
    justify-content: center;
}

.card__btn {
    display: block;
    border: 1px solid transparent;
    border-radius: 0.3rem;
    width: 100%;
    padding-block: 5% 5%;
    font-family: var(--font);
    font-size: clamp(0.6rem, 3.2vw, 0.75rem); 
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--white);
    background-image: linear-gradient(90deg, var(--linear-gradient-start), var(--linear-gradient-end));
    cursor: pointer;
}

.card__btn--emphasis {
    color: var(--linear-gradient-end);
    background-color: var(--white);
    background-image: none;
}

.card__btn:hover, .card__btn:focus {
    border: 1px solid var(--dark-grayish-blue);
    color: var(--linear-gradient-end);
    background-image: none;
} 

.card__btn:focus { outline: 2px solid var(--outline-color); } 

.card__btn--emphasis:hover, .card__btn--emphasis:focus {
    border: 1px solid var(--white);
    color: var(--white);
    background-color: transparent;
    background-image: none;
} 

@media only screen and (min-width: 376px) {

    html, body {
        height: 100%;
    }
        
    .header_title {
        font-size: clamp(1.2rem, 8.5vw, 2rem);
    }
    
    .card__container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .card {
        width: min(30vw, 360px);
        padding: min(2.7vw, 2rem);
        box-shadow: none;
    }
    
    .card--start {
        border-radius: 1rem 0 0 1rem; 
        box-shadow: -10px 5px 12px 5px var(--shadow-color);
    }
    
    .card--end {
        border-radius: 0 1rem 1rem 0;
        box-shadow: 10px 5px 12px 5px var(--shadow-color); 
    }
    
    .card--emphasis {
        padding: min(5.4vw, 4rem) min(2.7vw, 2rem);
    }
        
    .card__title { 
        font-size: clamp(0.6rem, 4.2vw, 1rem); 
    }
    
    .card__price {
        font-size: clamp(1rem, 6.1vw, 4.5rem);
    }
    
    .card__dollar { font-size: clamp(1rem, 3.4vw, 2.5rem); }
    
    .card__list {
        font-size: clamp(0.4rem, 4vw, 0.95em);
    }
    
    .card__item {
        padding: min(1.5vw, 1.1rem) 0;
    }
    
}

.footer { flex-shrink: 0;}

.footer__attribution { 
    margin: 0.6rem 0;
    font-size: 11px; 
    text-align: center;
    color: var(--dark-grayish-blue);
}
  
.footer__link-author { color: var(--linear-gradient-end); }
