@use "base";
@include base.reset;

html,
body {
  background-color: base.$background-page;
  inline-size: 100%;
  block-size: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content auto auto;
  inline-size: 100%;
  margin: 0 auto;
  max-inline-size: 100vw;
  height: 100%;

  grid-template-areas:
    "header"
    "main"
    "decoration";

  @include base.breakpoints(sm) {
    max-inline-size: 768px;
  }

  @include base.breakpoints(md) {
    grid-template-columns: minmax(auto, 1020px) minmax(auto, 420px);
    grid-template-rows: min-content 1fr;
    max-inline-size: 1440px;
    padding-inline: base.fluidSpace(165, desktop) 0;

    grid-template-areas:
      "header decoration"
      "main   decoration";
  }
}

:is(.header, .main, .footer) {
  //   padding-inline: base.fluidSpace(24);

  //   @include base.breakpoints(sm) {
  //     padding-inline: base.fluidSpace(39, tablet);
  //   }

  //  @include base.breakpoints(md) {
  //    padding-inline: base.fluidSpace(165, desktop) 0;
  //  }
}

.header {
  grid-area: header;
  .logo {
    // padding-block-start: base.fluidSpace(46);

    // @include base.breakpoint-between(504.98, 768.98) {
    //   padding-block-start: base.fluidSpace(72, tablet);
    // }

    @include base.breakpoints(md) {
      padding-block-start: base.fluidSpace(81, desktop);
    }

    &__img {
      display: block;
      margin: 0 auto;

      @include base.breakpoints(ex) {
        margin: 0;
      }
    }
  }
}

.main {
  grid-area: main;
  align-self: center;
}

.hero {
  display: flex;
  flex-direction: row;
  position: relative;
  .content {
    flex-basis: 540px;

    &__title {
      color: base.$grey-300;
      font-size: base.fluidTypo(20, 40);
      font-weight: 800;
      line-height: base.fluidLineHeight(20, 40, 1.2);

      @include base.breakpoint-between(504.98, 768.98) {
        font-size: base.fluidTypo(20, 40, tablet);
        line-height: base.fluidLineHeight(20, 40, 1.2, tablet);
      }

      @include base.breakpoints(md) {
        font-size: base.fluidTypo(30, 56, desktop);
        line-height: base.fluidLineHeight(30, 56, 1.143, desktop);
      }
    }

    &__description {
      color: base.$grey-100;
      font-size: base.fluidTypo(10, 16);
      font-weight: 400;
      line-height: base.fluidLineHeight(10, 16, 1.63);
      padding-block: base.fluidSpace(24);

      @include base.breakpoint-between(504.98, 768.98) {
        font-size: base.fluidTypo(10, 16, tablet);
        line-height: base.fluidLineHeight(10, 16, 1.56, tablet);
        padding-block: base.fluidSpace(24, tablet) base.fluidSpace(24, tablet);
      }

      @include base.breakpoints(md) {
        font-size: base.fluidTypo(10, 18, desktop);
        line-height: base.fluidLineHeight(10, 18, 1.56, desktop);
        padding-block: base.fluidSpace(24, desktop) base.fluidSpace(32, desktop);
      }
    }
  }

  .time-counter {
    align-items: center;
    display: flex;
    flex-direction: column;

    @include base.breakpoints(md) {
      align-items: start;
    }

    &__title {
      color: base.$grey-300;
      font-size: base.fluidTypo(10, 16);
      font-weight: 800;
      letter-spacing: 5px;
      line-height: base.fluidLineHeight(10, 16, 3);
      text-transform: uppercase;

      &-emphasis {
        color: base.$blue-100;
        font-style: normal;
      }

      @include base.breakpoint-between(504.98, 768.98) {
        font-size: base.fluidTypo(10, 16, tablet);
        line-height: base.fluidLineHeight(10, 16, 3, tablet);
      }

      @include base.breakpoints(md) {
        font-size: base.fluidTypo(10, 16);
        line-height: base.fluidLineHeight(10, 16, 3, desktop);
      }
    }

    &__countdown {
      column-gap: base.fluidSpace(13);
      display: flex;
      inline-size: 100%;
      max-inline-size: 448px;

      @include base.breakpoint-between(504.98, 768.98) {
        column-gap: base.fluidSpace(16, tablet);
      }

      @include base.breakpoints(md) {
        column-gap: base.fluidSpace(16, desktop);
      }
    }

    &__digit {
      background-color: base.$blue-150;
      border-radius: 0.8125rem;
      color: base.$blue-200;
      display: flex;
      flex: 0 1 100px;
      flex-direction: column;
      font-weight: 800;
      padding: base.fluidSpace(16);
      row-gap: 2.12px;
      text-align: center;

      @include base.breakpoint-between(504.98, 768.98) {
        padding: base.fluidSpace(16, tablet);
      }

      @include base.breakpoints(md) {
        padding: base.fluidSpace(28.5, desktop) base.fluidSpace(16, desktop);
      }
    }

    &__time {
      font-size: base.fluidTypo(16, 32);
      line-height: base.fluidLineHeight(16, 32, 0.858);

      @include base.breakpoint-between(504.98, 768.98) {
        font-size: base.fluidTypo(16, 56, tablet);
        line-height: base.fluidLineHeight(16, 56, 0.858, tablet);
      }

      @include base.breakpoints(md) {
        font-size: base.fluidTypo(16, 56, desktop);
        line-height: base.fluidLineHeight(16, 56, 0.858, desktop);
      }
    }

    &__period {
      color: base.$grey-200;
      font-size: base.fluidTypo(8, 12);
      line-height: base.fluidLineHeight(8, 12, 1.75);
      opacity: .5;
     }
  }

  .form {
    flex-basis: 445px;
    position: relative;
    left: 275px;
    border-radius: 0.8125rem;
    background-color: base.$white;
    inline-size: 100%;
    max-inline-size: 445px;

    &__wrapper-input {
      display: flex;
      flex-direction: column;
      row-gap: base.fluidSpace(24);
      padding-block-end: base.fluidSpace(40);

      @include base.breakpoint-between(504.98, 768.98) {
        row-gap: base.fluidSpace(24, tablet);
        padding-block-end: base.fluidSpace(40, tablet);
      }

      @include base.breakpoints(md) {
        row-gap: base.fluidSpace(24, desktop);
        padding-block-end: base.fluidSpace(40, desktop);
      }
    }

    :is(.form__input, .form__select) {
      border: none;
      border-bottom: 1px solid base.$grey-050;
      color: base.$grey-300;
      display: block;
      font-size: base.fluidTypo(10, 16);
      inline-size: 100%;
      line-height: base.fluidLineHeight(10, 16, 1.75);
      padding-block-end: 17px;
      padding-inline-start: 16px;

      @include base.breakpoints(md) {
        font-size: base.fluidTypo(10, 16, tablet);
        line-height: base.fluidLineHeight(10, 16, 1.75, tablet);
      }

      @include base.breakpoints(md) {
        font-size: base.fluidTypo(10, 16, desktop);
        line-height: base.fluidLineHeight(10, 16, 1.75, desktop);
      }
    }

    &__input::placeholder {
      color: base.$grey-050;
      font-size: base.fluidTypo(10, 16);

      @include base.breakpoint-between(504.98, 768.98) {
        font-size: base.fluidTypo(10, 16, tablet);
      }

      @include base.breakpoints(md) {
        font-size: base.fluidTypo(10, 16, desktop);
      }
    }

    @include base.breakpoints(md) {
      padding: base.fluidSpace(40, desktop) base.fluidSpace(42, desktop);
    }

    &__submit {
      background-color: base.$blue-200;
      border: none;
      border-radius: base.convertPxToRem(28);
      color: base.$white;
      cursor: pointer;
      font-size: base.fluidTypo(8, 16);
      font-weight: 800;
      line-height: base.fluidLineHeight(8, 16, 1.75);
      padding: base.fluidSpace(14) base.fluidSpace(40);
      inline-size: 100%;

      @include base.breakpoint-between(504.98, 768.98) {
        font-size: base.fluidTypo(8, 16, tablet);
        line-height: base.fluidLineHeight(8, 16, 1.75, tablet);
        padding: base.fluidSpace(14, tablet) base.fluidSpace(40, tablet);
      }

      @include base.breakpoints(md) {
        font-size: base.fluidTypo(8, 16, desktop);
        line-height: base.fluidLineHeight(8, 16, 1.75, desktop);
        padding: base.fluidSpace(14, desktop) base.fluidSpace(40, desktop);
      }
    }

    &__submit:hover {
      background-color: base.$btn-background-try-for-free-hover;
      color: base.$blue-200;
    }
  }
}

.decoration {
  grid-area: decoration;
  background-color: base.$grey-300;

  @include base.breakpoints(md) {
    padding-inline-end: base.fluidSpace(165, desktop);
  }
}
