@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;400;500;700;900&display=swap');

:root {
    --light-orange: #FF9B62;
    --dark-orange: #F16718;
    --light-blue-100: #E8EFF2;
    --light-blue-200: #7B8BAD;
    --dark-blue: #162542;
    --white: #FFFFFF;
    --font: "Barlow", sans-serif;
    --scale0: 1rem;
    --scale1: 1.5rem;
    --scale2: 2rem;
    --scale3: 3.5rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: var(--font);
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
}

#root {
    align-items: center;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    width: inherit;
}

.container {
    display: flex;
    flex-direction: column;
    max-inline-size: 1440px;
    width: inherit;
    align-items: center;
    background-color: red;
}

.header { 
    flex: 1 0 auto; 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1110px;
    width: 100%;
    padding: min(6.3vw, 1.4375rem) min(6.4vw, 1.5rem) min(17.1vw, 4rem);
}

.header__btn-wrapper { margin-inline-start: auto; }

.btn__pre-order {
    border: none;
    text-transform: uppercase;
    background-color: var(--light-blue-100);
    color: var(--dark-blue);
    padding: min(6vw, 1rem) min(8vw, 1.625rem);
    border-radius: .5rem;
    font-size: clamp(.6rem, 7vw, 1rem);
    font-weight: 700;
    cursor: pointer;
}

@media only screen and (max-width: 247px) {

    .header {
        row-gap: .625rem;
        justify-content: center;
    }

    .header__btn-wrapper { margin: auto; }
}

@media only screen and (min-width: 376px) and (max-width: 768px) {

    .header { 
        padding: min(5.3vw, 2.5rem) min(5.4vw, 2.5rem) min(8.3vw, 3.875rem); 
    }
}

@media only screen and (min-width: 769px) {

    .header { 
        padding: min(3.9vw, 3.4375rem) .625rem min(8.3vw, 3.875rem);  
    }

}

.main { flex: 1 0 auto; }

.footer { flex-shrink: 0; }



