.btn-custom-nav {
    @include button-variant(
      $background: $blue-900,
      $border: $blue-900,
      $hover-background: darken($blue-600, 10%),
      $hover-border: darken($blue-600, 10%),
    );

    @include button-size(
        $padding-y: 1rem,
        $padding-x: 2rem,
        $font-size: 1.125rem,
        $border-radius: 1.75rem,
    );
}

.btn-custom-intro {
  @include button-variant(
    $background: $blue-900,
    $border: $blue-900,
    $hover-background: darken($blue-600, 10%),
    $hover-border: darken($blue-600, 10%),
  );

  @include button-size(
      $padding-y: 1rem,
      $padding-x: 2rem,
      $font-size: 1.125rem,
      $border-radius: 1.75rem,
  );
}

.btn-custom-card {
  @include button-variant(
    $background: $white,
    $border: $white,
    $hover-background: darken($white, 10%),
    $hover-border: darken($blue-600, 10%),
  );

  @include button-size(
      $padding-y: 0,
      $padding-x: 0,
      $font-size: 1.125rem,
      $border-radius: 0,
  );
}



