// @include media-breakpoint-up(xs) {

//     body {
//         background-color: red;
//     }

// }

// @include media-breakpoint-up(sm) {

//     body {
//         background-color: blue;
//     }
    
// }

// @include media-breakpoint-up(md) {

//     body {
//         background-color: yellow;
//     }
    
// }

// @include media-breakpoint-up(lg) {

//     body {
//         background-color: pink;
//     }
    
// }

// @include media-breakpoint-up(xl) {

//     body {
//         background-color: green;
//     }
    
// }

// @include media-breakpoint-up(xxl) {

//     body {
//         background-color: tomato;
//     }
    
// }

.card-custom {
    border-radius: 0.9375rem;
    box-shadow: 0 25px 50px 0 $blue-800;
    display: flex;
    flex-direction: column;
    height: 100%;
    inline-size: 100%;
    padding-block: 4rem 2.5rem;
    padding-inline: 2rem;
    position: relative;
}

.card-custom--courses {
    background-color: var(--bs-white);
    justify-content: space-between;
    row-gap: 1.5rem;
}

.card-custom--title {
    background: linear-gradient($orange, $pink-700);
    box-shadow: 0 25px 50px 0 $blue-800;
}

.btn-custom {
    border: none;
    border-radius: 1.75rem;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.5;
    padding: 1rem 2rem;
}

.btn-custom-header {
    background-color: $blue-900;
    color: $white;
}

.btn-custom-header:hover { background-color: $blue-600; }

.btn-custom-intro {
    background: $gratient-btn-intro;
    color: $white;
}

.btn-custom-intro:hover { opacity: .5; }

.btn-custom-footer {
    background: $gratient-btn-footer;
    color: $white;
}

.btn-custom-footer:hover { 
    background: $gradient-btn-footer-hover;

}

.btn-custom-header {
  @include button-variant(
    $background: $blue-900,
    $border: $blue-900,
    $hover-background: darken($blue-600, 10%),
    $hover-border: darken($blue-600, 10%),
  );
}




.link-custom-hover { color: $pink-600 }

.link-custom-hover:hover { color: $pink-300;}

.teste {
    @include gradient-y(#FF6F48, #F02AA6);
}
  