// @include media-breakpoint-up(xs) {

//     body {
//         background-color: red;
//     }

// }

// @include media-breakpoint-up(sm) {

//     body {
//         background-color: blue;
//     }
    
// }

// @include media-breakpoint-up(md) {

//     body {
//         background-color: yellow;
//     }
    
// }

// @include media-breakpoint-up(lg) {

//     body {
//         background-color: pink;
//     }
    
// }

// @include media-breakpoint-up(xl) {

//     body {
//         background-color: green;
//     }
    
// }

// @include media-breakpoint-up(xxl) {

//     body {
//         background-color: tomato;
//     }
    
// }

.card-custom-courses {
    background-color: var(--bs-white);
    box-shadow: 0 25px 50px 0 $blue-800;
    padding-block-start: 1.5rem;
    position: relative;
}

.card-custom-title {
    background: linear-gradient($orange, $pink-700);
    box-shadow: 0 25px 50px 0 $blue-800;
    padding-block-start: 1.5rem;
    position: relative;
}

.link-custom-hover { color: $pink-600 }

.link-custom-hover:hover { color: $pink-300;}

.teste {
    @include gradient-y(#FF6F48, #F02AA6);
}
  