@use "base";

@include base.reset;

html, 
body {
    width: 100%;
    background-color: base.$white;
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.container, %flex-column-center {
    inline-size: inherit;
    justify-content: center;
    max-inline-size: 100vw;
    padding-inline: base.fluidSpace(20);
    
    @extend %flex-column-center;

    @include base.for-size(tablet) { padding-inline: base.fluidSpace(44, tablet); }

    @include base.for-size(desktop) {
        max-inline-size: 1440px;
        padding-inline: base.fluidSpace(160, desktop);
    }
}

.header {
    padding-block: base.fluidSpace(16);
        
    @include base.for-size(desktop) { padding-block: base.fluidSpace(24, desktop); }

    .btn-get--header { background-color: base.$blue-900; }

    .btn-get--header:hover { background-color: base.$blue-600; }
}

.navbar {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btn-get {
    border: none;
    border-radius: 1.75rem;
    color: base.$white;
    cursor: pointer;
    $font-size: 1.125rem;
    font-size: base.fluidTypo(12, 18) ;
    font-weight: 700;
    line-height: 1.5;
    padding: base.fluidSpace(16) base.fluidSpace(32);

    @include base.for-size(tablet) { padding: base.fluidSpace(10.5, tablet) base.fluidSpace(24, tablet); }
}

.introduce {

}

.hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: base.fluidSpace(48) 0;

    @include base.for-size(tablet) {
        grid-template-columns: repeat(2, 1fr);
        gap: 0 base.fluidSpace(26, tablet); 
    }

    @include base.for-size(desktop) {
        grid-template-columns: repeat(2, 1fr);
        gap: 0 base.fluidSpace(32, desktop); 
    }

    .hero__text {
        .hero__title {
            color: base.$blue-900;
            font-size: base.fluidTypo(20, 40);
            font-weight: 800;

            @include base.for-size(desktop) {
                font-size: base.fluidTypo(40, 56, desktop);
                line-height: calc(base.fluidTypo(40, 56, desktop) * 1.2);
            }
        }

        .hero__description {
            max-inline-size: 35ch;
            color: base.$grey;
            font-size: base.fluidTypo(10, 18);
            font-weight: 500;
            line-height: calc(base.fluidTypo(10, 18) * 1.5);
            padding-block: base.fluidSpace(24) base.fluidSpace(40);
        }
    }

    .btn-get--hero { background-image: base.$gratient-btn-hero; }

    .btn-get--hero:hover { opacity: .5; }
}

.courses {
    display: grid;
    gap: base.fluidSpace(60) 0;
    grid-template-columns: 1fr;
    justify-content: center;
    padding-block-end: base.fluidSpace(80);
    padding-block-start: base.fluidSpace(64);

    @include base.for-size(tabletTodesktop) { padding-block-end: base.fluidSpace(144, tablet); }

    @include base.for-size(tablet) {
        gap: base.fluidSpace(60, tablet) base.fluidSpace(24, tablet);
        grid-template-columns: repeat(2, 1fr);
    }

    @include base.for-size(desktop) {
        gap: 5.25rem base.fluidSpace(32, desktop);
        grid-template-columns: repeat(3, 1fr);
    }
}

.card {
    border-radius: 0.9375rem;
    padding-block-start: base.fluidSpace(64);
    padding-block-end: base.fluidSpace(40);
    padding-inline: base.fluidSpace(32);
    box-shadow: 0 25px 50px 0 base.$blue-800;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    .card__body {
        .card__image {
            position: absolute;
            top: -8%;
        }
        
        .card__title {
            color: base.$blue-900;
            font-size: base.fluidTypo(16, 20);
            font-weight: 800;
            line-height: calc(base.fluidTypo(16, 20) * 1.209);

            @include base.for-size(desktop) {
                font-size: base.fluidTypo(16, 24, desktop);
                line-height: calc(base.fluidTypo(16, 24, desktop) * 1.209);
            }

        }
        
        .card__text {
            color: base.$grey;
            font-size: base.fluidTypo(10, 16);
            font-weight: 500;
            line-height: calc(base.fluidTypo(10, 16) * 1.57);
            padding-block: base.fluidSpace(24);

            @include base.for-size(tabletTodesktop) {
                font-size: base.fluidTypo(10, 18, tablet);
                line-height: calc(base.fluidTypo(10, 18, tablet) * 1.57);
            }
        }
    }

    .card__footer {

        .card__btn {
            background-color: transparent;
            border: none;
            color: base.$pink-300;
            cursor: pointer;
            font-size: base.fluidTypo(15, 18);
            font-weight: 700;
            line-height: calc(base.fluidTypo(15, 18) * 1.56);
        }

        .card__btn:hover { color: base.$pink-600; }
    }
}

.card--introduction {
    background-image: base.$gradient-card;
    color: base.$white;

    @include base.for-size(mobileTotablet) { padding-block: base.fluidSpace(32); }

    .card__body {
        .card__title {
            color: base.$white;
            font-size: base.fluidTypo(20, 24);
            line-height: calc(base.fluidTypo(20, 24) * 1.2);
            
            @include base.for-size(desktop) {
                font-size: base.fluidTypo(32, 32, desktop);
                line-height: calc(base.fluidTypo(32, 32, desktop) * 1.2);
            }   
        }
    }
}

.footer {
    background-color: base.$blue-900;
    inline-size: 100%;
    display: flex;
    justify-content: center;
    padding-block-start: base.fluidSpace(24);
    
    &__wrapper {
        inline-size: 1120px;
        margin-inline: base.fluidSpace(20);

        @include base.for-size(tablet) { margin-inline: base.fluidSpace(44); }
    }

    .btn-get--footer { background-image: base.$gratient-btn-footer; }

    .btn-get--footer:hover { background-image: base.$gradient-btn-footer-hover; }

    .attribution {
        text-align: center;
        color: base.$white;
        font-size: .6875rem;
        margin: .6rem;

        &__link {
            color: base.$pink-700;
        }
    }
}




