@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap');

$green: #54E6AF;
$blue-300: #C2CBE5;
$blue-600: #5A668A;
$blue-900: #2C344B;
$blue-950: #121725;
$white: #FFFFFF;
$red: #FB3E3E;
$f-weight-light: 300;
$f-weight-bold: 700;
$font: "Chivo", system-ui;

// breakpoints
@mixin for-size($device) {
    @if $device == tablet {
        @media (min-width: 376px) and (max-width: 768px) { @content; }
    } @else if $device == desktop {
        @media (min-width: 769px) { @content; }
    } @else {
        @error "You must define one device valid";
    }
}

// define the fluid space using min(vw, rem)
@function space($sizePix, $device: mobile) {
    $sizeRem: $sizePix / 16;
    $sizeView: 375 !default;
    @if $device == mobile {
        $sizeView: 375;
    } @else if $device == tablet {
        $sizeView: 768;
    } @else if $device == desktop {
        $sizeView: 1440;
    } @else {
        @error "You must define one device valid";
    }
    $sizeVw: ($sizePix / $sizeView) * 100;

    @return min($sizeVw * 1vw, $sizeRem * 1rem);
}

