@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

:root {
--soft-red: hsl(7, 99%, 70%);
--yellow: hsl(51, 100%, 49%);
--dark-desaturated-cyan: hsl(168, 45%, 32%); /* graphic design text */
--dark-blue: hsl(198, 62%, 26%); /* photography text */
--dark-moderate-cyan: hsl(168, 44%, 68%); /* footer */
--very-dark-desaturated-blue: hsl(212, 27%, 19%);
--very-dark-grayish-blue: hsl(213, 9%, 39%);
--dark-grayish-blue: hsl(232, 10%, 55%);
--grayish-blue: hsl(210, 4%, 67%);
--white: hsl(0, 0%, 100%);
--font-title: 'Fraunces', serif;
--font-body: 'Barlow', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   /*  border: 1px solid dodgerblue;   */
}

html { width: 100%; } 

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
    width: 100%;
}

.header {
    flex: 1 0 auto;
    width: 100%;
}

.main {
    flex: 1 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main__text-side-image-block {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.main__text-side-image-block--start { grid-template-areas: "wrapper-image" "wrapper-text" ; }
.main__text-side-image-block--end { grid-template-areas: "wrapper-image" "wrapper-text"; }

.main__wrapper-text { grid-area: wrapper-text; }
.main__wrapper-image-side-block { grid-area: wrapper-image; }

:is(.main__image-side-block, 
    .main__image-down-block,
    .main__image-creative) {
    max-inline-size: 100%;
    float: left;
    block-size: auto;
}

.main__text-over-image-block {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.main__wrapper-image-down-block {
    position: relative;
}

.main__wrapper-text-over-block {
    position: absolute;
    top: 65%;
    text-align: center;
}

.main__title-testimonials {
    font-family: var(--font-title);
    font-size: clamp(0.6rem, 2.5vw, 1.1rem);
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    color: var(--grayish-blue);
}

.main__all-clients {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
}

.main__wrapper-client-image {
    display: flex;
    justify-content: center;
}

.main__client-image {
    border-radius: 50%;
    max-inline-size: 15%;
    block-size: auto;
}

.main__images-creative-block {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
}

.footer {
    flex-shrink: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-items: center;
    background-color: var(--dark-moderate-cyan);
}

.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.footer__nav {
    margin: 30px 0 50px 0;
}

.footer__menu {
    list-style-type: none;
    text-align: center;  
}

.footer__item-menu {
    display: inline;
    margin: 0 min(1vw, 1.25rem);
}

.footer__menu-link {
    text-decoration: none;
    font-family: var(--font-body);
    font-size: 1rem;
    font-weight: 600;
    color: var(--dark-desaturated-cyan);
}

.footer__menu-link:hover { color: var(--white); }

.footer__social-midias {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.25rem;
}

.footer__social-link {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.footer__social-icon { fill: var(--dark-desaturated-cyan); }
.footer__social-icon:hover { fill: var(--white); }

attribution-footer { margin: 0.6rem 0; }

@media only screen and (min-width: 577px) {

    .main__text-side-image-block {
        grid-template-columns: repeat(2, minmax(min-content, 720px));
        grid-template-rows: 1fr;
    }

    .main__text-side-image-block--start { grid-template-areas: "wrapper-text wrapper-image"; }
    .main__text-side-image-block--end { grid-template-areas: "wrapper-image" "wrapper-text"; }

    .main__text-over-image-block {
        display: relative;
        grid-template-columns: repeat(2, minmax(min-content, 720px));
        grid-template-rows: auto;
    }

    .main__title-testimonials {
        font-size: clamp(1rem, 2.7vw, 1.3rem);
    }

    .main__all-clients {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }

    .main__images-creative-block {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
    }
}

