@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

:root {
  --strong-cyan: hsl(171, 66%, 44%);
  --light-blue: hsl(233, 100%, 69%);
  --dark-grayish-blue: hsl(210, 10%, 33%);
  --grayish-blue: hsl(201, 11%, 66%);
  --light-grayish-blue: hsl(201, 11%, 95%);
  --white: hsl(0,0%,100%);
  --font: 'Bai Jamjuree', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font);
  background-color: var(--white);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px 0;
  width: 100%;
  max-width: 1440px;
  margin: 0 0.6rem;
  background-color: var(--white);
}

.header {
  flex: 1 0 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(to bottom, transparent, var(--white)), 
    url("./images/bg-header-mobile.png");
  background-repeat: no-repeat;
}

.header__img-wrapper {
  padding: min(9vw, 1.8rem) 0;
}

.header__img {
  object-fit: contain;
  width: min(40vw, 88px);
  height: min(40vh, 88px);
}

.header__title {
  font-size: clamp(1rem, 10vw, 2.3rem);
  color: var(--dark-grayish-blue);
}

.header__introduce {
  padding: 0.6rem 0 1.2rem 0;
  font-size: clamp(0.2rem, 8vw, 1.1rem);
  line-height: calc(clamp(0.2rem, 8vw, 1.1rem) * 1.5);
  width: min(90vw, 600px);
  color: var(--grayish-blue);
}

.header__btn-download, .main__btn-download {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px 10px;
  padding: 0.6rem;
}

.main {
  width: 100%;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 80px;
}

.main__apple-resources, .main__devices, .main__supercharge, .main__systems {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__subtitle {
  text-align: center;
  font-size: clamp(1rem, 10vw, 1.9rem);
  color: var(--dark-grayish-blue);
}

.main__introduce {
  padding: 20px 0 30px 0;
  font-size: clamp(0.2rem, 8vw, 1.1rem);
  line-height: calc(clamp(0.2rem, 8vw, 1.1rem) * 1.5);
  text-align: center;
  width: min(90vw, 550px);
  color: var(--grayish-blue);  
} 

.main__resources {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px 10px;
}

.main__computer-wrapper {
  flex: 0 1 720px;
}

.main__img-computer {
  max-width: 100%;
  height: auto;
}

.main__list-resources {
  flex: 1 0 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px 0;
}

.main__resource-wrapper {
  width: 52%;
}

.main__resoucers-title {
  text-align: center;
  font-size: clamp(0.4rem, 8vw, 1.2rem);
  color: var(--dark-grayish-blue);
}

.main__resources-description {
  text-align: center;
  font-size: clamp(0.2rem, 8vw, 1rem);
  line-height: calc(clamp(0.2rem, 8vw, 1rem) * 1.5); 
  color: var(--grayish-blue);
}

.main__img-devices {
  max-width: 100%;
  height: auto;
}

.main__tools-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px 30px;
}

.main__tool {
  flex: 0 1 350px;
  display: flex;
  flex-direction: column;
}

.main__icon-wrapper {
  height: 80px;
}

.main__tool-icon {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.main__tool-title {
  text-align: center;
  padding: 0.6rem 0;
  font-size: clamp(0.2rem, 8vw, 1.4rem);
  color: var(--dark-grayish-blue);
}

.main__tool-description {
  text-align: center;
  font-size: clamp(0.2rem, 8vw, 1rem);
  line-height: calc(clamp(0.2rem, 8vw, 1rem) * 1.5); 
  color: var(--grayish-blue);
}

 .main__partners {
   width: 80%;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: min(8vw, 30px) 30px;
 }

.main__logo-wrapper {
  flex: 0 0 auto;
  margin: auto auto;
}

.main__logo {
  width: 100%;
  height: auto;
}


.footer {
  flex-shrink: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--light-grayish-blue);
}

.footer__wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 2rem 2rem min(10vw, 2rem) 2rem;
  gap: 50px 50px
}

.footer__img {
  object-fit: contain;
  width: min(40vw, 44px);
  height: min(40vh, 44px);
}

.footer__menu {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px 60px;
}

.footer__link-wrapper {
  text-align: center;
  flex-basis: 120px;
}

.footer__link {
  font-size: clamp(0.8rem, 8vw, 1rem);
  text-decoration: none;
  color: var(--dark-grayish-blue);
  white-space: nowrap;
}

.footer__link:hover {
  color: var(--strong-cyan);
}

.footer__socials-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px 20px;
}

.footer__social-icon {
  fill: var(--dark-grayish-blue);
}

.footer__social:hover .footer__social-icon {
  fill: var(--strong-cyan);
}

@media only screen and (min-width: 376px) {

  .header {
    background: linear-gradient(to bottom, transparent, var(--white)), 
      url("./images/bg-header-desktop.png");
  }

  .main__resoucers-title {
    text-align: left;
  }

  .main__resources-description {
    text-align: left;
  }

  .footer__menu {
    justify-content: stretch;
  }

  .footer__link-wrapper {
    text-align: left;
  }

}

.footer__attribution { 
  text-align: center;
  margin: 0.6rem 0;
}




