@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --dark-violet: hsl(256, 26%, 20%);
    --grayish-blue: hsl(216, 30%, 68%);
    --very-dark-violet: hsl(270, 9%, 17%);
    --dark-grayish-violet: hsl(273, 4%, 51%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
    --line: hsl(273, 4%, 90%);
    --font-headings: "DM Serif Display", serif;
    --font-body: "Karla", sans-serif;
    --padding-inline-desktop-container: min(11.7vw, 10.6rem);
    --padding-inline-mobile-container: min(calc(8.8vw - 2.1rem), 1.25rem);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html, body { width: 100%; }

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    overflow-y: auto;
}

.container {
    display: flex;
    flex-direction: column;
    max-inline-size: 1440px;
    width: inherit;
}

.header {
    flex: 1 0 auto;
    padding-block: 1.87rem;
    display: flex;
    align-items: center;
    padding-inline: var(--padding-inline-desktop-container);
}

.header__menu {
    display: none;
    position: fixed;
    top: 11%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: var(--very-dark-violet);
}

.header__btn-hamburger { display: block; }

.header__btn-close { display: none;}

.header__btn-menu {
    margin-inline-start: auto;
    border: none;
    background-color: transparent;
}

.header__icon-menu { display: block; }

.header__item-menu { display: inline-block; }

.header__item-link {
    margin-inline-start: min(1.4vw, 1.3rem);
    font-family: var(--font-body);
    font-size: clamp(.6rem, 1vw, .9rem);
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .05rem;
    color: var(--dark-grayish-violet);
}

.header__item-link:hover { color: var(--very-dark-violet); }

.header__item-link--button {
    border: 2px solid var(--dark-grayish-violet);
    padding: min(1vw, .6rem) min(1.7vw, 1.6rem);
}

.header__item-link--button:hover {
    border-color: var(--very-dark-violet);
    background-color: var(--very-dark-violet);
    color: var(--very-light-gray);
}

.main { 
    width: inherit;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headline {
    position: relative;
    width: inherit;
    height: auto;
    margin-block-end: min(38vw, 10rem); 
}

@media only screen and (max-width: 576px) {
    
    .headline__content::after {
        position: absolute;
        content: url("./images/bg-pattern-intro-right-mobile.svg");
        top: 85%;
        right: 0%;
        width: 30%;
        height: auto;
    }

    .benefits::before {
        position: absolute;
        top: 0;
        left: calc(35% - 1rem);
        content: "";
        width: calc(min(45vw, 165px) - 1rem);
        height: 1px;
        border-radius: 10px;
        border: none;
        background-color: var(--grayish-blue);
    }
}

.headline__content {
    grid-area: content-text;
    padding-block-start: min(14vw, 3.5rem);
    padding-block-end: min(26vw, 7rem);
    text-align: center;
    color: var(--very-light-gray);
    background:  var(--dark-violet) url("./images/bg-pattern-intro-left-mobile.svg") no-repeat left min(2vw - 1rem) / min(40vw, 45%) auto;
}

.headline__wrapper {
    position: relative;
    top: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 
    "imagem"
    "content-text";
    background-color: transparent;
    z-index: 0;
}

.headline__wrapper-imagem { grid-area: imagem; }

.headline__imagem {
    display: block;
    max-inline-size: 100%;
    block-size: auto;
}

:is(.headline__title,
    .benefits__title,
    .benefits__item-title,
    .how-we-work__announcement) {
        font-family: var(--font-headings);
        font-weight: 400;
}

.headline__title {
    margin: auto;
    font-size: clamp(1rem, 11.9vw, 2.8rem);
    line-height: calc(clamp(1rem, 11.9vw, 2.8rem) * 0.9);
    max-inline-size: 15ch; 
    margin-block-end: min(4.6vw, 1.1rem);
}

.headline__introduction {
    margin: auto;
    font-family: var(--font-body);
    font-size: clamp(.6rem, 3.8vw, .9rem);
    line-height: calc(clamp(.6rem, 3.8vw, .9rem) * 1.5);
    max-inline-size: 34ch;
    margin-block-end: min(7.6vw, 1.8rem);
}

:is(.headline__btn, .how-we-work__btn) {
    font-family: var(--font-body);
    font-size: clamp(.7rem, 3.4vw, .8rem);
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .05rem;
    padding: min(2.5vw, 0.6rem) min(4.2vw, 1rem);
    border: 1px solid var(--very-light-gray);
    color: var(--very-light-gray);
    background-color: transparent;
    cursor: pointer;
}

:is(.headline__btn, .how-we-work__btn):hover {
    background-color: var(--very-light-gray);
    color: var(--dark-violet);
}

.benefits {
    position: relative;
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: var(--padding-inline-mobile-container);
    color: var(--very-dark-violet);
    margin-block-end: min(38vw, 10rem);
}

.benefits__title {
    font-size: clamp(1rem, 11.9vw, 2.8rem);
    margin-block-start: min(12vw, 3rem);
    margin-block-end: min(12vw, 3rem);
}

.benefits__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: min(8.5vw, 2rem) 0;
}

.benefits__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefits__wrapper-icon {
    width: 100%;
    max-inline-size: 25%;
    block-size: auto;
    margin-block-end: min(7.4vw, 1.75rem);
}

.benefits__item-title {
    font-size: clamp(1rem, 7.2vw, 1.7rem);
    margin-block-end: min(4.6vw, 1.1rem);
}

.benefits__item-text {
    font-family: var(--font-body);
    font-size: clamp(.6rem, 3.8vw, .9rem);
    line-height: calc(clamp(.6rem, 3.8vw, .9rem) * 1.5);
    max-inline-size: 35ch;
    text-align: center;
}

.how-we-work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 86%;
    padding: min(22.6vw, 5.3rem) min(5.3vw, 1.25rem);
    margin-block-end: min(42vw, 10rem);
    background: var(--dark-violet) url("./images/bg-pattern-how-we-work-mobile.svg") no-repeat right top / auto auto;
}

.how-we-work__announcement {
    font-size: clamp(1.5rem, 10.2vw, 2.4rem);
    line-height: calc(clamp(1.5rem, 10.2vw, 2.4rem) * 1.05);
    text-align: center;
    margin-block-end: min(5.3vw, 1.25rem);
    color: var(--very-light-gray);
}

.footer {
    padding-inline: min(8vw, 1.8rem);
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    background: var(--very-light-gray) url("./images/bg-pattern-footer-mobile.svg") no-repeat left top / auto auto;
}

.footer_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: min(8.5vw, 2rem);
    border-bottom: 2px solid var(--line);
    padding-block-start: min(21vw, 5rem);
    padding-block-end: min(10.6vw, 2.5rem);
    margin-block-end: min(13.3vw, 3.1rem);
}

.footer__wrapper-midias {
    display: flex;
    gap: 0 min(5.3vw, 1.25rem);
}

.footer__midia-icon { 
    fill: var(--dark-grayish-violet); 
    cursor: pointer;
}

.footer__menu-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    row-gap: min(5.3vw, 1.25rem);
    font-family: var(--font-body);
    text-align: center;
    text-transform: uppercase;
}

.footer__title {
    font-size: clamp(.8rem, 4.2vw, .95rem);
    color: var(--dark-grayish-violet);
    margin-block-end: min(8vw, 1.8rem);
}

.footer__item {
    margin-block-end: min(4.5vw, 1rem);
}

.footer__link {
    font-size: clamp(.8rem, 4.2vw, .95rem);
    font-weight: 700;
    text-decoration: none;
    color: var(--dark-violet);
}

.footer__link:hover { text-decoration: underline; }

.footer__midia-icon:hover { fill: var(--very-dark-violet); }

attribution-footer { 
    font-family: var(--font-body);
    margin: .6rem 0; 
}

@media only screen and (min-width: 577px) {

    .header__menu {
        display: block;
        position: static;
        top: 0;
        left: 0;
        width: auto;
        height: auto;
        margin-inline-start: auto;  
        z-index: 0;
        background-color: transparent;
    }

    .header__btn-menu { display: none; }
    
    .headline {
        height: calc(min(50vw, 630px) - 2rem);
        margin-block-end: min(21vw, 19rem);
        background-color: var(--dark-violet);
    }
    
    .headline::before {
        position: absolute;
        content: url("./images/bg-pattern-intro-right-desktop.svg");
        top: 0;
        right: 0;
        width: min(30vw, 30%);
        height: auto;
        z-index: 1;
    }
    
    .headline::after {
        position: absolute;
        content: url("./images/bg-pattern-intro-left-desktop.svg");
        top: min(30vw, 72%);
        left: 0;
        width: min(30vw, 14%);
        height: auto;
    }
    
    .headline__wrapper {
        top: calc(20% - 1rem);
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas: "content-text imagem";
        gap: 0 1.5rem;
        padding-inline: var(--padding-inline-desktop-container); 
    }

    .headline__content { 
        text-align: start;
        padding-block-start: min(4.5vw, 4rem);
        background: none; 
    }
     
    .headline__content::before {
        position: absolute;
        top: 0;
        content: "";
        width: calc(min(15vw, 165px) - 1rem);
        height: 1px;
        border-radius: 10px;
        border: none;
        background-color: var(--very-light-gray);
    }

    .headline__title {
        font-size: clamp(1.5rem, 4.85vw, 4.37rem);
        line-height: calc(clamp(2rem, 4.85vw, 4.37rem) * 0.9);
        margin-block-end: min(2vw, 1.8rem);
    }
    
    .headline__introduction {
        font-size: clamp(.6rem, 1.1vw, 1rem);
        line-height: calc(clamp(.6rem, 1.1vw, 1rem) * 1.5);
        max-inline-size: 56ch;
        margin-block-end: min(2.7vw, 2.5rem);
    }

    :is(.headline__btn, .how-we-work__btn) {
        font-size: clamp(.6rem, 1vw, .9rem);
        padding: min(.6vw, .6rem) min(1.7vw, 1.6rem);
        border: 2px solid var(--very-light-gray);
    }

    .benefits { 
        align-items: start;
        padding-inline: var(--padding-inline-desktop-container);
        margin-block-end: min(11vw, 10rem);
    }

    .benefits::before {
        position: absolute;
        top: 0;
        content: "";
        width: calc(min(15vw, 165px) - 1rem);
        height: 1px;
        border-radius: 10px;
        border: none;
        background-color: var(--grayish-blue);
    }
    
    .benefits__title {
        font-size: clamp(1.5rem, 4.85vw, 4.37rem);
        margin-block-start: min(3.4vw, 3.1rem);
        margin-block-end: min(5.5vw, 5rem);
    }
    
    .benefits__content {
        flex-wrap: nowrap;
        gap: 0 min(2.2vw, 2rem);
    }

    .benefits__item { align-items: start; }
    
    .benefits__wrapper-icon { margin-block-end: min(1.9vw, 1.75rem); }
    
    .benefits__item-title {
        font-size: clamp(1rem, 1.8vw, 1.7rem);
        margin-block-end: min(1.2vw, 1.1rem);
    }
    
    .benefits__item-text {
        font-size: clamp(.6rem, 1.1vw, 1rem);
        line-height: calc(clamp(.6rem, 1.1vw, 1rem) * 1.5);
        max-inline-size: 48ch;
        text-align: start;
    }
    
    .how-we-work {
        flex-direction: row;
        max-inline-size: 1100px;
        padding: min(4vw, 4.1rem) min(5.5vw, 5rem);
        margin-block-end: min(11vw, 10rem);
        background: var(--dark-violet) url("./images/bg-pattern-how-we-work-desktop.svg") no-repeat right top / min(40vw, 45%) auto;
    }
    
    .how-we-work__announcement {
        font-size: clamp(1.5rem, 4.85vw, 3.4rem);
        line-height: calc(clamp(1.5rem, 4.85vw, 3.4rem) * 1.05);
        text-align: start;
    }
    
    .how-we-work__btn { margin-inline-start: auto; }

    .footer { background: var(--very-light-gray) url("./images/bg-pattern-footer-desktop.svg") no-repeat left top / min(40vw, 37%) auto; }
    
    .footer_header {
        flex-direction: row;
        justify-content: space-between;
        padding-block-start: min(4.7vw, 4.3rem);
        padding-block-end: min(1.7vw, 1.6rem);
        margin-block-end: min(3.4vw, 3.1rem);
    }
    
    .footer__wrapper-midias {
        display: flex;
        gap: 0 min(1vw, .93rem);
    }
    
    .footer__menu-wrapper {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        text-align: start;
    }
    
    .footer__title {
        font-size: clamp(.56rem, 1.1vw, 1rem);
        margin-block-end: min(2vw, 1.8rem);
    }
    
    .footer__item { margin-block-end: min(1vw, .8rem); }
    
    .footer__link { font-size: clamp(.6rem, 1vw, .9rem); }

}