@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,40..300&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

html,
body {
  background-color: #ffffff;
  inline-size: 100%;
}

.container {
  inline-size: 100%;
  margin: 0 auto;
  max-inline-size: 100vw;
  padding-inline: min(6.4vw, 1.5rem);
}
@media (min-width: 575.98px) {
  .container {
    max-inline-size: 768px;
    padding-inline: min(5.078125vw, 2.4375rem);
  }
}
@media (min-width: 768.98px) {
  .container {
    max-inline-size: 1440px;
    padding-inline: min(11.4583333333vw, 10.3125rem);
  }
}

.header .logo {
  padding-block: min(12.2666666667vw, 2.875rem) min(21.3333333333vw, 5rem);
}
@media (min-width: 575.98px) {
  .header .logo {
    padding-block: min(19.2vw, 4.5rem) min(27.7333333333vw, 6.5rem);
  }
}
@media (min-width: 768.98px) {
  .header .logo {
    padding-block: min(21.6vw, 5.0625rem) min(46.4vw, 10.875rem);
  }
}
.header .logo__img {
  display: block;
  margin: 0 auto;
}
@media (min-width: 575.98px) {
  .header .logo__img {
    margin: 0;
  }
}
.header .hero__content {
  text-align: center;
}
@media (min-width: 575.98px) {
  .header .hero__content {
    text-align: start;
  }
}
.header .hero__title {
  color: #25293a;
  font-size: clamp(1.25rem, 0.5rem + 8.5333333333vw, 2.5rem);
  font-weight: 800;
  line-height: calc(clamp(1.25rem, 0.5rem + 8.5333333333vw, 2.5rem) * 1.2);
}
@media (min-width: 768.98px) {
  .header .hero__title {
    font-size: clamp(2.25rem, 0.5rem + 3.3333333333vw, 3.5rem);
    line-height: calc(clamp(2.25rem, 0.5rem + 3.3333333333vw, 3.5rem) * 1.145);
  }
}
.header .hero__description {
  color: #747895;
  font-size: clamp(0.625rem, 0.5rem + 2.1333333333vw, 1rem);
  line-height: calc(clamp(0.625rem, 0.5rem + 2.1333333333vw, 1rem) * 1.63);
  font-weight: 400;
}
@media (min-width: 768.98px) {
  .header .hero__description {
    font-size: clamp(0.625rem, 0.5rem + 2.6666666667vw, 1.125rem);
    line-height: calc(clamp(0.625rem, 0.5rem + 0.6944444444vw, 1.125rem) * 1.99);
  }
}

.btn__get-start {
  background-color: #5175ff;
  border-radius: 1.75rem;
  box-shadow: 0 25px 25px -10px hsla(227, 52%, 50%, 0.2472);
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: clamp(0.625rem, 0.5rem + 2.1333333333vw, 1rem);
  font-weight: 800;
  line-height: calc(clamp(0.625rem, 0.5rem + 2.1333333333vw, 1rem) * 1.75);
  padding: min(3.7333333333vw, 0.875rem) min(10.9333333333vw, 2.5625rem);
  text-decoration: none;
}

.btn__get-start:hover {
  background-color: #829cff;
}

.plans {
  display: flex;
  flex-direction: column;
  gap: min(8.5333333333vw, 2rem) 0;
}
@media (min-width: 504.98px) and (max-width: 768.98px) {
  .plans {
    flex-direction: column;
    gap: min(3.125vw, 1.5rem) 0;
  }
}
@media (min-width: 768.98px) {
  .plans {
    flex-direction: row;
    gap: 0 min(2.0833333333vw, 1.875rem);
  }
}
.plans .card {
  border-radius: 0.8125rem;
  display: grid;
  grid-template-columns: minmax(auto, 327px);
  grid-template-rows: auto;
  justify-content: center;
  padding: min(10.6666666667vw, 2.5rem) min(12.8vw, 3rem);
  grid-template-areas: "header" "body" "footer";
  text-align: center;
}
@media (min-width: 504.98px) and (max-width: 768.98px) {
  .plans .card {
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-content: flex-start;
    padding: min(6.25vw, 3rem);
    grid-template-areas: "header body" "header body" "footer body";
    text-align: start;
  }
}
@media (min-width: 768.98px) {
  .plans .card {
    grid-template-columns: minmax(auto, 350px);
    grid-template-rows: auto;
    padding: min(10.6666666667vw, 2.5rem) min(12.8vw, 3rem);
    padding: min(2.7777777778vw, 2.5rem) min(4.4444444444vw, 4rem);
    grid-template-areas: "header" "body" "footer";
  }
}
.plans .card--emphasis {
  background-color: #5175ff;
}
.plans .card__header {
  color: #333950;
  grid-area: header;
}
.plans .card--emphasis .card__header {
  color: #ffffff;
}
.plans .card__title {
  font-size: clamp(1rem, 0.5rem + 3.2vw, 1.25rem);
  font-weight: 800;
  line-height: calc(clamp(1rem, 0.5rem + 3.2vw, 1.25rem) * 1.4);
}
.plans .card__price {
  font-size: clamp(2.25rem, 0.5rem + 12.8vw, 3.5rem);
  font-weight: 800;
  line-height: calc(clamp(2.25rem, 0.5rem + 12.8vw, 3.5rem) * 1.143);
  padding-block: min(10.6666666667vw, 2.5rem) min(2.1333333333vw, 0.5rem);
  display: block;
}
@media (min-width: 504.98px) and (max-width: 768.98px) {
  .plans .card__price {
    padding-block: min(2.0833333333vw, 1rem) min(0.5208333333vw, 0.25rem);
  }
}
@media (min-width: 768.98px) {
  .plans .card__price {
    padding-block: min(2.7777777778vw, 2.5rem) min(0.5555555556vw, 0.5rem);
  }
}
.plans .card__included-in-plan {
  font-size: clamp(0.5rem, 0.5rem + 2.1333333333vw, 1rem);
  font-weight: 400;
  line-height: calc(clamp(0.5rem, 0.5rem + 2.1333333333vw, 1rem) * 1.75);
  padding-block-end: 0;
}
@media (min-width: 504.98px) and (max-width: 768.98px) {
  .plans .card__included-in-plan {
    padding-block-end: min(3.125vw, 1.5rem);
  }
}
.plans .card__body {
  grid-area: body;
}
@media (min-width: 504.98px) and (max-width: 768.98px) {
  .plans .card__body {
    display: flex;
    justify-content: center;
  }
}
.plans .card__list-resources {
  color: #747895;
  font-size: clamp(0.5rem, 0.5rem + 2.1333333333vw, 1rem);
  font-weight: 400;
  line-height: calc(clamp(0.5rem, 0.5rem + 2.1333333333vw, 1rem) * 1.75);
  list-style-type: none;
  padding-block: min(14.9333333333vw, 3.5rem) min(8.5333333333vw, 2rem);
}
@media (min-width: 504.98px) and (max-width: 768.98px) {
  .plans .card__list-resources {
    padding-block: 0 0;
  }
}
@media (min-width: 768.98px) {
  .plans .card__list-resources {
    padding-block: min(3.8888888889vw, 3.5rem) min(2.2222222222vw, 2rem);
  }
}
.plans .card--emphasis .card__list-resources {
  color: #ffffff;
  opacity: 0.75;
}
.plans .card__list-item:nth-child(2) {
  padding-block: min(4.2666666667vw, 1rem);
}
@media (min-width: 504.98px) and (max-width: 768.98px) {
  .plans .card__list-item:nth-child(2) {
    padding-block: min(2.0833333333vw, 1rem);
  }
}
@media (min-width: 768.98px) {
  .plans .card__list-item:nth-child(2) {
    padding-block: min(1.1111111111vw, 1rem);
  }
}
.plans .card__footer {
  grid-area: footer;
}
.plans .card__btn {
  background-color: rgba(81, 117, 255, 0.15);
  border: none;
  border-radius: 1.75rem;
  color: #5175ff;
  cursor: pointer;
  font-size: clamp(0.5rem, 0.5rem + 2.1333333333vw, 1rem);
  font-weight: 800;
  line-height: calc(clamp(0.5rem, 0.5rem + 2.1333333333vw, 1rem) * 1.75);
  padding: min(3.7333333333vw, 0.875rem) min(10.6666666667vw, 2.5rem);
}
.plans .card--no-emphasis .card__btn:hover {
  background-color: rgba(81, 117, 255, 0.35);
}
.plans .card--emphasis .card__btn {
  background-color: #ffffff;
}
.plans .card--emphasis .card__btn:hover {
  color: #829cff;
}

.attribution {
  color: #25293a;
  font-size: 0.6875rem;
  padding-block: min(256.25vw, 2.5625rem) 0.6rem;
  text-align: center;
}
.attribution__link {
  color: #5175ff;
}