@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,40..300&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

html,
body {
  background-color: #fafafa;
  inline-size: 100%;
  block-size: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content auto auto;
  inline-size: 100%;
  margin: 0 auto;
  max-inline-size: 100vw;
  height: 100%;
  grid-template-areas: "header" "main" "decoration";
}
@media (min-width: 575.98px) {
  .container {
    max-inline-size: 768px;
  }
}
@media (min-width: 768.98px) {
  .container {
    grid-template-columns: minmax(auto, 1020px) minmax(auto, 420px);
    grid-template-rows: min-content 1fr;
    max-inline-size: 1440px;
    padding-inline: min(11.4583333333vw, 10.3125rem) 0;
    grid-template-areas: "header decoration" "main   decoration";
  }
}

.header {
  grid-area: header;
}
@media (min-width: 768.98px) {
  .header .logo {
    padding-block-start: min(5.625vw, 5.0625rem);
  }
}
.header .logo__img {
  display: block;
  margin: 0 auto;
}
@media (min-width: 375.98px) {
  .header .logo__img {
    margin: 0;
  }
}

.main {
  grid-area: main;
  align-self: center;
}

.hero {
  display: flex;
  flex-direction: row;
  position: relative;
}
.hero .content {
  flex-basis: 540px;
}
.hero .content__title {
  color: #25293a;
  font-size: clamp(1.25rem, 0.5rem + 8.5333333333vw, 2.5rem);
  font-weight: 800;
  line-height: calc(clamp(1.25rem, 0.5rem + 8.5333333333vw, 2.5rem) * 1.2);
}
@media (min-width: 504.98px) and (max-width: 768.98px) {
  .hero .content__title {
    font-size: clamp(1.25rem, 0.5rem + 4.1666666667vw, 2.5rem);
    line-height: calc(clamp(1.25rem, 0.5rem + 4.1666666667vw, 2.5rem) * 1.2);
  }
}
@media (min-width: 768.98px) {
  .hero .content__title {
    font-size: clamp(1.875rem, 0.5rem + 3.3333333333vw, 3.5rem);
    line-height: calc(clamp(1.875rem, 0.5rem + 3.3333333333vw, 3.5rem) * 1.143);
  }
}
.hero .content__description {
  color: #747895;
  font-size: clamp(0.625rem, 0.5rem + 2.1333333333vw, 1rem);
  font-weight: 400;
  line-height: calc(clamp(0.625rem, 0.5rem + 2.1333333333vw, 1rem) * 1.63);
  padding-block: min(6.4vw, 1.5rem);
}
@media (min-width: 504.98px) and (max-width: 768.98px) {
  .hero .content__description {
    font-size: clamp(0.625rem, 0.5rem + 1.0416666667vw, 1rem);
    line-height: calc(clamp(0.625rem, 0.5rem + 1.0416666667vw, 1rem) * 1.56);
    padding-block: min(3.125vw, 1.5rem) min(3.125vw, 1.5rem);
  }
}
@media (min-width: 768.98px) {
  .hero .content__description {
    font-size: clamp(0.625rem, 0.5rem + 0.6944444444vw, 1.125rem);
    line-height: calc(clamp(0.625rem, 0.5rem + 0.6944444444vw, 1.125rem) * 1.56);
    padding-block: min(1.6666666667vw, 1.5rem) min(2.2222222222vw, 2rem);
  }
}
.hero .time-counter {
  align-items: center;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768.98px) {
  .hero .time-counter {
    align-items: start;
  }
}
.hero .time-counter__title {
  color: #25293a;
  font-size: clamp(0.625rem, 0.5rem + 2.1333333333vw, 1rem);
  font-weight: 800;
  letter-spacing: 5px;
  line-height: calc(clamp(0.625rem, 0.5rem + 2.1333333333vw, 1rem) * 3);
  text-transform: uppercase;
}
.hero .time-counter__title-emphasis {
  color: #829cff;
  font-style: normal;
}
@media (min-width: 504.98px) and (max-width: 768.98px) {
  .hero .time-counter__title {
    font-size: clamp(0.625rem, 0.5rem + 1.0416666667vw, 1rem);
    line-height: calc(clamp(0.625rem, 0.5rem + 1.0416666667vw, 1rem) * 3);
  }
}
@media (min-width: 768.98px) {
  .hero .time-counter__title {
    font-size: clamp(0.625rem, 0.5rem + 2.1333333333vw, 1rem);
    line-height: calc(clamp(0.625rem, 0.5rem + 0.5555555556vw, 1rem) * 3);
  }
}
.hero .time-counter__countdown {
  column-gap: min(3.4666666667vw, 0.8125rem);
  display: flex;
  inline-size: 100%;
  max-inline-size: 448px;
}
@media (min-width: 504.98px) and (max-width: 768.98px) {
  .hero .time-counter__countdown {
    column-gap: min(2.0833333333vw, 1rem);
  }
}
@media (min-width: 768.98px) {
  .hero .time-counter__countdown {
    column-gap: min(1.1111111111vw, 1rem);
  }
}
.hero .time-counter__digit {
  background-color: #eef1ff;
  border-radius: 0.8125rem;
  color: #5175ff;
  display: flex;
  flex: 0 1 100px;
  flex-direction: column;
  font-weight: 800;
  padding: min(4.2666666667vw, 1rem);
  row-gap: 2.12px;
  text-align: center;
}
@media (min-width: 504.98px) and (max-width: 768.98px) {
  .hero .time-counter__digit {
    padding: min(2.0833333333vw, 1rem);
  }
}
@media (min-width: 768.98px) {
  .hero .time-counter__digit {
    padding: min(1.9791666667vw, 1.78125rem) min(1.1111111111vw, 1rem);
  }
}
.hero .time-counter__time {
  font-size: clamp(1rem, 0.5rem + 6.4vw, 2rem);
  line-height: calc(clamp(1rem, 0.5rem + 6.4vw, 2rem) * 0.858);
}
@media (min-width: 504.98px) and (max-width: 768.98px) {
  .hero .time-counter__time {
    font-size: clamp(1rem, 0.5rem + 6.25vw, 3.5rem);
    line-height: calc(clamp(1rem, 0.5rem + 6.25vw, 3.5rem) * 0.858);
  }
}
@media (min-width: 768.98px) {
  .hero .time-counter__time {
    font-size: clamp(1rem, 0.5rem + 3.3333333333vw, 3.5rem);
    line-height: calc(clamp(1rem, 0.5rem + 3.3333333333vw, 3.5rem) * 0.858);
  }
}
.hero .time-counter__period {
  color: #333950;
  font-size: clamp(0.5rem, 0.5rem + 1.0666666667vw, 0.75rem);
  line-height: calc(clamp(0.5rem, 0.5rem + 1.0666666667vw, 0.75rem) * 1.75);
  opacity: 0.5;
}
.hero .form {
  flex-basis: 445px;
  position: relative;
  left: 275px;
  border-radius: 0.8125rem;
  background-color: #ffffff;
  inline-size: 100%;
  max-inline-size: 445px;
}
.hero .form__wrapper-input {
  display: flex;
  flex-direction: column;
  row-gap: min(6.4vw, 1.5rem);
  padding-block-end: min(10.6666666667vw, 2.5rem);
}
@media (min-width: 504.98px) and (max-width: 768.98px) {
  .hero .form__wrapper-input {
    row-gap: min(3.125vw, 1.5rem);
    padding-block-end: min(5.2083333333vw, 2.5rem);
  }
}
@media (min-width: 768.98px) {
  .hero .form__wrapper-input {
    row-gap: min(1.6666666667vw, 1.5rem);
    padding-block-end: min(2.7777777778vw, 2.5rem);
  }
}
.hero .form :is(.form__input, .form__select) {
  border: none;
  border-bottom: 1px solid #babdca;
  color: #25293a;
  display: block;
  font-size: clamp(0.625rem, 0.5rem + 2.1333333333vw, 1rem);
  inline-size: 100%;
  line-height: calc(clamp(0.625rem, 0.5rem + 2.1333333333vw, 1rem) * 1.75);
  padding-block-end: 17px;
  padding-inline-start: 16px;
}
@media (min-width: 768.98px) {
  .hero .form :is(.form__input, .form__select) {
    font-size: clamp(0.625rem, 0.5rem + 1.0416666667vw, 1rem);
    line-height: calc(clamp(0.625rem, 0.5rem + 1.0416666667vw, 1rem) * 1.75);
  }
}
@media (min-width: 768.98px) {
  .hero .form :is(.form__input, .form__select) {
    font-size: clamp(0.625rem, 0.5rem + 0.5555555556vw, 1rem);
    line-height: calc(clamp(0.625rem, 0.5rem + 0.5555555556vw, 1rem) * 1.75);
  }
}
.hero .form__input::placeholder {
  color: #babdca;
  font-size: clamp(0.625rem, 0.5rem + 2.1333333333vw, 1rem);
}
@media (min-width: 504.98px) and (max-width: 768.98px) {
  .hero .form__input::placeholder {
    font-size: clamp(0.625rem, 0.5rem + 1.0416666667vw, 1rem);
  }
}
@media (min-width: 768.98px) {
  .hero .form__input::placeholder {
    font-size: clamp(0.625rem, 0.5rem + 0.5555555556vw, 1rem);
  }
}
@media (min-width: 768.98px) {
  .hero .form {
    padding: min(2.7777777778vw, 2.5rem) min(2.9166666667vw, 2.625rem);
  }
}
.hero .form__submit {
  background-color: #5175ff;
  border: none;
  border-radius: 1.75rem;
  color: #ffffff;
  cursor: pointer;
  font-size: clamp(0.5rem, 0.5rem + 2.1333333333vw, 1rem);
  font-weight: 800;
  line-height: calc(clamp(0.5rem, 0.5rem + 2.1333333333vw, 1rem) * 1.75);
  padding: min(3.7333333333vw, 0.875rem) min(10.6666666667vw, 2.5rem);
  inline-size: 100%;
}
@media (min-width: 504.98px) and (max-width: 768.98px) {
  .hero .form__submit {
    font-size: clamp(0.5rem, 0.5rem + 1.0416666667vw, 1rem);
    line-height: calc(clamp(0.5rem, 0.5rem + 1.0416666667vw, 1rem) * 1.75);
    padding: min(1.8229166667vw, 0.875rem) min(5.2083333333vw, 2.5rem);
  }
}
@media (min-width: 768.98px) {
  .hero .form__submit {
    font-size: clamp(0.5rem, 0.5rem + 0.5555555556vw, 1rem);
    line-height: calc(clamp(0.5rem, 0.5rem + 0.5555555556vw, 1rem) * 1.75);
    padding: min(0.9722222222vw, 0.875rem) min(2.7777777778vw, 2.5rem);
  }
}
.hero .form__submit:hover {
  background-color: rgba(81, 117, 255, 0.35);
  color: #5175ff;
}

.decoration {
  grid-area: decoration;
  background-color: #25293a;
}
@media (min-width: 768.98px) {
  .decoration {
    padding-inline-end: min(11.4583333333vw, 10.3125rem);
  }
}