@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --shadow: hsl(223, 100%, 87%);
  --bright-blue: hsl(245, 75%, 52%);
  --bright-blue-hover: hsl(245, 80%, 75%);
  --bright-blue-shadow: hsl(245, 20%, 80%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
  --white: #ffffff;
  --dark: #000000;
  --font: 'Red Hat Display', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}


body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font);
  background-color: var(--pale-blue);
}

main {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  background-image: url("./images/pattern-background-mobile.svg"); 
  background-repeat: no-repeat;
  background-size: contain;
}

@media only screen and (min-width: 470px) {
  main {
    background-image: url("./images/pattern-background-desktop.svg");
  }
} 

.card {
  flex: 0 1 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  border-radius: 16px;
  margin: 0.6rem;
  box-shadow: 0px 16px 50px var(--shadow);
}

.card__image-header {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 16px 16px 0 0;
}

.card__body {
  padding: min(9vw, 2rem) min(9vw, 3rem);
}

.card__title {
  font-size: clamp(1rem, 6vw, 1.5rem);
  text-align: center;
  font-weight: 900;
  color: var(--dark-blue);
}

.card__messagem {
  text-align: center;
  margin: min(8vw, 1rem) 0;
  font-size: clamp(0.6rem, 8vw, 0.9rem);
  line-height: calc(clamp(0.6rem, 8vw, 0.9rem) * 1.5);
  font-weight: 500;
  color: var(--desaturated-blue);
}

.card__choice-plan {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: min(8vw, 1rem) 0;
  padding: min(10vw, 1rem); 
  border-radius: 10px;
  background-color: var(--very-pale-blue);
}

.card__image-icon {
  max-width: 100%;
  height: auto;
}

.card__plan-wrap {
  display: flex;
  flex-direction: column;
}

.card_type-of-plan {
  font-size: clamp(0.6rem, 8vw, 1rem);
  font-weight: 900;
  color: var(--dark-blue);
}

.card__price {
  font-size: clamp(0.6rem, 8vw, 0.9rem);
  font-weight: 700;
  color: var(--desaturated-blue);
}

.card__change-plan {
  font-size: clamp(0.6rem, 8vw, 0.8rem);
  font-weight: 700;
  color: var(--bright-blue);
}

.card__change-plan:hover {
  text-decoration: none;
  color: var(--bright-blue-hover);
}

.card__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__btn-playment {
  width: 100%;
  padding: 1rem 0.6rem;
  margin: min(8vw, 0.6rem) 0;
  border-style: none;
  border-radius: 10px;
  font-size: clamp(0.6rem, 8vw, 0.9rem);
  font-weight: 900;
  box-shadow: 0 8px 20px var(--bright-blue-hover);
  background-color: var(--bright-blue);
  color: var(--white);
  cursor: pointer;
}

.card__btn-playment:hover {
  background-color: var(--bright-blue-hover);
}

.card__btn-cancel {
  width: 100%;
  padding: 1rem 0.6rem;
  border-style: none;
  border-radius: 10px;
  font-size: clamp(0.6rem, 8vw, 0.9rem);
  font-weight: 900;
  color: var(--desaturated-blue);
  background-color: transparent;
  cursor: pointer;
}

.card__btn-cancel:hover {
  color: var(--dark-blue);
}

footer {
  flex-shrink: 0;
  margin: 0.6rem 0;
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { color: var(--bright-blue); }
