@use "base";

@include base.reset;

html,
body {
  @include base.layoutViewportHeight;
  background-color: base.$neutral-900;
  color: base.$neutral-200;
  inline-size: 100%;
  max-inline-size: 100vw;
}

.container {
  @include base.layoutViewportHeight;
  align-items: center;
  background-image: url("/assets/images/bg-dark-theme.png");
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  margin-inline: auto;
  max-inline-size: base.convertPxToRem(1440);
  padding-inline: base.convertPxToRem(16);
  row-gap: base.fluidSpace(40);

  @include base.breakpoint("md") {
    padding-inline: base.fluidSpace(32, "tablet");
  }

  @include base.breakpoint("lg") {
    row-gap: base.fluidSpace(48, "desktop");
  }
}

.header {
  flex: 0 0 auto;
  inline-size: 100%;
  max-inline-size: base.convertPxToRem(990);
  padding-block: base.convertPxToRem(16);

  @include base.breakpoint("lg") {
    padding-block: base.convertPxToRem(32) 0;
  }

  &__content {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__btn {
    align-items: center;
    background-color: base.$neutral-700;
    border: none;
    border-radius: base.convertPxToRem(6);
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: base.convertPxToRem(6);

    @include base.breakpoint("md") {
      padding: base.convertPxToRem(11);
    }
  }

  &__btn:focus {
    outline: 1px solid base.$purple-500;
  }

  &__btn-icon {
    block-size: auto;
    max-inline-size: base.convertPxToRem(20);

    @include base.breakpoint("md") {
      max-inline-size: base.convertPxToRem(22);
    }
  }
}

.main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  max-inline-size: base.convertPxToRem(990);
  row-gap: base.convertPxToRem(40);

  @include base.breakpoint("lg") {
    row-gap: base.fluidSpace(48, "desktop");
  }
}

.title {
  color: base.$neutral-100;
  font-size: base.fluidFont(36, 40);
  font-weight: 700;
  letter-spacing: base.convertPxToRem(-1);
  line-height: 1;
  margin-inline: auto;
  max-inline-size: 12ch;
  text-align: center;

  @include base.breakpoint("sm") {
    font-size: base.fluidFont(50, 64, "tablet");
  }
}

.form {
  &__text {
    background-color: base.$neutral-800;
    block-size: base.convertPxToRem(200);
    border: 2px solid base.$neutral-700;
    border-radius: base.convertPxToRem(12);

    color: base.$neutral-200;
    font-size: base.convertPxToRem(20);
    inline-size: 100%;
    letter-spacing: base.convertPxToRem(-1);
    line-height: 1.4;
    padding: base.convertPxToRem(16);
    font-weight: 400;

    @include base.breakpoint("md") {
      padding: base.convertPxToRem(20);
    }
  }

  &__text::placeholder {
    color: base.$neutral-200;
  }

  &__text:focus {
    border: 2px solid base.$purple-500;
    outline: none;
    box-shadow: 0 0 10px 0 base.$purple-400;
  }

  &__text--error,
  &__text--error:focus {
    border: 2px solid base.$orange-500;
    box-shadow: 0 0 8px 0 base.$orange-500;
  }

  &__warning-limit-characters {
    display: none;
  }

  &__warning-limit-characters--active {
    align-items: center;
    column-gap: base.convertPxToRem(8);
    display: flex;
    padding-block-start: base.convertPxToRem(12);
  }

  &__warning-limit-msg {
    color: base.$orange-500;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: base.convertPxToRem(-0.6);
    line-height: 1.4;
  }

  &__settings {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-weight: 400;
    justify-content: space-between;
    letter-spacing: base.convertPxToRem(-0.6);
    line-height: 1.3;
    padding-top: base.convertPxToRem(14);
    row-gap: base.convertPxToRem(12);

    @include base.breakpoint("md") {
      flex-direction: row;
      row-gap: 0;
    }
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    row-gap: base.convertPxToRem(12);
    column-gap: base.convertPxToRem(24);

    @include base.breakpoint("sm") {
      flex-direction: row;
      row-gap: 0;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    column-gap: base.convertPxToRem(10);
    padding-block: base.convertPxToRem(4);
  }

  &__checkbox {
    position: absolute;
    opacity: 0;
  }

  &__checkbox-custom {
    position: relative;
    background-color: transparent;
    block-size: 1rem;
    border: 1px solid base.$neutral-200;
    border-radius: base.convertPxToRem(4);
    inline-size: 1rem;
  }

  &__icon-check {
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__checkbox:checked + .form__checkbox-custom {
    background-color: base.$purple-400;
    border: 1px solid base.$purple-400;
  }

  &__checkbox:focus + .form__checkbox-custom {
    border: 1px solid base.$neutral-200;
    outline: 1px solid base.$purple-500;
  }

  &__checkbox:checked + .form__checkbox-custom .form__icon-check {
    opacity: 1;
  }

  &__input-limit-caracters {
    display: flex;
    column-gap: base.convertPxToRem(10);
  }

  &__input {
    visibility: hidden;
    background-color: transparent;
    border: 1px solid base.$neutral-600;
    border-radius: base.convertPxToRem(6);
    color: base.$neutral-0;
    font-size: 1rem;
    padding: base.convertPxToRem(4) base.convertPxToRem(12);
    width: base.convertPxToRem(56);
    letter-spacing: base.convertPxToRem(-0.6);
  }

  &__input--active {
    visibility: visible;
  }

  &__input:focus {
    border: 1px solid base.$purple-500;
    outline: none;
  }

  &__reading-time-label {
    padding-block: base.convertPxToRem(4) 0;
  }
}

.stats {
  inline-size: 100%;
}

.card {
  display: flex;
  flex: auto;
  flex-direction: column;
  list-style: none;
  padding-block-end: base.fluidSpace(24);
  row-gap: 1rem;

  @include base.breakpoint("sm") {
    column-gap: 1rem;
    flex-direction: row;
  }

  &__item {
    background-position: 115% center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: base.convertPxToRem(12);
    color: base.$neutral-900;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: base.fluidSpace(25) base.fluidSpace(12);

    @include base.breakpoint("xs") {
      background-position: 125% center;
    }

    @include base.breakpoint("sm") {
      background-position: 195% center;
      flex: 0 1 base.convertPxToRem(319);
      padding: base.fluidSpace(25, "tablet") base.fluidSpace(12, "tablet");
    }

    @include base.breakpoint("md") {
      background-position: 118% center;
    }
  }

  &__content {
    display: flex;
    flex-direction: column-reverse;
    row-gap: base.convertPxToRem(8);
  }

  &__item--total-characters {
    background-color: base.$purple-400;
    background-image: url("/assets/images/pattern-character-count.svg");
  }

  &__item--word-count {
    background-color: base.$yellow-500;
    background-image: url("/assets/images/pattern-word-count.svg");
  }

  &__item--sentence-count {
    background-color: base.$orange-500;
    background-image: url("/assets/images/pattern-sentence-count.svg");
  }

  &__value {
    font-size: base.fluidFont(36, 40);
    font-weight: 700;
    letter-spacing: base.convertPxToRem(-1);
    line-height: 1;

    @include base.breakpoint("sm") {
      font-size: base.fluidFont(50, 64, "tablet");
    }
  }

  &__title {
    font-size: base.convertPxToRem(20);
    font-weight: 400;
    letter-spacing: base.convertPxToRem(-0.6);
    line-height: 1.4;
  }

  &__title-no-space {
    display: none;
    font-size: 1rem;
    line-height: 1.3;
  }

  &__title-no-space--active {
    display: inline-block;
  }
}

.density {
  &__title {
    font-size: base.convertPxToRem(24);
    font-weight: 600;
    letter-spacing: base.convertPxToRem(-1);
    line-height: 1.3;
    padding-block-end: base.fluidSpace(20);
  }

  &__no-characters {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3;
  }

  &__btn-collapsed {
    background-color: transparent;
    border: none;
    column-gap: base.convertPxToRem(8);
    cursor: pointer;
    display: flex;
    color: base.$neutral-0;
    font-size: base.convertPxToRem(20);
    font-weight: 400;
    letter-spacing: base.convertPxToRem(-0.6);
    line-height: 1.4;
    padding-block-start: base.convertPxToRem(8);
    position: relative;
  }

  &__btn-arrow {
    fill: base.$neutral-0;
    left: 110%;
    position: absolute;
    top: 50%;
    transform: translate(-50, -50);
    transform: rotate(0);
  }

  &__btn-arrow--up {
    transform: rotate(180deg);
  }
}

.chart {
  &__item {
    align-items: center;
    column-gap: base.convertPxToRem(14);
    display: flex;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: base.convertPxToRem(-0.6);
    line-height: 1.3;
    padding-block-end: base.convertPxToRem(12);
  }

  &__bar {
    background-color: base.$neutral-800;
    block-size: base.convertPxToRem(16);
    border-radius: base.convertPxToRem(999);
    flex: 1 1 auto;
  }

  &__progress-bar {
    background-color: base.$purple-400;
    block-size: 100%;
    border-radius: base.convertPxToRem(999);
    inline-size: 50%;
  }
}

.footer {
  flex-shrink: 0;
  font-size: 0.6875rem;
  padding-block-end: base.fluidSpace(10);
  text-align: center;

  &__link {
    color: base.$orange-500;
  }
}

.light-mode {
  background-color: base.$neutral-0;
  color: base.$neutral-900;

  .container {
    background-image: url("/assets/images/bg-light-theme.png");
  }

  .header__btn {
    background-color: base.$neutral-100;
  }

  .title {
    color: base.$neutral-900;
  }

  .form__text {
    background-color: base.$neutral-100;
    border: 2px solid base.$neutral-200;
    color: base.$neutral-700;
  }

  .form__text::placeholder {
    color: base.$neutral-700;
  }

  .form__checkbox-custom {
    border: 1px solid base.$neutral-900;
  }

  .form__input {
    color: base.$neutral-900;
  }

  .density__btn-arrow {
    fill: base.$neutral-900;
  }

  .density__btn-collapsed {
    color: base.$neutral-900;
  }

  .chart__bar {
    background-color: base.$neutral-200;
  }
}
