:root {
  --green-179: #3ee9e5;
  --blue-206: #093f68;
  --blue-225: #777f98;
  --blue-230: #080c20;
  --pink-343: #ff2965;
  --white: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: var(--blue-230);
  inline-size: 100%;
}

.container {
  inline-size: 100%;
  margin: 0 auto;
  max-inline-size: 100vw;
}

.header {
  padding-block: min(10.8vw, 2.5rem) min(38.4vw, 9rem);
}

.headerLogoWapper {
  padding-inline: 0;
}

.headerLogo {
  margin: 0 auto;
  display: block;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  padding-inline: min(6.4vw, 1.5rem);
}

.footer {
  background: url("../public/bg-footer-squiggle.svg") no-repeat 50% 20% / 150%
    auto;
  padding-inline: min(6.4vw, 1.5rem);
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  .container {
    max-inline-size: 768px;
  }

  .header {
   
    padding-block: min(6.3vw, 3rem) min(14.2vw, 6.8125rem);
  }

  .headerLogoWapper {
    padding-inline: min(5.08vw, 2.4375rem); 
  }

  .headerLogo {
    margin: 0;
  }

  .main {
    padding-inline: min(12.77vw, 6.125rem);
  }

  .footer {
    background: url("../public/bg-footer-squiggle.svg") no-repeat 75% center /
      150% auto;
  }
}

@media only screen and (min-width: 769px) {
  .container {
    max-inline-size: 1440px;
  }

  .header {
    padding-block: min(6.25vw, 5.0625rem) min(14.05vw, 12.625rem);
  }

  .headerLogoWapper {
    padding-inline: min(11.5vw, 10.3125rem);
  }

  .headerLogo {
    margin: 0;
  }

  .main {
    padding-inline: min(11.46vw, 10.3125rem);
  }

  .footer {
    background: url("../public/bg-footer-squiggle.svg") no-repeat right center /
      110% auto;
  }
}

.attribution__color-label {
  color: var(--blue-225);
}

.attribution__color-link {
  color: var(--green-179);
}
