.hero {
  display: flex;
  flex-direction: column;
  padding-block-start: min(17.47vw, 4.09375rem);
  gap: min(12.98vw, 3.041875rem) 0;
}

.heroImgLeftTopWrapper {
  align-self: center;
  aspect-ratio: 373 / 230;
  inline-size: 100%;
}

.heroImgLeftTop {
  block-size: 100%;
  inline-size: 100%;
}

.heroImageRightWrapper {
  display: none;
}

.heroText {
  padding-inline: min(6.4vw, 1.5rem);
  text-align: center;
}

.heroTitle {
  margin: 0 auto;
  max-inline-size: 15ch;
  color: var(--white);
  font-size: clamp(0.8rem, 0.5rem + 6.4vw, 2rem);
  font-weight: 800;
  line-height: calc(clamp(0.8rem, 0.5rem + 6.4vw, 2rem) * 1.25);
}

.heroTitleLove {
  color: var(--green-179);
}

.heroDescription {
  color: var(--blue-225);
  font-size: clamp(0.6rem, 0.5rem + 0.4375rem, 0.9375rem);
  line-height: calc(clamp(0.6rem, 0.5rem + 0.4375rem, 0.9375rem) * 1.673);
  padding-block: min(6.14vw, 1.4375rem) min(8.54vw, 2rem);
}

.iconScroll {
  display: block;
  margin: 0 auto;
}

@media only screen and (min-width: 575.98px) {
  .hero {
    align-items: center;
    background: url("../public/bg-hero-squiggle.svg") no-repeat center 65% / 52% auto;
    flex-direction: row;
    gap: 0.625rem;
    justify-content: space-between;
    padding-block-start: min(10.03vw, 4.8125rem);
}

  .heroImgLeftTopWrapper {
    align-self: center;
    aspect-ratio: 144 / 354;
    inline-size: 100%;
    max-inline-size: 144px;
    overflow: hidden;
  }

  .heroImgLeftTop {
    block-size: 100%;
    inline-size: 100%;
    object-fit: cover;
    object-position: -170px center;
  }

  .heroImageRightWrapper {
    align-self: center;
    aspect-ratio: 145 / 354;
    display: block;
    inline-size: 100%;
    max-inline-size: 145px;
    overflow: hidden;
    position: relative;
  }

  .heroImgRight {
    block-size: 100%;
    inline-size: 100%;
    object-fit: cover;
    object-position: 0 center;
    position: absolute;
  }

  .heroText {
    padding-inline: 0;
    padding-block: min(calc(8.73vw - 1rem), 3.1875rem);
  }

  .heroTitle {
    max-inline-size: 16ch;
  }

  .heroDescription {
    padding-block: min(1.67vw, 1.5rem) min(4.17vw, 2rem);
  }
}

@media only screen and (min-width: 768.98px) {
  .hero {
    align-items: center;
    background: url("../public/bg-hero-squiggle.svg") no-repeat center 50% / calc(45% - 5rem) auto;
    flex-direction: row;
    gap: 0.625rem;
    justify-content: space-between;
    padding-block-start: min(7.92vw, 7.125rem);
  }

  .heroImgLeftTopWrapper {
    align-self: center;
    aspect-ratio: 354 / 457;
    inline-size: 100%;
    max-inline-size: 354px;
    overflow: hidden;
  }

  .heroImgLeftTop {
    block-size: 100%;
    inline-size: 100%;
    object-fit: cover;
    object-position: -52px center;
  }

  .heroImageRightWrapper {
    align-self: center;
    aspect-ratio: 335 / 442;
    display: block;
    inline-size: 100%;
    max-inline-size: 335px;
    overflow: hidden;
    position: relative;
  }

  .heroImgRight {
    block-size: 100%;
    inline-size: 100%;
    object-fit: cover;
    object-position: 0 center;
    position: absolute;
  }

  .heroContent {
    inline-size: 100%;
    max-inline-size: 540px;
  }

  .heroText {
    padding-inline: 0;
    padding-block: min(calc(5.5vw - 1rem), 3.9375rem);
  }

  .heroTitle {
    font-size: clamp(2rem, 0.5rem + 2.78vw, 3rem);
    line-height: calc(clamp(2rem, 0.5rem + 2.78vw, 3rem) * 1.18);
  }

  .heroDescription {
    padding-block: min(1.67vw, 1.5rem) min(4.45vw, 4rem);
  }
}
