.plans {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: min(21.07vw, 4.9375rem);
}

.plansText { 
    display: block;
    max-width: 52ch;
    text-align: center; 
}

.plansTitle {
    color: var(--white);
    font-size: clamp(.8rem, .5rem + 4.27vw, 1.5rem);
    font-weight: 800;
}

.plansDescription {
    color: var(--blue-225);
    font-size: clamp(.6rem, .5rem + 1.87vw, .9375rem);
    font-weight: 500;
    line-height: calc(clamp(.6rem, .5rem + 1.87vw, .9375rem) * 1.667);
    padding-block-start: min(7.2vw, 1.6875rem);
}

.plansTypesWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: min(17.4vw, 4.0625rem);
    justify-content: center;
}

.card {
    border-radius: .5rem;
    font-weight: 500;
    inline-size: 100%;
    max-inline-size: 445px;
    padding-inline: min(10.1vw, 2.375rem);
    position: relative;
}

.cardIcon {
    position: absolute;
    top: -6%;
}

.cardTitle {
    font-size: clamp(0.8rem, .5rem + 2.67vw, 1.125rem);
    font-weight: 800;
    line-height: calc(clamp(0.8rem, .5rem + 2.67vw, 1.125rem) * 1.667);
}

.cardDescription {
    font-size: clamp(.6rem, .5rem + 1.87vw, .9375rem);
    font-weight: 500;
    line-height: calc(clamp(.6rem, .5rem + 1.87vw, .9375rem) * 1.667);
    opacity: .6;
    padding-block: min(5.07vw, 1.1875rem) min(6.4vw, 1.5rem);
}

.cardFree {
    background-color: var(--blue-206);
    color: var(--white);
    margin-block: min(2.94vw, .6875rem) min(3.2vw, .75rem);
    padding-block: min(13.07vw, 3.0625rem);
}

.cardPrice {
    align-items: center;
    column-gap: .46875rem;
    display: flex;
    font-size: clamp(1rem, .5rem + 8.54vw, 2.5rem);
    font-weight: 800;
    padding-block-end:  min(5.07vw, 1.1875rem);
}

.cardPaid {
    background-color: var(--green-179);
    color: var(--blue-230);
    padding-block: min(16.27vw, 3.8125rem);
}

.cardPrice span {
    font-size: clamp(.6rem, .5rem + 1.87vw, .9375rem);
    font-weight: 500;
    line-height: calc(clamp(.6rem, .5rem + 1.87vw, .9375rem) * 1.667);
    opacity: .6;
}

.cardList {
    font-size: clamp(.6rem, .5rem + 1.87vw, .9375rem);
    line-height: calc(clamp(.6rem, .5rem + 1.87vw, .9375rem) * 1.667);
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.cardFree .cardList { list-style-image: url("/icon-check-free.svg"); }

.cardPaid .cardList { list-style-image: url("/icon-check-paid.svg"); }

@media only screen and (min-width: 768.98px) {

    .plans { row-gap: min(7.30vw, 6.5625rem); }

    .plansTitle { font-size: clamp(1.5rem, .5rem + 1.7vw, 2rem); }

    .plansDescription { padding-block-start: min(1.7vw, 1.5rem); }
    
    .plansTypesWrapper {
        display: flex;
        gap: 0 min(2.09vw, 1.875rem);
        flex-wrap: nowrap;
    }
}