@charset "UTF-8";

.result-tip {
    align-items: center;
    background-color: var(--cyan-500);
    border-radius: .9375rem;
    display: flex;
    flex-direction: column;
    inline-size: inherit;
    row-gap: min(8.53vw, 2rem);
    padding: min(7.2vw, 2.3125rem) min(5.87vw, 1.375rem) min(6.4vw, 2rem) min(6.4vw, 2rem);
}

.result {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    inline-size: 100%;
    row-gap: min(5.34vw, 1.25rem);
}

.result__tip {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.result__label {
    color: var(--white);
    font-size: clamp(.8rem, .5rem + 2.14vw, 1rem);
    font-weight: var(--f-weight-bold);
    letter-spacing: -1px;
}

.result__by-person {
    color: var(--cyan-400);
    display: block;
    font-size: clamp(.6rem, .3125rem + 2.13vw, .8125rem);
}

.result__value::before { content: "$"; }

.result__value {
    color: var(--cyan-300);
    display: block;
    font-size: clamp(1.5rem, .5rem + 6.5vw, 2rem);
    font-weight: var(--f-weight-bold);
}

.btn {
    flex-shrink: 0;
    inline-size: 100%;
}

.btn__reset {
    background-color: var(--cyan-450);
    border: none;
    border-radius: .3125rem;
    color: var(--cyan-500);
    font-size: clamp(.9rem, .5rem + 3.2vw, 1.25rem);
    font-weight: var(--f-weight-bold);
    inline-size: inherit;
    padding: min(2.4vw, .5625rem) min(8.53vw, 2rem);
    text-transform: uppercase;
}

.btn__reset:hover {
    background-color: var(--cyan-250);
    cursor: pointer;
}

.btn__reset--active { background-color: var(--cyan-300); }

@media only screen and (min-width: 376px) and (max-width: 768px) {

    .result-tip { row-gap: 0; }

    .result__tip { flex-wrap: wrap; }
   
    .result { row-gap: 1.25rem; }

    .result__label { 
        inline-size: 88px;
        font-size: clamp(.8rem, .5rem + .87vw, 1rem); 
    }

    .result__by-person { font-size: .8125rem; }

    .result__value { font-size: clamp(1.5rem, .5rem + 4.38vw, 3rem); }

    .btn__reset {
        font-size: clamp(.9rem, .5rem + 1.32vw, 1.25rem);
        padding: .5625rem;
    }

}

@media only screen and (min-width: 769px) {

    .result-tip { 
        padding: min(4.38vw, 2.5rem); 
        row-gap: 0;
    }

    .result { row-gap: min(2.74vw, .5625rem); }

    .result__label { font-size: clamp(.8rem, .5rem + .87vw, 1rem); }

    .result__by-person { font-size: .8125rem; }

    .result__value { font-size: clamp(1.5rem, .5rem + 4.38vw, 3rem); }

    .btn__reset {
        font-size: clamp(.9rem, .5rem + 1.32vw, 1.25rem);
        padding: .5625rem;
    }
}