@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

html,
body {
  background-color: #FFFFFF;
  block-size: 100vh;
  inline-size: 100%;
  max-inline-size: 100vw;
}
@supports (height: 100dvh) {
  html,
  body {
    block-size: 100dvh;
  }
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  min-block-size: 100vh;
}
@supports (height: 100dvh) {
  body {
    min-block-size: 100dvh;
  }
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
@supports (clip-path: inset(50%)) {
  .sr-only {
    clip: auto;
    clip: inset(50%);
  }
}

.container {
  align-items: center;
  background-image: url("/images/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-size: 100% 15rem;
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  min-block-size: 100%;
  padding-inline: min(4.2666666667vw, 1rem);
}
@media (min-width: 575.98px) {
  .container {
    background-size: 100% 21.25rem;
  }
}
@media (min-width: 768.98px) {
  .container {
    background-image: url("/images/bg-main-desktop.png");
    background-position: left top;
    background-size: clamp(12.5rem, 33.55vw, 30.1875rem) 100%;
    max-inline-size: 90rem;
  }
}

.main {
  align-items: center;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  inline-size: 100%;
  justify-content: flex-start;
}
@media (min-width: 768.98px) {
  .main {
    justify-content: center;
  }
}

.content {
  display: grid;
  gap: min(1.3333333333vw, 0.3125rem) min(0.5333333333vw, 0.125rem);
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(28, 1.125rem);
  max-inline-size: 21.375rem;
  inline-size: 100%;
  padding-block-start: 2rem;
}
@media (min-width: 575.98px) {
  .content {
    gap: 0.5rem 1.875rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(31, 1.25rem);
    max-inline-size: 33.75rem;
    padding-block-start: 2rem;
  }
}
@media (min-width: 768.98px) {
  .content {
    gap: min(2.2222222222vw, 2rem) min(2.0833333333vw, 1.875rem);
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, auto);
    max-inline-size: 69.375rem;
    padding-block-start: 0;
  }
}

.card-front {
  border-radius: 0.625rem;
  background: #D53AFF url("/images/bg-card-front.png") no-repeat center/cover;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: min(4.8266666667vw, 1.13125rem) min(5.32vw, 1.246875rem);
  grid-column: 1/-3;
  grid-row: 5/span 7;
  z-index: 1;
}
.card-front__logo {
  inline-size: 3.1875rem;
  block-size: auto;
}
@media (min-width: 575.98px) {
  .card-front__logo {
    inline-size: 5.25rem;
  }
}
@media (min-width: 575.98px) {
  .card-front {
    grid-column: 1/-2;
    grid-row: 6/span 9;
    padding: 1.75rem 1.9375rem;
  }
}
@media (min-width: 768.98px) {
  .card-front {
    aspect-ratio: 445/244;
    grid-column: 1/-8;
    grid-row: 1/-2;
    padding: min(1.9444444444vw, 1.75rem) min(2.2173611111vw, 1.995625rem);
    z-index: 0;
  }
}
.card-front__info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: min(4.2666666667vw, 1rem);
}
@media (min-width: 575.98px) {
  .card-front__info-wrapper {
    row-gap: 1.375rem;
  }
}
@media (min-width: 768.98px) {
  .card-front__info-wrapper {
    row-gap: min(1.5277777778vw, 1.375rem);
  }
}
.card-front__card-number {
  font-size: clamp(0.625rem, 0.5rem + 2.6666666667vw, 1.125rem);
  font-weight: 500;
  letter-spacing: minmax(1.6rem, 0.15rem);
  line-height: calc(clamp(0.625rem, 0.5rem + 2.6666666667vw, 1.125rem) * 1.29);
}
@media (min-width: 575.98px) {
  .card-front__card-number {
    font-size: 1.75rem;
    line-height: 1.29;
  }
}
@media (min-width: 768.98px) {
  .card-front__card-number {
    font-size: clamp(1.125rem, 0.5rem + 1.3888888889vw, 1.75rem);
    line-height: calc(clamp(1.25rem, 0.5rem + 1.3888888889vw, 1.75rem) * 1.29);
  }
}
.card-front__id-wrapper {
  display: flex;
  font-size: clamp(0.375rem, 0.5rem + 0.2666666667vw, 0.5625rem);
  font-weight: 500;
  justify-content: space-between;
  letter-spacing: 0.078125rem;
}
@media (min-width: 575.98px) {
  .card-front__id-wrapper {
    font-size: 0.875rem;
    letter-spacing: 0.125rem;
  }
}
@media (min-width: 768.98px) {
  .card-front__id-wrapper {
    font-size: clamp(0.625rem, 0.5rem + 0.4166666667vw, 0.875rem);
    letter-spacing: 0.125rem;
  }
}

.card-back {
  border-radius: 0.625rem;
  background: #DFDEE0 url("/images/bg-card-back.png") no-repeat center/cover;
  position: relative;
  grid-column: 3/-1;
  grid-row: 1/span 7;
}
@media (min-width: 575.98px) {
  .card-back {
    grid-column: 2/-1;
    grid-row: 1/span 9;
  }
}
@media (min-width: 768.98px) {
  .card-back {
    aspect-ratio: 445/244;
    grid-column: 2/-7;
    grid-row: 2/-1;
  }
}
.card-back__cvc {
  color: #FFFFFF;
  display: inline;
  font-size: clamp(0.375rem, 0.5rem + 0.2666666667vw, 0.5625rem);
  font-weight: 500;
  left: 86%;
  letter-spacing: 0.078125rem;
  position: absolute;
  top: 49%;
  transform: translate(-86%, -49%);
}
@media (min-width: 575.98px) {
  .card-back__cvc {
    font-size: 0.875rem;
    letter-spacing: 0.125rem;
  }
}
@media (min-width: 768.98px) {
  .card-back__cvc {
    font-size: clamp(0.625rem, 0.5rem + 0.4166666667vw, 0.875rem);
  }
}

.customer-datas {
  display: flex;
  flex-direction: column;
  grid-column: 1/-1;
  grid-row: 14/-1;
  align-items: center;
  justify-content: flex-start;
}
@media (min-width: 575.98px) {
  .customer-datas {
    grid-column: 1/-1;
    grid-row: 17/span 13;
    justify-content: center;
    padding-block-start: 0;
  }
}
@media (min-width: 768.98px) {
  .customer-datas {
    grid-column: 8/-1;
    grid-row: 1/3;
  }
}

.form {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  max-inline-size: 20.4375rem;
  padding-inline-end: 0;
  row-gap: min(6.4vw, 1.5rem);
}
@media (min-width: 575.98px) {
  .form {
    max-inline-size: 23.9375rem;
    row-gap: 2.5rem;
  }
}
@media (min-width: 768.98px) {
  .form {
    max-inline-size: 23.9375rem;
    row-gap: min(2.7777777778vw, 2.5rem);
  }
}
.form__container-fields {
  display: flex;
  flex-direction: column;
  row-gap: min(6.4vw, 1.5rem);
}
@media (min-width: 575.98px) {
  .form__container-fields {
    row-gap: 1.5rem;
  }
}
@media (min-width: 768.98px) {
  .form__container-fields {
    row-gap: min(1.6666666667vw, 1.5rem);
  }
}
.form__field {
  display: flex;
  flex-direction: column;
  row-gap: min(2.1333333333vw, 0.5rem);
}
@media (min-width: 575.98px) {
  .form__field {
    row-gap: 0.5rem;
  }
}
@media (min-width: 768.98px) {
  .form__field {
    row-gap: min(0.5555555556vw, 0.5rem);
  }
}
.form__field-group-row {
  column-gap: min(6.4vw, 1.5rem);
  display: flex;
  justify-content: space-between;
}
@media (min-width: 575.98px) {
  .form__field-group-row {
    column-gap: 1.5rem;
  }
}
@media (min-width: 768.98px) {
  .form__field-group-row {
    column-gap: min(1.6666666667vw, 1.5rem);
  }
}
.form__field-group-row .form__field:nth-child(1) {
  flex: 0 1 10.5rem;
}
.form__field-group-row .form__field:last-child {
  flex: 0 1 8.4375rem;
}
@media (min-width: 575.98px) {
  .form__field-group-row .form__field:last-child {
    flex: 0 1 11.9375rem;
  }
}
.form__label-input {
  color: #21092F;
  cursor: pointer;
  display: block;
  font-size: clamp(0.5rem, 0.5rem + 1.0666666667vw, 0.75rem);
  font-weight: 500;
  line-height: calc(clamp(0.5rem, 0.5rem + 1.0666666667vw, 0.75rem) * 1.25);
  text-transform: uppercase;
}
@media (min-width: 575.98px) {
  .form__label-input {
    font-size: 0.75rem;
    line-height: 1.25;
  }
}
@media (min-width: 768.98px) {
  .form__label-input {
    font-size: clamp(0.5rem, 0.5rem + 0.2777777778vw, 0.75rem);
    line-height: calc(clamp(0.5rem, 0.5rem + 0.2777777778vw, 0.75rem) * 1.25);
  }
}
.form__input-wrapper {
  background: #DFDEE0;
  border-radius: 0.5rem;
  padding: 0.0625rem;
}
.form__input-wrapper--hover-focus {
  background: linear-gradient(#6348FE, #610595);
}
.form__input-wrapper--error-border {
  background: #FF5050;
}
.form__input {
  outline: none;
  background-color: #FFFFFF;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  color: #21092F;
  font-size: clamp(0.625rem, 0.5rem + 2.6666666667vw, 1.125rem);
  font-weight: 500;
  inline-size: 100%;
  line-height: calc(clamp(0.625rem, 0.5rem + 2.6666666667vw, 1.125rem) * 1.28);
  padding: min(2.9333333333vw, 0.6875rem) min(4.2666666667vw, 1rem);
}
@media (min-width: 575.98px) {
  .form__input {
    font-size: 1.125rem;
    line-height: 1.28;
    padding: 0.6875rem 1rem;
  }
}
@media (min-width: 768.98px) {
  .form__input {
    font-size: clamp(0.625rem, 0.5rem + 0.6944444444vw, 1.125rem);
    line-height: calc(clamp(0.625rem, 0.5rem + 0.6944444444vw, 1.125rem) * 1.28);
    padding: min(0.7638888889vw, 0.6875rem) min(1.1111111111vw, 1rem);
  }
}
.form__input::placeholder {
  color: #DFDEE0;
  font-size: clamp(0.625rem, 0.5rem + 2.6666666667vw, 1.125rem);
  font-weight: 500;
  line-height: calc(clamp(0.625rem, 0.5rem + 2.6666666667vw, 1.125rem) * 1.28);
}
@media (min-width: 575.98px) {
  .form__input::placeholder {
    font-size: 1.125rem;
    line-height: 1.28;
  }
}
@media (min-width: 768.98px) {
  .form__input::placeholder {
    font-size: clamp(0.625rem, 0.5rem + 0.6944444444vw, 1.125rem);
    line-height: calc(clamp(0.625rem, 0.5rem + 0.6944444444vw, 1.125rem) * 1.28);
  }
}
.form__input:focus {
  outline: none;
}
.form__input-row {
  column-gap: min(2.1333333333vw, 0.5rem);
  display: flex;
}
@media (min-width: 575.98px) {
  .form__input-row {
    column-gap: 0.5rem;
  }
}
@media (min-width: 768.98px) {
  .form__input-row {
    column-gap: min(0.5555555556vw, 0.5rem);
  }
}
.form__msg-error {
  color: #FF5050;
  display: block;
  font-size: clamp(0.5rem, 0.5rem + 1.0666666667vw, 0.75rem);
  font-weight: 500;
}
@media (min-width: 575.98px) {
  .form__msg-error {
    font-size: 0.75rem;
  }
}
@media (min-width: 768.98px) {
  .form__msg-error {
    font-size: clamp(0.5rem, 0.5rem + 0.2777777778vw, 0.75rem);
  }
}
.form__msg-error--show {
  display: block;
}

.btn {
  background-color: #21092F;
  border: none;
  border-radius: 0.5rem;
  color: #FFFFFF;
  cursor: pointer;
  font-size: clamp(0.625rem, 0.5rem + 2.6666666667vw, 1.125rem);
  font-weight: 500;
  inline-size: 100%;
  padding: min(4vw, 0.9375rem);
  text-align: center;
}
@media (min-width: 575.98px) {
  .btn {
    font-size: 1.125rem;
    padding: 0.9375rem;
  }
}
@media (min-width: 768.98px) {
  .btn {
    font-size: clamp(0.625rem, 0.5rem + 0.6944444444vw, 1.125rem);
    padding: min(1.0416666667vw, 0.9375rem);
  }
}

.btn:focus {
  outline-color: #FF834A;
}

.confirm-add {
  inline-size: 100%;
  max-inline-size: 20.4375rem;
}
@media (min-width: 575.98px) {
  .confirm-add {
    max-inline-size: 23.8125rem;
  }
}
.confirm-add__icon {
  display: block;
  inline-size: 100%;
  margin-inline: auto;
  max-inline-size: 5rem;
}
.confirm-add__content {
  font-weight: 500;
  text-align: center;
  padding-block: min(8.5333333333vw, 2rem) min(12.8vw, 3rem);
}
@media (min-width: 768.98px) {
  .confirm-add__content {
    padding-block: min(2.2222222222vw, 2rem) min(3.3333333333vw, 3rem);
  }
}
.confirm-add__title {
  color: #21092F;
  font-size: clamp(1.125rem, 0.5rem + 5.3333333333vw, 1.75rem);
  letter-spacing: 0.21875rem;
}
@media (min-width: 768.98px) {
  .confirm-add__title {
    font-size: clamp(1.125rem, 0.5rem + 1.3888888889vw, 1.75rem);
  }
}
.confirm-add__message {
  color: #ADB5BE;
  font-size: clamp(0.625rem, 0.5rem + 2.6666666667vw, 1.125rem);
}
@media (min-width: 768.98px) {
  .confirm-add__message {
    font-size: clamp(0.625rem, 0.5rem + 0.6944444444vw, 1.125rem);
  }
}

.footer {
  flex-shrink: 1;
}
.footer .attribution {
  color: #D53AFF;
  font-size: 0.6875rem;
  padding-block: 0.5rem;
  text-align: center;
}
.footer .attribution__link {
  color: #21092F;
}

/*# sourceMappingURL=style%20copy.css.map */
