@font-face {
    font-family: "Red Hat Text";
    src: url("/public/fonts/RedHatText-VariableFont_wght.woff2");
    font-weight: 400 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Red Hat Text";
    src: url("/public/fonts/RedHatText-Italic-VariableFont_wght.woff2");
    font-weight: 400 700;
    font-style: italic;
    font-display: swap;
}