@use "base";

@include base.reset;

html,
body {
  @include base.layoutViewportHeight;
  background-color: base.$rose-50;
  inline-size: 100%;
  max-inline-size: 100vw;
}

.container {
  @include base.layoutViewportHeight;
  align-items: center;
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  margin-inline: auto;
  max-inline-size: base.convertPxToRem(1440);
  padding-inline: base.fluidSpace(24);
  padding-block-start: base.fluidSpace(24);

  @include base.breakpoint("md") {
    padding-inline: base.fluidSpace(40, "tablet");
    padding-block-start: base.fluidSpace(40, "tablet");
  }

  @include base.breakpoint("xxl") {
    padding-inline: base.fluidSpace(112, "desktop");
    padding-block-start: base.fluidSpace(88, "desktop");
  }
}

.no-scroll {
  overflow: hidden;
}

.main {
  display: grid;
  flex: 1 1 auto;
  grid-template-columns: 1fr;
  inline-size: 100%;
  max-inline-size: 100vw;
  gap: base.fluidSpace(32) 0;

  @include base.breakpoint("lg") {
    gap: 0 base.fluidSpace(32, "desktop");
    grid-template-columns: minmax(400px, 1fr) base.convertPxToRem(384);
  }
}

.deserts {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: base.fluidSpace(32);
  grid-template-rows: min-content;

  &__title {
    color: base.$rose-900;
    font-weight: 700;
    line-height: 1.2;
    font-size: base.fluidFont(30, 40);
  }

  &__list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;

    @include base.breakpoint("lg") {
      grid-template-columns: repeat(
        auto-fit,
        minmax(base.convertPxToRem(200), base.convertPxToRem(250.67))
      );
      gap: base.fluidSpace(32, "desktop") base.fluidSpace(24, "desktop");
    }
  }
}

.product-card {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  row-gap: base.fluidSpace(38);

  &__photo {
    border-radius: base.convertPxToRem(8);
    display: block;
    inline-size: 100%;
    max-inline-size: 100%;
    block-size: 100%;
    object-fit: contain;
  }

  &__actions {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -100%);
  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: base.convertPxToRem(4);
  }

  &__category {
    color: base.$rose-500;
    font-size: base.fluidFont(10, 14);
    font-weight: 400;
  }

  &__name {
    color: base.$rose-900;
    font-weight: 600;
    font-size: base.fluidFont(14, 16);
  }

  &__price {
    color: base.$red;
    font-size: base.fluidFont(14, 16);
    font-weight: 600;
  }

  &__btn-add {
    align-items: center;
    background-color: base.$white;
    block-size: auto;
    border: 1px solid base.$rose-400;
    border-radius: base.convertPxToRem(999);
    color: base.$rose-900;
    column-gap: base.convertPxToRem(8);
    cursor: pointer;
    display: flex;
    font-size: base.fluidFont(12, 14);
    font-weight: 600;
    justify-content: center;
    padding: base.fluidSpace(12.5) base.fluidSpace(12);
    inline-size: clamp(
      base.convertPxToRem(140),
      43vw,
      base.convertPxToRem(160)
    );
  }

  &__btn-add:hover {
    border: 1px solid base.$red;
    color: base.$red;
  }

  &__quantity {
    display: flex;
    justify-content: space-between;
    padding: base.fluidSpace(12.5) base.fluidSpace(12);
    background-color: base.$red;
    border-radius: base.convertPxToRem(999);
    inline-size: clamp(
      base.convertPxToRem(140),
      43vw,
      base.convertPxToRem(160)
    );
  }

  &__btn-quantity {
    background-color: transparent;
    block-size: base.convertPxToRem(20);
    border: 1px solid base.$white;
    border-radius: base.convertPxToRem(999);
    inline-size: base.convertPxToRem(20);
    cursor: pointer;
  }

  &__icon-quantity path {
    fill: base.$white;
  }

  &__btn-quantity:hover {
    background-color: base.$white;

    .product-card__icon-quantity path {
      fill: base.$red;
    }
  }

  &__total {
    color: base.$white;
    font-size: base.fluidFont(12, 14);
    font-weight: 600;
  }
}

.cart__state {
  display: flex;
  flex-direction: column;
  row-gap: base.fluidSpace(24);
}

.cart {
  background-color: base.$white;
  border-radius: base.convertPxToRem(12);
  height: fit-content;
  padding: base.fluidSpace(24);
  display: flex;
  flex-direction: column;
  row-gap: base.fluidSpace(24);

  &__title {
    color: base.$red;
    font-weight: 700;
    font-size: base.fluidFont(22, 24);
  }

  &__state {
    inline-size: 100%;
  }

  &__state--empty {
    align-items: center;
    display: flex;
    flex-direction: column;
    row-gap: base.fluidSpace(16);
  }

  &__msg-empty {
    color: base.$rose-500;
    font-size: base.fluidFont(12, 14);
    font-weight: 600;
  }

  &__list {
    list-style: none;
  }

  &__item-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item-details {
    display: flex;
    flex-direction: column;
    font-style: base.fluidFont(12, 14);
    row-gap: base.convertPxToRem(8);
  }

  &__item-name {
    color: base.$rose-900;
    font-weight: 600;
  }

  &__item-order {
    display: flex;
    column-gap: base.convertPxToRem(8);
  }

  &__item-qtd {
    flex-basis: base.convertPxToRem(21);
    color: base.$red;
    font-weight: 600;
  }

  &__item-price,
  &__item-total {
    color: base.$rose-500;
    font-weight: 400;
  }

  &__btn-remove {
    background-color: transparent;
    border-radius: base.convertPxToRem(999);
    border: 1px solid base.$rose-400;
    inline-size: base.convertPxToRem(20);
    block-size: base.convertPxToRem(20);
    cursor: pointer;
  }

  &__btn-remove:hover {
    border: 1px solid base.$rose-900;

    .cart__icon-remove-item path {
      fill: base.$rose-900;
    }
  }

  &__bar {
    margin-block: base.convertPxToRem(16);
    border: 1px solid base.$rose-100;
  }

  &__total {
    display: flex;
    justify-content: space-between;
    color: base.$rose-900;
  }

  &__total-label {
    font-size: base.fluidFont(12, 14);
    font-weight: 400;
  }

  &__total-value {
    font-size: base.fluidFont(22, 24);
  }

  &__carbon-neutral {
    align-items: center;
    background-color: base.$rose-50;
    border-radius: base.convertPxToRem(8);
    color: base.$rose-900;
    column-gap: base.convertPxToRem(8);
    display: flex;
    inline-size: 100%;
    justify-content: center;
    padding: base.fluidSpace(16.5);
  }

  &__btn-confirm-order {
    background-color: base.$red;
    border: none;
    border-radius: base.convertPxToRem(999);
    color: base.$white;
    cursor: pointer;
    font-size: base.fluidFont(14, 16);
    font-weight: 600;
    inline-size: 100%;
    padding: base.fluidSpace(16);
  }

  &__btn-confirm-order:hover {
    background-color: base.$red-900;
  }
}

.footer {
  flex-shrink: 0;
  font-size: base.convertPxToRem(11);
  padding-block: base.fluidSpace(40) base.fluidSpace(10);
  text-align: center;
  color: base.$black;

  &__link {
    color: base.$red;
  }
}

.modal {
  display: flex;
  justify-content: center;
  align-items: end;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  inline-size: 100%;
  min-block-size: 100vh;
  background-color: base.$modal-gray-alpha;

  @include base.layoutViewportHeight;

  @include base.breakpoint("md") {
    top: 0;
    align-items: center;
  }

  &__container {
    background-color: base.$white;
    border-radius: base.convertPxToRem(12);
    display: flex;
    flex-direction: column;
    inline-size: 100%;
    padding: base.fluidSpace(40) base.fluidSpace(24);
    row-gap: base.fluidSpace(32);

    @include base.breakpoint("md") {
      block-size: fit-content;
      max-inline-size: base.convertPxToRem(688);
      padding: base.convertPxToRem(40);
    }

    @include base.breakpoint("xxl") {
      max-inline-size: base.convertPxToRem(592);
    }
  }

  &__title {
    color: base.$rose-900;
    font-size: base.fluidFont(36, 40);
    font-weight: 700;
    line-height: 1.2;
    padding-block: base.fluidSpace(24) base.fluidSpace(8);
  }

  &__msg {
    color: base.$rose-500;
    font-size: base.fluidFont(14, 16);
    font-weight: 400;
  }

  &__body {
    background-color: base.$rose-50;
    border-radius: base.convertPxToRem(8);
    padding: base.fluidSpace(24);
  }

  &__list {
    list-style: none;
  }

  &__item-product {
    display: flex;
    inline-size: 100%;
    column-gap: base.convertPxToRem(16);
    align-items: center;
  }

  &__item-photo-wrapper {
    flex-basis: base.convertPxToRem(48);
  }

  &__item-photo {
    block-size: auto;
    border-radius: base.convertPxToRem(4);
    display: block;
    inline-size: 100%;
    object-fit: cover;
  }

  &__item-details {
    display: flex;
    flex-direction: column;
    row-gap: base.convertPxToRem(8);
  }

  &__item-name {
    color: base.$rose-900;
    font-size: base.fluidFont(12, 14);
    font-weight: 600;
  }

  &__item-values {
    column-gap: base.convertPxToRem(8);
    display: flex;
  }

  &__item-quantity {
    color: base.$red;
    flex-basis: base.convertPxToRem(21);
    font-size: base.fluidFont(12, 14);
    font-weight: 600;
  }

  &__item-price {
    color: base.$rose-500;
    font-size: base.fluidFont(12, 14);
    font-weight: 400;
  }

  &__item-price-total {
    color: base.$rose-900;
    font-size: base.fluidFont(14, 16);
    font-weight: 600;
    margin-inline-start: auto;
  }

  &__bar {
    border: 1px solid base.$rose-100;
    margin-block: base.convertPxToRem(16);
  }

  &__total {
    color: base.$rose-900;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__total-label {
    font-size: base.fluidFont(12, 14);
    font-weight: 400;
  }

  &__total-order {
    font-size: base.fluidFont(22, 24);
  }

  &__btn-new-order {
    background-color: base.$red;
    border: none;
    border-radius: base.convertPxToRem(999);
    color: base.$white;
    cursor: pointer;
    font-size: base.fluidFont(14, 16);
    font-weight: 600;
    inline-size: 100%;
    padding: base.fluidSpace(16);
  }

  &__btn-new-order:hover {
    background-color: base.$red-900;
  }
}
