@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
    --nutmeg: hsl(14, 45%, 36%);
    --dark-raspberry: hsl(332, 51%, 32%);
    --white: hsl(0, 0%, 100%);
    --rose-white: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --light-grey: hsl(30, 18%, 87%);
    --wenge-brown: hsl(30, 10%, 34%);
    --dark-charcoal: hsl(24, 5%, 18%);
    --font-body: "Outfit", sans-serif;
    --font-title: "Young Serif", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
}

main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-inline-size: 1440px;
  width: 100%;
  padding: 0 0;
}

.container {
  max-inline-size: 740px;
  border-radius: 0;
  background-color: var(--white);    
}

.main__wrapper-img { padding: 0 0; }

.main__image {
  max-inline-size: 100%;
  block-size: auto;
  border-radius: 0;
}

.main__content {
  background-color: white;
  padding: min(10vw, 2.5rem); 
}

:is(.main__title, 
    .main__title-sections) { 
  font-family: var(--font-title); 
}

.main__presentation { margin: 0 0 0 0; }

.main__title {
  margin-bottom: min(0.6rem, 2.6vw, 1rem); 
  font-size: clamp(0.8rem, 10vw, 2.5rem);
  line-height: 1;
  font-weight: 100;
  color: var(--dark-charcoal);
}

.main__introduction {
  font-family: var(--font-body);
  font-size: clamp(0.6rem, 5vw, 1rem);
  line-height: calc(clamp(0.6rem, 5vw, 1rem) *1.5);
  color: var(--wenge-brown);
}

.main__preparation {
  border-radius: 0.9rem;
  padding: min(5vw, 1.37rem) min(5vw, 1.75rem);
  margin: min(5vw, 2.12rem) 0 min(5vw, 1.37rem) 0;
  background-color: var(--rose-white); 
}

.main__title-preparation {
  margin-bottom: min(3vw, 0.87rem); 
  font-family: var(--font-body);
  font-size: clamp(0.8rem, 5vw, 1.25rem);
  font-weight: 600;
  color: var(--dark-raspberry);
}

.main__list-item {
  list-style-position: inside;
  color: var(--wenge-brown);
  font-family: var(--font-body);
  font-size: clamp(0.6rem, 5vw, 1rem);
}

.main__list-item-preparation {
  margin: min(2vw, 0.81rem) 0;
  text-indent: min(2vw, 0.5rem);  
}

.main__list-item-preparation--aling { margin-left: min(0.1vw, 0.56rem); }

.main__list-item::marker {
  color: var(--nutmeg);
  font-weight: 900;
}

.main__title-sections {
  font-size: clamp(0.9rem, 5vw, 1.75rem);
  font-weight: 400;
  color: var(--nutmeg);
  margin-bottom: min(6vw, 1rem);
}

.main__ingredients { margin-bottom: min(8vw, 1rem); }

.main__list-item-ingredients {
  text-indent: min(1vw, 0.5rem); 
  font-weight: 600;
  margin-bottom: min(3vw, 0.68rem);
}

.main__list-item-ingredients--align { margin-left: min(0.1vw, 0.56rem); }

.main__instructions { 
  border-top: 2px solid var(--light-grey);
  padding: min(8vw, 1.75rem) 0 min(3vw, 0.56rem) 0;
}

.main__list-instructions {
  margin-left: min(1vw, 0.62rem);
  counter-reset: list;
  display: table;
} 

.main__list-item-instructions {
  list-style: none;
  counter-increment: list;
  display: flex;
  margin-bottom: min(1vw, 0.5rem);
  line-height: 1.5;
}

.main__list-item-instructions::before {
  color: var(--nutmeg);
  font-weight: 600;
  content: counter(list) ".";
  display: table-cell;
  text-align: right;
  padding-right: min(3vw, 1.6rem);
} 

.main__nutrition {
  border-top: 2px solid var(--light-grey);
  padding: min(8vw, 1.5rem) 0;
  font-family: var(--font-body);
  font-size: clamp(0.6rem, 3vw, 1rem);
}

.main__info-nutri {
  margin-bottom: min(3vw, 1.3rem);
  color: var(--wenge-brown);
}

.main__table-nutrition {
  width: 100%;
  border-collapse: collapse;
}

.main__row-table {
  border-bottom: 2px solid var(--light-grey);
}

.main__row-table:last-child {
  border: none;
}

.main__unit-of-measurement {
  text-align: start;
  font-weight: 600;
  color: var(--wenge-brown);
  padding: min(2vw, 0.5rem) 0 min(2vw, 0.5rem) min(2vw, 1.9rem);
}

.main__value-table {
  font-weight: 700;
  color: var(--nutmeg);
  padding: min(2vw, 0.5rem) 0 min(2vw, 0.5rem) min(2vw, 0.5rem);
}

.main__unit-of-measurement, .main__value-table {
  width: 50%; 
}

@media only screen and (min-width: 577px) {

  body { background-color: var(--eggshell); }

  main { padding: 6% 0; }
  
  .container {
    max-inline-size: 740px;
    border-radius: 1.56rem;
    background-color: var(--white);   
  }
  
  .main__wrapper-img { padding: 2.5rem 2.5rem 0 2.5rem; }

  .main__image { border-radius: 0.93rem; }
    
  .main__content { 
    padding: 0 2.5rem 2.5rem 2.5rem; 
    border-radius: 1.56rem;
  }

  .main__presentation { margin: 1.7rem 0 1rem 0; }

  .main__title {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    line-height: normal ;
  }

  .main__introduction {
    font-size: 1rem;
    line-height: 1.5;
  }

  .main__preparation {
    padding: 1.37rem 1.75rem;
    margin: 2.12rem 0 2.12rem 0;
  }

  .main__title-preparation {
    margin-bottom: 0.87rem; 
    font-size: 1.25rem;
    font-weight: 600;
  }

  .main__list-item { font-size: 1rem; }

  .main__list-item-preparation {
    margin: 0.81rem 0;
    text-indent: 0.5rem;  
  }
  
  .main__list-item-preparation--aling { margin-left: 0.56rem; }

  .main__title-sections {
    font-size: 1.75rem;
    margin-bottom: 1.25rem;
  }

  .main__ingredients { margin-bottom: 2.18rem; }

  .main__list-item-ingredients {
    text-indent: 0.5rem; 
    margin-bottom: 0.68rem;
  }
  
  .main__list-item-ingredients--align { margin-left: 9px; }

  .main__instructions { padding: 1.75rem 0 1.25rem 0; }

  .main__list-instructions { margin-left: 0.6rem; } 

  .main__list-item-instructions {
    margin-bottom: 0.5rem;
    line-height: 1.5;
  }

  .main__list-item-instructions::before { padding-right: 1.6rem; } 

  .main__nutrition {
    padding: 1.5rem 0;
    font-size: 1rem;
  }

  .main__info-nutri { margin-bottom: 1.3rem; }

  .main__unit-of-measurement { padding: 0.5rem 0 0.5rem 1.9rem; }
  
  .main__value-table { padding: 0.5rem 0 0.5rem 0.5rem; }
  
}

footer {
    flex-shrink: 0;
    margin: 0.6rem 0;
}
  
.attribution { 
  color: var(--nutmeg);
  font-size: 11px; 
  text-align: center; 
}
  
.attribution a { color: var(--dark-raspberry);}
  