@font-face {
  font-family: "Red Hat Text";
  src: url("/public/fonts/RedHatText-VariableFont_wght.woff2");
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Red Hat Text";
  src: url("/public/fonts/RedHatText-Italic-VariableFont_wght.woff2");
  font-weight: 400 700;
  font-style: italic;
  font-display: swap;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Text", sans-serif;
}

html,
body {
  min-block-size: 100vh;
}
@supports (min-block-size: 100svh) {
  html,
  body {
    min-block-size: 100svh;
  }
}
@supports (min-block-size: 100dvh) {
  html,
  body {
    min-block-size: 100dvh;
  }
}
html,
body {
  background-color: #FCF8F6;
  inline-size: 100%;
  max-inline-size: 100vw;
}

.container {
  min-block-size: 100vh;
}
@supports (min-block-size: 100svh) {
  .container {
    min-block-size: 100svh;
  }
}
@supports (min-block-size: 100dvh) {
  .container {
    min-block-size: 100dvh;
  }
}
.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  margin-inline: auto;
  max-inline-size: 90rem;
  padding-inline: min(6.4vw, 1.5rem);
  padding-block-start: min(6.4vw, 1.5rem);
}
@media (min-width: 48rem) {
  .container {
    padding-inline: min(5.2083333333vw, 2.5rem);
    padding-block-start: min(5.2083333333vw, 2.5rem);
  }
}
@media (min-width: 90rem) {
  .container {
    padding-inline: min(7.7777777778vw, 7rem);
    padding-block-start: min(6.1111111111vw, 5.5rem);
  }
}

.no-scroll {
  overflow: hidden;
}

.main {
  align-content: flex-start;
  display: grid;
  flex: 1 1 auto;
  gap: min(8.5333333333vw, 2rem) 0;
  grid-template-columns: 1fr;
  inline-size: 100%;
  max-inline-size: 100vw;
}
@media (min-width: 62rem) {
  .main {
    gap: 0 min(4.1666666667vw, 2rem);
    grid-template-columns: 1fr 24rem;
  }
}
@media (min-width: 75rem) {
  .main {
    gap: 0 min(2.2222222222vw, 2rem);
    grid-template-columns: minmax(43rem, 1fr) 1fr;
  }
}
@media (min-width: 90rem) {
  .main {
    grid-template-columns: minmax(50rem, 1fr) 24rem;
  }
}

.desserts {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: min(8.5333333333vw, 2rem);
  grid-template-rows: min-content;
}
.desserts__title {
  color: #260F08;
  font-weight: 700;
  line-height: 1.2;
  font-size: clamp(1.875rem, 0.5rem + 8.5333333333vw, 2.5rem);
}
.desserts__list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: min(8.5333333333vw, 2rem) 0;
}
@media (min-width: 36rem) {
  .desserts__list {
    grid-template-columns: repeat(2, 1fr);
    gap: min(4.1666666667vw, 2rem) min(3.125vw, 1.5rem);
  }
}
@media (min-width: 48rem) {
  .desserts__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 62rem) {
  .desserts__list {
    grid-template-columns: repeat(2, 1fr);
    gap: min(2.2222222222vw, 2rem) min(1.6666666667vw, 1.5rem);
  }
}
@media (min-width: 90rem) {
  .desserts__list {
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 15.666875rem));
  }
}

.product-card {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  row-gap: min(10.1333333333vw, 2.375rem);
  border: 2px solid transparent;
}
.product-card__photo {
  border-radius: 0.5rem;
  display: block;
  inline-size: 100%;
  max-inline-size: 100%;
  block-size: 100%;
  object-fit: contain;
  border: 2px solid transparent;
}
.product-card__photo--selected {
  border: 2px solid #C73B0F;
}
.product-card__actions {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -100%);
}
.product-card__body {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
}
.product-card__category {
  color: #87635A;
  font-size: clamp(0.625rem, 0.5rem + 1.6vw, 0.875rem);
  font-weight: 400;
}
.product-card__name {
  color: #260F08;
  font-weight: 600;
  font-size: clamp(0.875rem, 0.5rem + 2.1333333333vw, 1rem);
}
.product-card__price {
  color: #C73B0F;
  font-size: clamp(0.875rem, 0.5rem + 2.1333333333vw, 1rem);
  font-weight: 600;
}
.product-card__btn-add {
  align-items: center;
  background-color: #FFFFFF;
  block-size: auto;
  border: 1px solid #AD8A85;
  border-radius: 62.4375rem;
  color: #260F08;
  column-gap: 0.5rem;
  cursor: pointer;
  display: flex;
  font-size: clamp(0.75rem, 0.5rem + 1.6vw, 0.875rem);
  font-weight: 600;
  justify-content: center;
  padding: min(3.3333333333vw, 0.78125rem) min(3.2vw, 0.75rem);
  inline-size: clamp(8.75rem, 43vw, 10rem);
}
.product-card__btn-add:hover {
  border: 1px solid #C73B0F;
  color: #C73B0F;
}
.product-card__btn-add--hidden {
  display: none;
}
.product-card__quantity {
  display: none;
  justify-content: space-between;
  padding: min(3.3333333333vw, 0.78125rem) min(3.2vw, 0.75rem);
  background-color: #C73B0F;
  border-radius: 62.4375rem;
  inline-size: clamp(8.75rem, 43vw, 10rem);
}
.product-card__quantity--show {
  display: flex;
}
.product-card__btn-quantity {
  background-color: transparent;
  block-size: 1.25rem;
  border: 1px solid #FFFFFF;
  border-radius: 62.4375rem;
  inline-size: 1.25rem;
  cursor: pointer;
}
.product-card__icon-quantity path {
  fill: #FFFFFF;
}
.product-card__btn-quantity:hover {
  background-color: #FFFFFF;
}
.product-card__btn-quantity:hover .product-card__icon-quantity path {
  fill: #C73B0F;
}
.product-card__total {
  color: #FFFFFF;
  font-size: clamp(0.75rem, 0.5rem + 1.6vw, 0.875rem);
  font-weight: 600;
}

.cart {
  background-color: #FFFFFF;
  border-radius: 0.75rem;
  height: fit-content;
  padding: min(6.4vw, 1.5rem);
  display: flex;
  flex-direction: column;
  row-gap: min(6.4vw, 1.5rem);
}
.cart__title {
  color: #C73B0F;
  font-weight: 700;
  font-size: clamp(1.375rem, 0.5rem + 4.2666666667vw, 1.5rem);
}
.cart__empty {
  inline-size: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: min(4.2666666667vw, 1rem);
}
.cart__empty--hidden {
  display: none;
}
.cart__msg-empty {
  color: #87635A;
  font-size: clamp(0.75rem, 0.5rem + 1.6vw, 0.875rem);
  font-weight: 600;
}
.cart__full {
  display: none;
  flex-direction: column;
  row-gap: min(6.4vw, 1.5rem);
}
.cart__full--show {
  display: flex;
}
.cart__list {
  list-style: none;
}
.cart__item-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart__item-details {
  display: flex;
  flex-direction: column;
  font-style: clamp(0.75rem, 0.5rem + 1.6vw, 0.875rem);
  row-gap: 0.5rem;
}
.cart__item-name {
  color: #260F08;
  font-weight: 600;
}
.cart__item-order {
  display: flex;
  column-gap: 0.5rem;
}
.cart__item-qtd {
  flex-basis: 1.3125rem;
  color: #C73B0F;
  font-weight: 600;
}
.cart__item-price, .cart__item-total {
  color: #87635A;
  font-weight: 400;
}
.cart__btn-remove {
  background-color: transparent;
  border-radius: 62.4375rem;
  border: 1px solid #AD8A85;
  inline-size: 1.25rem;
  block-size: 1.25rem;
  cursor: pointer;
}
.cart__btn-remove:hover {
  border: 1px solid #260F08;
}
.cart__btn-remove:hover .cart__icon-remove-item path {
  fill: #260F08;
}
.cart__bar {
  margin-block: 1rem;
  border: 1px solid #F5EEEC;
}
.cart__total {
  display: flex;
  justify-content: space-between;
  color: #260F08;
}
.cart__total-label {
  font-size: clamp(0.75rem, 0.5rem + 1.6vw, 0.875rem);
  font-weight: 400;
}
.cart__total-value {
  font-size: clamp(1.375rem, 0.5rem + 4.2666666667vw, 1.5rem);
}
.cart__carbon-neutral {
  align-items: center;
  background-color: #FCF8F6;
  border-radius: 0.5rem;
  color: #260F08;
  column-gap: 0.5rem;
  display: flex;
  inline-size: 100%;
  justify-content: center;
  padding: min(4.4vw, 1.03125rem);
}
.cart__btn-confirm-order {
  background-color: #C73B0F;
  border: none;
  border-radius: 62.4375rem;
  color: #FFFFFF;
  cursor: pointer;
  font-size: clamp(0.875rem, 0.5rem + 2.1333333333vw, 1rem);
  font-weight: 600;
  inline-size: 100%;
  padding: min(4.2666666667vw, 1rem);
}
.cart__btn-confirm-order:hover {
  background-color: #772309;
}

.footer {
  flex-shrink: 0;
  font-size: 0.6875rem;
  padding-block: min(10.6666666667vw, 2.5rem) min(2.6666666667vw, 0.625rem);
  text-align: center;
  color: #000000;
}
.footer__link {
  color: #C73B0F;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: end;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  inline-size: 100%;
  min-block-size: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  min-block-size: 100vh;
}
@supports (min-block-size: 100svh) {
  .modal {
    min-block-size: 100svh;
  }
}
@supports (min-block-size: 100dvh) {
  .modal {
    min-block-size: 100dvh;
  }
}
@media (min-width: 48rem) {
  .modal {
    top: 0;
    align-items: center;
  }
}
.modal__container {
  background-color: #FFFFFF;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  padding: min(10.6666666667vw, 2.5rem) min(6.4vw, 1.5rem);
  row-gap: min(8.5333333333vw, 2rem);
}
@media (min-width: 48rem) {
  .modal__container {
    block-size: fit-content;
    max-inline-size: 43rem;
    padding: 2.5rem;
  }
}
@media (min-width: 90rem) {
  .modal__container {
    max-inline-size: 37rem;
  }
}
.modal__title {
  color: #260F08;
  font-size: clamp(2.25rem, 0.5rem + 8.5333333333vw, 2.5rem);
  font-weight: 700;
  line-height: 1.2;
  padding-block: min(6.4vw, 1.5rem) min(2.1333333333vw, 0.5rem);
}
.modal__msg {
  color: #87635A;
  font-size: clamp(0.875rem, 0.5rem + 2.1333333333vw, 1rem);
  font-weight: 400;
}
.modal__body {
  background-color: #FCF8F6;
  border-radius: 0.5rem;
  padding: min(6.4vw, 1.5rem);
}
.modal__list {
  list-style: none;
}
.modal__item-product {
  display: flex;
  inline-size: 100%;
  column-gap: 1rem;
  align-items: center;
}
.modal__item-photo-wrapper {
  flex-basis: 3rem;
}
.modal__item-photo {
  block-size: auto;
  border-radius: 0.25rem;
  display: block;
  inline-size: 100%;
  object-fit: cover;
}
.modal__item-details {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.modal__item-name {
  color: #260F08;
  font-size: clamp(0.75rem, 0.5rem + 1.6vw, 0.875rem);
  font-weight: 600;
}
.modal__item-values {
  column-gap: 0.5rem;
  display: flex;
}
.modal__item-quantity {
  color: #C73B0F;
  flex-basis: 1.3125rem;
  font-size: clamp(0.75rem, 0.5rem + 1.6vw, 0.875rem);
  font-weight: 600;
}
.modal__item-price {
  color: #87635A;
  font-size: clamp(0.75rem, 0.5rem + 1.6vw, 0.875rem);
  font-weight: 400;
}
.modal__item-price-total {
  color: #260F08;
  font-size: clamp(0.875rem, 0.5rem + 2.1333333333vw, 1rem);
  font-weight: 600;
  margin-inline-start: auto;
}
.modal__bar {
  border: 1px solid #F5EEEC;
  margin-block: 1rem;
}
.modal__total {
  color: #260F08;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal__total-label {
  font-size: clamp(0.75rem, 0.5rem + 1.6vw, 0.875rem);
  font-weight: 400;
}
.modal__total-order {
  font-size: clamp(1.375rem, 0.5rem + 4.2666666667vw, 1.5rem);
}
.modal__btn-new-order {
  background-color: #C73B0F;
  border: none;
  border-radius: 62.4375rem;
  color: #FFFFFF;
  cursor: pointer;
  font-size: clamp(0.875rem, 0.5rem + 2.1333333333vw, 1rem);
  font-weight: 600;
  inline-size: 100%;
  padding: min(4.2666666667vw, 1rem);
}
.modal__btn-new-order:hover {
  background-color: #772309;
}

/*# sourceMappingURL=style.css.map */
