@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root {
  --light-red: hsl(0, 100%, 67%);
  --light-red-bg: hsl(0, 100%, 98%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --orangey-yellow-bg: hsl(39, 100%, 98%);
  --green-teal: hsl(166, 100%, 37%);
  --green-teal-bg: hsl(166, 100%, 98%);
  --cobalt-blue: hsl(234, 85%, 45%);
  --cobalt-blue-bg: hsl(234, 85%, 98%);
  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
  --dark-gray: hsl(0, 0%, 70%);
  --font: 'Hanken Grotesk', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  font-family: var(--font);
}

main {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
}

main > div {
  flex: 0 1 280px;
  display: flex;
  flex-direction: column;
  margin: 0.6rem; 
  border-radius: 26px;
  background-color: var(--white);
  box-shadow: 10px 10px 25px var(--pale-blue);   
}

main > div > div {
  display: flex;
  flex-direction: column;
}

main > div > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: min(15vw, 1.2rem);
  border-radius: 26px;
  background-image: linear-gradient(var(--light-slate-blue),var(--light-royal-blue));
}

h1 {
  font-size: clamp(0.8rem, 5vw, 1.3rem);
  font-weight: 500;
  text-align: center;
  color: var(--light-lavender);
}

h1 ~ div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: min(30vw, 150px);
  height: min(30vw, 150px);
  margin: min(1.6rem, 3vw);
  border-radius: 50%;
  background-image: linear-gradient(var(--violet-blue), var(--persian-blue));
}

h1 ~ div span {
  display: block;
}

h1 ~ div span:first-child {
  font-size: clamp(0.8rem, 12vw, 3.8rem);
  font-weight: 700;
  color: var(--white);
}

h1 ~ div span:last-child {
  font-size: clamp(0.6rem, 8vw, 0.8rem);
  font-weight: 700;
  color: var(--light-lavender);
}

h1 ~ div ~ span {
  margin: 0;
  font-size: clamp(1rem, 6vw, 1.6rem);
  font-weight: 500;
  color: var(--white);
}

p {
  text-align: center;
  margin: min(6vw, 0.6rem);
  font-size: clamp(0.6rem, 3vw, 0.9rem);
  color: var(--light-lavender);
}

div > div:last-child {
  padding: min(15vw, 1.8rem);
}

h2 {
  text-align: left;
  font-size: clamp(0.8rem, 6vw, 1.2rem);
  font-weight: 700;
  color: var(--dark-gray-blue);
}

h2 ~ div {
  margin: min(6vw, 1rem) 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: min(3vw, 0.6rem);
  margin: min(3vw, 0.8rem) 0;
  font-size: clamp(0.6rem, 6vw, 0.9rem);
  border-radius: 8px;
}

li div {
  display: flex;
  align-items: center;
  font-weight: 700;
}

li img {
  width: 15px;
  margin-right: 0.4rem;
}

li > span {
  font-weight: 800;
  color: var(--dark-gray-blue);
}

li > span > span {
  color: var(--dark-gray);
}

li:nth-of-type(1) {
  background-color: var(--light-red-bg);
}

li:nth-of-type(1) img ~ span {
  color: var(--light-red);
}

li:nth-of-type(2) {
  background-color: var(--orangey-yellow-bg);
}

li:nth-of-type(2) img ~ span {
  color: var(--orangey-yellow);
}

li:nth-of-type(3) {
  background-color: var(--green-teal-bg);
}

li:nth-of-type(3) img ~ span {
  color: var(--green-teal);
}

li:nth-of-type(4) {
  background-color: var(--cobalt-blue-bg);
}

li:nth-of-type(4) img ~ span {
  color: var(--cobalt-blue);
}

button {
  margin-top: min(2vw, 1rem);
  padding: min(1rem, 3vw); 
  border-style: none;
  border-radius: 50px;
  font-weight: 700;
  font-size: clamp(0.4rem, 5vw, 0.8rem);
  background-color: var(--dark-gray-blue);
  color: var(--white);
  cursor: pointer;
}

@media screen and (min-width: 376px) {

  main > div {
    flex: 0 1 560px;
    flex-direction: row;
  }

  main > div > div {
    flex: 0 1 280px;
  }

  main > div > div:first-child {
    padding: min(3vw, 1.8rem);
  }

  h1 {
    font-size: clamp(0.8rem, 3vw, 1.3rem);
  }

  h1 ~ div span:first-child {
    font-size: clamp(2rem, 6vw, 3.8rem);
  }

  h1 ~ div span:last-child {
    font-size: clamp(0.6rem, 6vw, 0.8rem);
  }

  h1 ~ div ~ span {
    font-size: clamp(1rem, 6vw, 1.6rem);
  }

  p {
    margin: min(3vw, 0.6rem);
    font-size: clamp(0.6rem, 3vw, 0.9rem);
  }

  div > div:last-child {
    flex: 0 1 280px;
     padding: min(1.8rem, 3vw);
  }

  h2 {
    font-size: clamp(0.8rem, 3vw, 1.2rem);
  }

  h2 ~ div {
    margin: min(3vw, 1rem) 0;
  }

  li {
    padding: min(3vw, 0.6rem);
    margin: min(3vw, 0.8rem) 0;
    font-size: clamp(0.6rem, 3vw, 0.9rem);
  }

  button {
    margin-top: min(2vw, 1rem);
    padding: min(2vw, 1rem); 
    font-size: clamp(0.2rem, 3vw, 0.8rem);
  }
  
}  

footer {
  flex-shrink: 0;
  margin: 0.6rem 0;
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { color: var(--light-slate-blue); }
