@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

:root{
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);
    --grayish-blue: hsl(217, 19%, 38%);
    --dark-grayish-blue: hsl(217, 19%, 24%);
    --dark-blue: hsl(218, 23%, 16%);
    --font: "Manrope", sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font);
    background-color: var(--dark-blue);
}

main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-inline-size: 1440px;
    width: 100%;
    background-color: red;
}

.advice-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-inline-size: 550px;
    border-radius: 1rem;
    background-color: var(--dark-grayish-blue);
}

.advice-box__number {
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: .28rem;
    font-weight: 800;
    color: var(--neon-green);
}

.advice-box__text {
    color: var(--light-cyan);
    font-size: 1.6rem;
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    color: transparent;
}


footer {
    flex-shrink: 0;
    margin: 0.6rem 0; 
}