@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --blue: #345FF6;
    --light-blue:  #CED8FD;
    --gunmetal: #253347;
    --pure-white: #FFFFFF;
    --dark-eletric-blue: #5E6E85;
    --gradient: linear-gradient(127deg, #D6E6FE, #D6FCFE);
    --font: "Inter", sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
  /*   border: 1px solid blue;    */
}

html, body { width: 100% ;}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
}

.container {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    background-color: var(--pure-white);
}

.header {
    position: relative;
    flex: 1 0 auto; 
    padding-left: min(1.84vw, 1.5rem); /* desktop */
}

.hero__background {
    position: relative;
    height: min(80vw, 737px); /* desktop */
    max-width: 69.1%; /* desktop */
    border-radius: 0 0 1.75rem 1.75rem;
    background-image: var(--gradient);
    z-index: 0;
} 

.hero__content {
    width: fit-content;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    padding-left: min(calc(12vw - 1.5rem), 7rem); /* desktop */ 
    padding-right: .625rem; /* desktop */
    padding-top: min(calc(12vw - 1.5rem), 4.6875rem); /* desktop */
    z-index: 1;
}


.hero__content-wrapper {
    display: grid;
    grid-template-columns: repeat(2, fit-content(564px));
    gap: 0 min(calc(2.8vw - .5rem), 1.875rem); /* desktop */
}

.hero__logo-wrapper { margin-bottom: min(2.15vw, 1.75rem); /* desktop */ }

.hero__logo, 
.result-explanation__img-man {
    display: block;
    max-width: 100%;
    height: auto;
}

.hero__text-wrapper {
    text-align: start;
    padding-top: min(5.38vw, 4.375rem); /* desktop */
    padding-right: min(5.38vw, 6.1875rem); /* desktop */
}

.hero__title {
    font-size: clamp(2.8rem, .875rem + 3.6vw, 4.1rem); 
    font-weight: 600;
    letter-spacing: -.2rem;
    line-height: calc(clamp(2.8rem, .875rem + 3.6vw, 4.1rem) * 1.1); /* desktop */
    margin-bottom: min(2.69vw, 2.1875rem); /* desktop */
    color: var(--gunmetal);
}

.hero__introduction {
    font-size: clamp(.8rem, .5rem + .6vw, 1rem);
    /* font-size: clamp(.8rem, 1.23vw, 1rem);  */
    line-height: calc(clamp(.8rem, .5rem + .6vw, 1rem) * 1.5); /* desktop */
    color: var(--dark-eletric-blue);
}

.main { flex: 1 0 auto; }

.result-explanation {
    display: flex;
    gap: 0 min(10.07vw, 8.18rem); /* desktop */
    padding: 0 min(10.76vw, 8.75rem); /* desktop */
    margin-top: min(10vw, 4rem);
    align-items: end;
}

.result-explanation__img-wrapper, 
.result-explanation__content {
    flex: 1 1 564px; /* desktop */
}

.result-explanation__content {
    color: var(--gunmetal);
}

.result-explanation__title{
    font-size: clamp(1.75rem, 0.75rem + 2.5vw, 3rem);  /* desktop */
    font-weight: 600;
    line-height: calc(clamp(1.75rem, 0.75rem + 2.5vw, 3rem) * 1.1);  /* desktop */
    letter-spacing: -.1rem;
    padding-bottom: min(2vw, 2.1875rem);  /* desktop */
}

.result-explanation__text {
    font-size: clamp(.8rem, .5rem + .6vw, 1rem);   
    font-weight: 400;
    line-height: calc(clamp(.8rem, .5rem + .6vw, 1rem) * 1.5);  /* desktop */
    padding-bottom: min(2vw, 2.5rem); /* desktop */
}

.footer { flex-shrink: 0; }

.attribution__color-label { color: var(--gunmetal); }

.attribution__color-link { color: var(--blue); }