@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --blue: #345FF6;
    --light-blue:  #CED8FD;
    --gunmetal: #253347;
    --pure-white: #FFFFFF;
    --dark-eletric-blue: #5E6E85;
    --gradient: linear-gradient(127deg, #D6E6FE, #D6FCFE);
    --font: "Inter", sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

html, body { width: 100% ;}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
    background-color: yellow;
}

.container {
    display: flex;
    flex-direction: column;
    max-inline-size: 1440px;
    width: inherit;
    background-color: var(--pure-white);
}

.header { 
    flex: 1 0 auto; 
    padding-inline-start: 1.5rem;
}

.hero {
    background-image: var(--gradient);
    padding-inline-start: 7.25rem;
    border-radius: 0 0 1.75rem 1.75rem;
}

.hero__content-wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 564px));
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "logo logo"
                         "text-content calculator";
}

.hero__logo-wrapper {
    grid-area: logo;
    margin-block-start: 4.687rem;
    margin-block-end: 1.75rem;
}

.hero__text-wrapper {
    grid-area: text-content;
    text-align: start;
    max-inline-size: 465px;
}

.hero__title {
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: -.2rem;
    line-height: 1.1;
    margin-block-end: 2.18rem;
    color: var(--gunmetal);
}

.hero__introduction {
    font-size: 1rem;
    line-height: 1.5;
    color: var(--dark-eletric-blue);
}

.hero__calculator-wrapper {
    grid-area: calculator;
    padding: 2rem;
    border-radius: 1rem;
    background-color: var(--pure-white);
}

.hero__logo {
    max-inline-size: 100%;
    height: auto;
}

.main {
    flex: 1 0 auto;
}

.footer { flex-shrink: 0; }

.attribution__color-label { color: var(--gunmetal); }

.attribution__color-link { color: var(--blue); }

