@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

:root {
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
  --light: #fff;
  --font-healings: 'Poppins', sans-serif;
  --font-body: 'Open Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--violet);
  background-image: url("./images/bg-mobile.svg");
  background-repeat: no-repeat; 
  background-size: 100vw auto; 
  background-position: top center;
}

main {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  min-width: 100%;
}

.container {
  display: grid;
  grid-template-areas: 
    "header"
    "illustration" 
    "body";
  grid-template-columns: minmax(min-content, 335px);
  height: min-content;
  margin: 0.6rem;
  gap: min(11vw, 50px) 0;
}

.container__header {
  grid-area: header;
  align-self: flex-start;
  padding-top: min(4vw, 1rem);
}

.container__img-logo {
  width: min(40vw, 140px);
  height: 100%;
}

.container__illustration {
  grid-area: illustration;
}

.container__img-illustration {
  width: 100%;
  height: auto;
}

.container__body {
  grid-area: body;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--light);
}

.container__subtitle {
  font-family: var(--font-healings);
  font-size: clamp(0.6rem, 7vw, 1.5rem);
  font-weight: 600;
}

.container__description {
  margin: min(8vw, 1.5rem) 0;  
  font-family: var(--font-body);
  font-size: clamp(0.4rem, 5vw, 1.1rem);
  line-height: calc(clamp(0.4rem, 5vw, 1.1rem) * 1.8));
}

.container__btn {
  padding: min(6vw, 0.8rem) min(25vw, 6rem);
  border-radius: 25rem;
  border-style: none;
  box-shadow: 5px 5px 11px 0px rgba(0,0,0,0.4);
  font-size: clamp(0.6rem, 7vw, 1rem);
  color: var(--violet);
  background-color: var(--light);
  cursor: pointer;
}

.container__btn:hover {
  background-color: var(--soft-magenta);
  color: var(--light);
}

.container__social {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 5px 25px;
  position: static;
  bottom: 0;
  right: 0;
  margin-top: min(15vw, 3rem); 
}

.container__social-link {
  padding: 0.5rem;
  border: 2px solid var(--light);
  border-radius: 25px;
}

.container__social-link:hover {
  border: 2px solid var(--soft-magenta);
}

.container__icon {
  margin: auto auto; 
  padding: 0.1rem 0.1rem; 
  color: var(--light);
}

.container__social-link:hover .container__icon {
  color: var(--soft-magenta)
}

.container__icon--facebook {
  padding: 0.1rem 0.3rem;
}

@media only screen and (min-width: 850px) {

  body {
    background-image: url("./images/bg-desktop.svg");
    background-size: cover;  
  }

  main {
    align-items: center;
    justify-content: center;
  }

  .container {
    display: grid;
    grid-template-areas: 
      "header header"
      "illustration body";
    justify-content: center;
    grid-template-columns: min(60%, 777px) min(40%, 518px);
    gap: min(3vw, 60px) min(2vw, 30px);
  }

  .container__header {
    padding: 0;
  }

  .container__img-logo {
    width: min(40vw, 180px);
  }

  .container__img-illustration {
    align-self: center;
  }

  .container__body {
    align-items: flex-start;
    text-align: left;
  }

  .container__subtitle {
    margin-top: 3rem;
    font-size: clamp(0.6rem, 3vw, 2.4rem);
  }

  .container__description {
    margin: min(2vw, 1.5rem) 0;
    font-size: clamp(0.4rem, 2vw, 1.1rem);
    line-height: calc(clamp(0.4rem, 2vw, 1.1rem) * 1.8);
  }

  .container__btn {
    padding: min(1vw, 1rem) min(4vw, 4rem);
    font-size: clamp(0.8rem, 2vw, 1.2rem);
  }

  .container__social {
    position: absolute;
    bottom: 8px;
    right: 16px;
    margin-top: 0;
  }
}

footer {
  flex-shrink: 0;
  margin: 0.6rem 0;
}

.attribution { 
  font-family: var(--font_healings);
  font-size: 11px;
  text-align: center; 
}

.attribution a { color: var(--light); }
