@charset "UTF-8";

.calculator {
    background-color: var(--pure-white);
    border-radius: 1rem;
    box-shadow: 16px 32px 56px var(--shadow-calculator);
    display: flex;
    flex-direction: column;
    padding: min(2.46vw, 2rem);
    row-gap: min(2.46vw, 2rem);
}

.calculator__title {
    color: var(--gunmetal);
    font-size: clamp(1.3rem, 1.7vw, 1.5rem);
    font-weight: var(--font-semi-bold);
    letter-spacing: -.075rem;
}

/* Tablet */
@media only screen and (min-width: 376px) and (max-width: 768px) {

    .calculator {
        padding: min(4.2vw, 2rem);
        row-gap: min(4.2vw, 2rem);
    }

    .calculator__title { font-size: clamp(1.1rem, 3.2vw, 1.5rem); }

}