@charset "UTF-8";


.calculator {
    background-color: var(--pure-white);
    border-radius: 1rem;
    box-shadow: 1px 5px 20px 1px #D6E6FE;
    display: flex;
    flex-direction: column;
    padding: min(2.46vw, 2rem);
    row-gap: min(2.46vw, 2rem);
}

.calculator__title {
    color: var(--gunmetal);
    font-size: 1.5rem;
    font-weight: var(--font-semi-bold);
    letter-spacing: -.075rem;
}

.result {
    background-color: var(--blue);
    border-radius: 1rem 6.25rem 6.25rem 1rem;
    color: var(--pure-white);
    display: grid;
    flex-wrap: wrap;
    gap: 0 1.5rem;
    grid-template-columns: repeat(2, minmax(auto, 1fr));
    padding: 2rem;
    width: 100%;
}

.result__comment-wrapper {
    margin: auto 0;
}

.result__comment {
    font-size: .87rem;
    line-height: 1.5;
}

.result__title {
    font-size: 1rem;
    margin-block: 0.5rem;
}

.result__bmi {
    font-size: 4rem;
    font-weight: 600;
} 