@charset "UTF-8";

.form {
    display: flex;
    flex-wrap: wrap;
    gap: 0 24px;
}

.form__field{
    display: flex;
    flex-direction: column;
    width: fit-content;
    font-size: .8rem;
    color: var(--dark-eletric-blue);
}

.form__field:focus {
    background-color: red;
}

.form__input-wrapper {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
    border: 1px solid var(--dark-eletric-blue);
    border-radius: 12px;
    width: 238px;
    margin-block-start: .5rem;
}

.form__input {
    outline: none;
    border-radius: inherit;
    border: none;
    width: 131px;  
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1.19rem 1.5rem; 
    color: var(--gunmetal);
}

::placeholder { color: var(--light-blue); }

.form__unit {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--blue);
}
