@charset "UTF-8";

.btn__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.btn {
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    width: fit-content;
}

.btn__radio {
    align-items: center;
    background-color: transparent;
    border: 1px solid var(--dark-eletric-blue);
    border-radius: 50%;
    display: flex;
    height: 31px;
    justify-content: center;
    width:  31px;
}

.btn__radio--selected {
    background-color: var(--light-blue);
    border: none;
}

.btn:hover div[class="btn__radio "] { border: 1px solid  var(--blue); }

.btn__indicator {
    background-color: var(--blue);
    border-radius: inherit;
    height: 15px;
    width: 15px;
    z-index: 1;
}

.btn__label {
    color: var(--gunmetal);
    font-size: clamp(.9rem, 1.2vw, 1rem);
    font-weight: var(--font-semi-bold);
    margin-inline-start: 1.1rem;
}

/* Tablet */
@media only screen and (min-width: 376px) and (max-width: 768px) {

    .btn__label { font-size: clamp(.8rem, 2.1vw, 1rem); }

}