@charset "UTF-8";

.btn__wrapper {
    display: grid;  
    grid-template-columns: repeat(2, 1fr);
}

.btn {
    border: none;
    display: flex;
    align-items: center;
    width: fit-content;
    background-color: transparent;
    cursor: pointer;
}

.btn__radio {
    border-radius: 50%;
    border: 1px solid var(--dark-eletric-blue);
    width:  31px;
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.btn__radio--selected { 
    border: none; 
    background-color: var(--light-blue);
}

.btn:hover div[class="btn__radio "] { border: 1px solid  var(--blue); }

.btn__indicator {
    border-radius: inherit;
    width: 15px;
    height: 15px;
    background-color: var(--blue);
    z-index: 1;
}

.btn__label {
    font-size: 1rem;
    font-weight: 600;
    margin-inline-start: 1.1rem;
    color: var(--gunmetal);
}
