@charset "UTF-8";

.result {
    background-color: var(--blue);
    border-radius: 1rem 6.25rem 6.25rem 1rem;
    color: var(--pure-white);
    display: grid;
    flex-wrap: wrap;
    gap: 0 min(1.7vw, 1.5rem);
    grid-template-columns: repeat(2, minmax(auto, 1fr));
    padding: min(2.3vw, 2rem);
    width: 100%;
}

.result__comment-wrapper {
    margin: auto;
}

.result__comment {
    font-size: clamp(.8rem, 1vw, .875rem);
    line-height: calc(clamp(.8rem, 1vw, .875rem) * 1.5);
}

.result__title {
    font-size: clamp(.9rem, 1.3vw, 1.125rem);
    margin-block: 0.5rem;
}

.result__bmi {
    font-size: clamp(3rem, 3.9vw, 3.5rem);
    font-weight: 600;
} 

/* Tablet */
@media only screen and (min-width: 376px) and (max-width: 768px) {

    .result {
        gap: 0 min(3.2vw, 1.5rem);
        padding: min(4.2vw, 2rem);
    }

    .result__comment {
        font-size: clamp(.8rem, 1.9vw, .875rem);
        line-height: calc(clamp(.8rem, 1.9vw, .875rem) * 1.5);
    }
    
    .result__title {
        font-size: clamp(.9rem, 2.1vw, 1rem);
    }
    
    .result__bmi {
        font-size: clamp(3rem, 6.3vw, 3rem);
    } 
    

}