@charset "UTF-8";

.tips {
    background-color: var(--light-blue);
    border-radius: 1.75rem;
    margin-inline: min(1.8vw, 1.5rem); /* desktop */
    padding: min(10vw, 4.5rem) min(10.76vw, 8.75rem) min(10vw, 6rem); /* desktop */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr)); /* desktop */
    gap: 0 2rem; /* desktop */

}

.tips__card {
    display: flex;
    flex-direction: column;
    gap: 45px 0;
}

.tips__icon {
    display: block;
    max-inline-size: 100%;
    block-size: auto;
}

.tips__content {
    
}

.tips__title {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -.1rem;
    color: var(--gunmetal);
    margin-block-end: 24px;
}

.tips__text {
    color: var(--dark-eletric-blue);
    font-size: 1rem;
    line-height: 1.5;
}
