@charset "UTF-8";

.tips {
    background: linear-gradient(90deg,var(--gradient-start) 0%, var(--gradient-end) 100%);
    border-radius: 1.75rem;
    display: grid;
    gap: 0 2rem; /* desktop */
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));  /* desktop */
    margin-inline: min(1.8vw, 1.5rem); /* desktop */
    padding: min(10vw, 4.5rem) min(10.76vw, 8.75rem) min(10vw, 6rem);  /* desktop */ 
}

.tips__card {
    display: flex;
    flex-direction: column;
    gap: min(3vw, 2.8125rem) 0;
}

.tips__icon {
    block-size: auto;
    display: block;
    max-inline-size: 100%;
}

.tips__title {
    color: var(--gunmetal);
    font-size: clamp(1rem, .5rem + 1.5vw, 1.5rem); /* desktop */
    font-weight: var(--font-semi-bold);
    letter-spacing: -.1rem;
    margin-block-end: min(1.5vw, 24px);
}

.tips__text {
    color: var(--dark-eletric-blue);
    font-size: clamp(.8rem, .5rem + .6vw, 1rem); /* desktop */
    font-weight: var(--font-regular);
    line-height: calc(clamp(.8rem, .5rem + .6vw, 1rem) * 1.5); /* desktop */
}
