@use "base";

*, 
*::before,
*::after {
    box-sizing: border-box;
    font-family: base.$font;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
}

body {
    @include base.layout(column);
    background-color: base.$white;
}

.container {
    @include base.layout(column);
    max-inline-size: 1440px;
    width: inherit;
}

.header {
    flex: 1 0 auto;
    margin: auto;
    padding-top: min(13vw, 3rem);
}

.btn {
    border: none;
    border-radius: 1.8125rem;
    padding: min(4.3vw, 1rem) min(10.7vw, 2.5rem);
    width: fit-content;
    font-size: clamp(.6rem, .5rem + 2.2vw, 1rem);
    line-height: calc(clamp(.6rem, .5rem + 2.2vw, 1rem) * 1.5);
    font-weight: base.$f-weight-black;
    color: base.$white;
    cursor: pointer;
    
    .btn__version { margin-inline-start: .25rem; }

    @include base.for-size(desktop) {
        padding: min(1.2vw, 1rem) min(2.8vw, 2.5rem);
        font-size: clamp(.6rem, .5rem + .6vw, 1rem);
        line-height: calc(clamp(.6rem, .5rem + .6vw, 1rem) * 1.5);
    }
}

.index {
    width: fit-content;
    margin: 0 auto;

    .index__line {
        position: relative;
        left: min(11.7vw, 1.6rem);
        height: 80px;
        width: 1px;
        border: 1px solid base.$slate-300;
    }

    .index__circle {
        align-items: center;
        background-color: base.$white;
        border: 1px solid base.$slate-300;
        border-radius: 50%;
        display: flex;
        height: min(24vw, 56px);
        justify-content: center;
        width: min(24vw, 56px);

        .index__number {
            color: base.$slate-600;
            font-size: clamp(.6rem, .5rem + 3.4vw, 1rem);
            line-height: calc(clamp(.6rem, .5rem + 3.4vw, 1rem) * 1.5);
            font-weight: base.$f-weight-black;
            line-height: 1.5;
        }
    }
}

.main {
    position: relative;
    flex: 1 0 auto;
    
    .hero {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: min(12.9vw, 3rem) 0;
        padding-block: min(17.1vw, 4rem) min(8.6vw, 2rem);

        @include base.for-size(tablet) { padding-block: min(8.4vw, 4rem); }

        @include base.for-size(desktop) { padding-block: min(4.5vw, 4rem); }
    
        @include base.for-size(tablet) {
            flex-direction: column;
            gap: min(9.4vw, 4.5rem) 0;
        }

        @include base.for-size(desktop) {
            flex-direction: row;
            gap: 0 min(calc(10.3vw - 1.6rem), 8rem);
        }

        .hero__img-left-top-wrapper { 
            align-self: flex-start;
            display: block;  
            max-inline-size: 100%;
            overflow: hidden;
            
            @include base.for-size(tablet) {
                max-inline-size: 768px;
                width: 100%;
                max-height: auto;
            }

            @include base.for-size(desktop) {
                max-inline-size: 366px;
            }

            .hero__img-left-top {
                display: block;  
                object-fit: contain;
                max-inline-size: 110%;
                aspect-ratio: 1 / .427;
                object-position: -17px center;

                @include base.for-size(tablet) {
                    max-inline-size: 110%;
                    aspect-ratio: 1 / .38;
                    object-position: -25px center;
                }
        
                 @include base.for-size(desktop) {
                    max-inline-size: 100%;
                    aspect-ratio: 1 / .833;
                    object-position: -20px center;
                 }
             }
        }

        .hero__img-right-wrapper {
            align-self: flex-end;
            display: none;

            @include base.for-size(desktop) {
                display: block;  
                max-width: 366px;
            }

            .hero__img-right {
                display: block;  
                object-fit: contain;
                max-inline-size: 100%;

                @include base.for-size(desktop) {
                    aspect-ratio: 1 / .833;
                    object-position: 20px;
                }
            }
        }

        .hero__text-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: min(6.5vw, 1.5rem) 0;
            padding-inline: min(8.6vw, 2rem);
            width: inherit;

            @include base.for-size(tablet) {
                padding-inline: 0;
                gap: min(3.2vw, 1.5rem) 0;
                max-inline-size: 448.3px;
            }
            
            @include base.for-size(desktop) {
                gap: min(2.3vw, 2rem) 0;
                max-inline-size: 448px;
                padding-block: min(1.8vw, 2rem);
                padding-inline: 0;
            }

            .hero__title {
                color: base.$slate-900;
                font-weight: base.$f-weight-black;
                font-size: clamp(1rem, .5rem + 8.6vw, 2.5rem);
                line-height: calc(clamp(1rem, .5rem + 8.6vw, 2.5rem) * 1.1);
                max-width: 10ch;

                @include base.for-size(tablet) {
                    font-size: clamp(1rem, .5rem + 5.3vw, 3rem);
                    line-height: calc(clamp(1rem, .5rem + 5.3vw, 2.5rem) * 1.3);
                }

                @include base.for-size(desktop) {
                    font-size: clamp(1rem, .5rem + 3.8vw, 4rem);
                    line-height: calc(clamp(1rem, .5rem + 3.8vw, 4rem) * 1.1);
                }
            }

            .hero__text {
                color: base.$slate-600;
                font-weight: base.$f-weight-medium;
                font-size: clamp(.8rem, .5rem + 2.2vw, 1rem);
                line-height: calc(clamp(.8rem, .5rem + 2.2vw, 1rem) * 1.5);

                @include base.for-size(tablet) {
                    font-size: clamp(.8rem, .5rem + 1.3vw, 1rem);
                    line-height: calc(clamp(.8rem, .5rem + 1.3vw, 1rem) * 1.5);
                }

                @include base.for-size(desktop) {
                    font-size: clamp(.8rem, .5rem + .7vw, 1.125rem);
                    line-height: calc(clamp(.8rem, .5rem + .7vw, 1.125rem) * 1.5);
                }
            }

            .hero__btns-wrapper {
                display: flex;
                flex-direction: column;
                gap: min(4.3vw, 1rem) 0;
                align-items: center;

                @include base.for-size(tablet) {
                    flex-direction: row;
                    gap: 0 min(2.2vw, 1.0625rem);
                }

                @include base.for-size(desktop) {
                    flex-direction: row;
                    gap: 0 min(1.9vw, 1.0625rem);
                }

                .btn--download { background-color: base.$cyan-600; }

                .btn--what { background-color: base.$purple-600; }

                .btn--download:hover { background-color: base.$cyan-400; }

                .btn--what:hover { background-color: base.$purple-400; }

                .btn__version { color: base.$cyan-300; }
            }
        }
    }

    .content {
        padding-block: min(8.6vw, 2rem) min(17.1vw, 4rem);
        padding-inline: min(8.6vw, 2rem);
        display: flex;
        flex-direction: column;
        align-items: center;

        @include base.for-size(tablet) { 
            padding-block: min(7.3vw, 3.5rem) min(8.4vw, 4rem); 
            padding-inline: min(5.8vw, 2.75rem);
        }

        @include base.for-size(desktop) { 
            padding-block: min(3.9vw, 3.5rem) min(5.1vw, 4.5rem); 
            padding-inline: min(11.2vw, 10rem);
        }

        .content__image-collage {
            display: grid;
            gap: min(4.3vw, 1rem);
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(2, auto);
            padding-block: min(17.1vw, 4rem);
            
            .content__img {
                aspect-ratio: 1 / .977;
                border-radius: 1rem;
                height: auto;
                max-inline-size: 100%;
                object-fit: cover;
             }
    
            @include base.for-size(tablet) {
                grid-template-columns: repeat(4, auto);
                grid-template-rows: auto;
                gap: min(3.2vw, 1.5rem);
                padding-block: min(8.4vw, 4rem);

                .content__img { aspect-ratio: 1 / 1.054; }
            }

            @include base.for-size(desktop) {
                grid-template-columns: repeat(4, auto);
                grid-template-rows: auto;
                gap: min(2.3vw, 2rem);
                padding-block: min(4.5vw, 4rem);
    
                .content__img { aspect-ratio: 1 / 1; }
            }
         }

        .content__text-wrapper {
            max-inline-size: 311px;
            width: 100%;
            text-align: center;

            @include base.for-size(tablet) { max-inline-size: 445px; }

            @include base.for-size(desktop) { max-inline-size: 544px; }

            .content__title {
                color: base.$cyan-600;
                font-size: clamp(.4rem, .375rem + 2.2vw, .75rem);
                font-weight: base.$f-weight-black;
                letter-spacing: 4px;
                line-height: calc(clamp(.4rem, .375rem + 1.6vw, .75rem) * 1);
                text-transform: uppercase;

                @include base.for-size(tablet) {
                    font-size: clamp(.6rem, .375rem + 1.05vw, .875rem);
                    line-height: calc(clamp(.6rem, .375rem + 1.05vw, .875rem) * 1.07);
                }

                @include base.for-size(desktop) {
                    font-size: clamp(.6rem, .5rem + 2.2vw, 1rem);
                    line-height: calc(clamp(.6rem, .5rem + 2.2vw, 1rem) * 1.13);
                }
            }

            .content__subtitle {
                margin: 0 auto;
                color: base.$slate-900;
                font-size: clamp(1rem, .5rem + 6.5vw, 2rem);
                font-weight: base.$f-weight-black;
                line-height: calc(clamp(1rem, .5rem + 6.5vw, 2rem) * 1.1);
                margin-block: min(4.3vw, 1rem) min(8.6vw, 2rem);

                @include base.for-size(tablet) {
                    font-size: clamp(1rem, .5rem + 3.7vw, 2.25rem);
                    line-height: calc(clamp(1rem, .5rem + 3.7vw, 2.25rem) * 1.07);
                    margin-block: min(2.09vw, 1rem) min(4.2vw, 2rem);
                }

                @include base.for-size(desktop) {
                    font-size: clamp(.6rem, .5rem + 2.2vw, 2.5rem);
                    line-height: calc(clamp(.6rem, .5rem + 2.2vw, 2.5rem) * 1);
                    margin-block: min(1.2vw, 1rem) min(2.3vw, 2rem);
                    max-width: 18ch;
                }
            }

            .content__text {
                color: base.$slate-600;
                font-size: clamp(.6rem, .5rem +  2.2vw, 1rem);
                font-weight: base.$f-weight-medium;
                line-height: calc(clamp(.6rem, .5rem +  2.2vw, 1rem) * 1.5);

                @include base.for-size(tablet) {
                    font-size: clamp(.8rem, .5rem + 1.05vw, 1rem);
                    line-height: calc(clamp(1rem, .5rem + 1.05vw, 1rem) * 1.5);
                }

                @include base.for-size(desktop) {
                    font-size: clamp(.6rem, .5rem + .84vw, 1.125rem);
                    line-height: calc(clamp(.6rem, .5rem + .84vw, 1.125rem) * 1.5);
                }
            }
        }
    }
}

.footer {
    position: relative;
    align-items: center;
    background: base.$background, no-repeat url("../../assets/mobile/image-footer.jpg");
    background-size: cover;
    color: base.$white;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    padding-block: min(17.1vw, 4rem) 0;
    padding-inline: min(8.6vw, 2rem);
    row-gap:  min(17.1vw, 4rem);
    text-align: center;
    width: inherit;
    margin-top: 6.75rem;

    .index--botton {
        position: absolute;
        left: calc(48% - 1rem);
        bottom: calc(89% + 1rem);
    }

    @include base.for-size(tablet) {
        background: base.$background, no-repeat url("../../assets/tablet/image-footer.jpg");
        background-size: cover;
        margin-top: 6.75rem;
        padding-block: min(8.4vw, 4rem) 0;
        padding-inline: min(5.8vw, 2.75rem);
        row-gap:  min(8.4vw, 4rem);

        .index--botton { bottom: calc(87% + 1rem); }
    }
    
    @include base.for-size(desktop) {
        background: base.$background, no-repeat url("../../assets/desktop/image-footer.jpg");
        background-size: cover;
        margin-top: 6.75rem;
        padding-block: min(7.8vw, 7rem) 0;
        padding-inline: min(11.2vw, 10rem);
        row-gap:  min(7.8vw, 7rem);

        .index--botton { 
            left: calc(49% - 1rem);
            bottom: calc(87% + 1rem);
        }
  }

    .hero-footer {
        display: flex;
        flex-direction: column;
        gap: min(6.5vw, 1.5rem) 0;
        max-inline-size: 311px;
        width: 100%;

        @include base.for-size(tablet) { max-inline-size: 504px; }

        @include base.for-size(desktop) { 
            flex-direction: row;
            max-inline-size: 1120px; 
            text-align: start;
            gap: 0 32px;
        }

        .hero-footer__message {
            display: block;
            font-size: clamp(1rem, .5rem + 6.5vw, 2rem);
            line-height: calc(clamp(1rem, .5rem + 6.5vw, 2rem) * 1.1);
            font-weight: base.$f-weight-black;

            @include base.for-size(tablet) {
                font-size: clamp(1rem, .5rem + 3.7vw, 2.25rem);
                line-height: calc(clamp(1rem, .5rem + 3.7vw, 2.25rem) * 1.07);
            }
            
            @include base.for-size(desktop) {
                max-inline-size: 445px;
                width: 100%;
                font-size: clamp(1rem, .5rem + 2.3vw, 2.5rem);
                line-height: calc(clamp(1rem, .5rem + 2.3vw, 2.5rem) * 1.1);
            }
        }

        .hero-footer__text {
            font-size: clamp(.6rem, .5rem +  2.2vw, 1rem);
            font-weight: base.$f-weight-medium;
            line-height: calc(clamp(.6rem, .5rem +  2.2vw, 1rem) * 1.5);

            @include base.for-size(tablet) {
                font-size: clamp(.8rem, .5rem + 1.05vw, 1rem);
                line-height: calc(clamp(1rem, .5rem + 1.05vw, 1rem) * 1.5);
            }

            @include base.for-size(desktop) {
                max-inline-size: 335px;
                width: 100%;
                font-size: clamp(.6rem, .5rem + .84vw, 1.125rem);
                line-height: calc(clamp(.6rem, .5rem + .84vw, 1.125rem) * 1.5);
            }
        }

        .hero-footer__btn-wrapper {

            @include base.for-size(desktop) {
                max-inline-size: 256px;
                width: 100%;
                display: flex;
                justify-content: end;
                align-items: flex-start;
            }

            .btn--download { background-color: base.$purple-600; }

            .btn--download:hover { background-color: base.$purple-400; }

            .btn__version { color: base.$purple-300; }
        }

    }

    .attribution {
        margin: 0.6rem;
        font-size: .6875rem; 
    }
      
    .attribution a { color: base.$slate-900; }
}





