@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --dark-blue-intro: hsl(217, 28%, 15%); /* intro and email sign up background */
    --dark-blue-main: hsl(218, 28%, 13%); /* main background */
    --dark-blue-footer: hsl(216, 53%, 9%); /* footer background */
    --dark-blue-testimonials: hsl(219, 30%, 18%); /* testimonials background */
    --cyan: hsl(176, 68%, 64%); /* inside call-to-action gradient */
    --blue: hsl(198, 60%, 50%); /* inside call-to-action gradient */
    --light-red: hsl(0, 100%, 63%); /* error */
    --white: hsl(0, 0%, 100%);
    --shadow: hsl(218, 28%, 10%);
    --font-primary: "Open Sans", sans-serif; /* Headings, Call-to-actions, Header Navigation */
    --font-secondary: "Raleway", sans-serif; /* Body */
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid blue;        
} 

html, body { width: 100%; }

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    background-color: blue;
    /* background-color: var(--dark-blue-main); */
}

:is(.header__menu, 
    .main__title,
    .resources__title,
    .see-work__title,
    .main__btn,
    .see-work__btn,
    .sing-up__title) {
    font-family: var(--font-secondary);   
}

:is(.main__intro,
    .resources__description,
    .see-work__description,
    .testimonials__user-word,
    .testimonials__identification,
    .sing-up__instruction,
    .sing-up__error) {
    font-family: var(--font-primary);
}

.container {
    display: flex;
    flex-direction: column;
    max-inline-size: 1440px;
    width: 100%;
}

.header {
    flex: 1 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 4.52rem 5rem 0 5rem;
    margin-block-end: 4.35rem; 
}

.header__menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 3.75rem;
}

.header__menu-link { 
    text-decoration: none; 
    color: var(--white);
}

.header__menu-link:hover {
    text-decoration: underline;
    font-weight: 700;
}

.main {
    position: relative;
    flex: 1 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5rem;
/*     background-color: red; */
}

.main__wrapper-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-block-end: 8.43rem;
}

:is(.main__illustration-intro, 
    .see-work__illustration) {
    max-inline-size: 100%;
    block-size: auto;
}

.main__title {
    font-size: 2.5rem;
    line-height: 1.5;
    max-inline-size: 35ch;
    margin-block-start: 2.3rem;
    margin-block-end: 2rem;
}

.main__intro {
    font-size: 1.2rem;
    max-inline-size: 55ch;
    line-height: 1.5;
}

.main__btn {
    border: none;
    border-radius: 1.87rem;
    padding: 1.25rem 5.93rem;
    margin-block: 1.75rem;
    background: linear-gradient(var(--cyan), var(--blue));
    font-size: 1rem;
    font-weight: 700;
    color: var(--white);
    cursor: pointer;
}

.main__btn:hover { background: var(--cyan); }

.resources {
    display: grid;
    grid-template-columns: repeat(2, minmax(20px, 410px));
    grid-template-rows: repeat(2, auto);
    gap: 4.8rem 7rem; 
    margin-block-end: 7.5rem;
}

.resources__wrapper-icon {
    display: flex;
    align-items: center;
    height: 88px;
    margin-block-end: 25px;
}

.resources__item {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.resources__title {
    margin-block-end: 10px; 
    font-size: 20px;
}

.resources__description {
    font-size: 15px;
    line-height: 1.5;
    text-align: center;
    padding: 0 10px;
}

.see-work {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    gap: 0 50px;
    margin-block-end: 150px;
}

.see-work__title {
    font-size: 40px;
    max-inline-size: 15ch; 
    line-height: 1.2;
    margin-block-end: 32px; 
}

.see-work__description {
    font-size: 16.5px;
    line-height: 1.5;
    margin-block-end: 20px; 
}

.see-work__wrapper-btn {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    padding-block-end: 6px;
    border-block-end: 1px solid var(--cyan);
}

.see-work__btn {
    font-size: 1rem;
    font-weight: 700;
    color: var(--cyan);
    text-decoration: none;
    line-height: 1;
    margin-inline-end: 5px;
}

.testimonials {
    display: flex;
    justify-content: center;
    gap: 20px 40px;
    flex-wrap: wrap;
    padding-block-start: 40px;
    margin-block-end: 350px;
} 

.testimonials__user-brief {
    position: relative;
    flex: 0 1 360px;
    display: flex;
    flex-direction: column;
    border-radius: 0.3rem;
    padding: 40px 26px 30px 26px;
    background-color: var(--dark-blue-testimonials);
    box-shadow: 8px 10px 4px 2px var(--dark-blue-intro);
}

.testimonials__user-brief--quotes::before {
   /*  position: absolute; */
    content: url("./images/bg-quotes.png");
    bottom: 95%;
    right: 87%;
    z-index: -1;
}

.testimonials__user-word {
    font-size: 15px;
    margin-block-end: 15px;
}

.testimonials__wrapper-info {
    display: flex;
    align-items: center;
    padding-block-start: 10px;
}

.testimonials__photo {
    max-inline-size: 100%;
    block-size: auto;
    border-radius: 3rem;
    margin-inline-end: 8px;
}

.testimonials__identification {
    text-align: start;
}

.testimonials__user-name {
    font-size: 9px;
    font-weight: 900;
    display: block;
    margin-block-end: 4px;
}

.testimonials__position {
    font-size: 7px;
    font-weight: 900;
    display: block;
}

.see-work__icon { fill: var(--cyan); }
.see-work__wrapper-btn:hover .see-work__btn { color: var(--white); }
.see-work__wrapper-btn:hover { border-block-end: 1px solid var(--white); }
.see-work__wrapper-btn:hover .see-work__icon { fill: var(--white); }

.sing-up {
    position: absolute;
    top: 94%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.3rem;
    padding: 44px 0 20px 0;   
    width: 60%; 
    background-color: var(--dark-blue-intro);
    box-shadow: 4px 6px 5px 1px var(--shadow);
}

.sing-up__title { font-size: 32px; }

.sing-up__instruction {
    text-align: center;
    font-size: 14px;
    max-inline-size: 80ch; 
    margin-block-start: 25px;
    margin-block-end: 40px;
}

.sing-up__form { width: 85%; }

.sing-up__wrapper-form {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    gap: 0 30px; 
    width: 100%;
}

.sing-up__input {
    border: 0;
    width: 66%;    
    border-radius: 1.5rem;
    padding: 16px 35px;
}

.sing-up__error {
    color: var(--light-red);
    font-size: 0.6rem;
    font-weight: 900;
    padding-inline-start: 45px;
}

.sing-up__btn {
    border: none;
    border-radius: 1.87rem;
    padding: 5px 30px;  
   /*  margin-block: 1.75rem; */
    background: linear-gradient(var(--cyan), var(--blue));
    font-size: 0.9rem;
    font-weight: 700;
    color: var(--white);
    cursor: pointer;
}

.sing-up__btn:hover { background: var(--cyan); }

.footer {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;   
    /* justify-content: flex-end; */
    padding: 7.5rem 5rem 0.5rem 5rem; 
    color: var(--white);
    background-color: green;
  }
  
  .footer__logo {
    max-inline-size: 100%;
    height: auto;
  }
  
  .footer__wrapper {
    display: flex;
    flex-direction: column;
 /*    row-gap: 25px; */
    width: 100%;
   /*  padding: min(6vw, 3rem) min(8vw, 7rem) 0 min(8vw, 7rem);   */
  }
  
  .footer__body {
    display: flex;
    flex-wrap: wrap;
    row-gap: min(6vw, 2.5rem);
  }
  
  .footer__contact {
    flex: 1 1 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* row-gap: 20px; */
    font-family: var(--font-primary);
   
    font-style: normal;
  }

.footer__address { font-size: 16px; }

:is(.footer__phone, 
    .footer__email) {
    font-size: 14px;
}
  
:is(.footer__address-wrapper, 
      .footer__phone-wrapper, 
      .footer__email-wrapper) {
    display: flex;
    column-gap: 10px;
}
  
  .footer__icon { object-fit: contain; }
  
  .footer__menu {
    flex: 1 1 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 0; 
  }
  
  .footer__menu-left, .footer__menu-right { list-style-type: none; }
  
  .footer__item { margin-bottom: min(4vw, 0.93rem); }
  
  .footer__link {
    font-size: 16px;
    /* font-size: clamp(0.6rem, 5vw, 1.1rem); */
    text-decoration: none;
    font-family: var(--font-primary);
    color: var(--white);
  }
  
  .footer__link:hover { font-weight: 900; }
  
  .footer__midia { flex: 1 1 400px; }
  
  .footer__midia-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px 10px;
  }
  
  .footer__midia-icon-wrapper {
    padding: 0.3rem 0.2rem;
    border: 1px solid var(--white);
    border-radius: 50px;
  }
  
  .footer__midia-icon-wrapper:hover { border: 1px solid var(--cyan); }
  
  .footer__midia-icon {
    margin: auto auto; 
    padding: 0.1rem 0.2rem; 
    color: var(--white);
  }
  
  .footer__midia-icon-wrapper:hover .footer__midia-icon { color: var(--cyan); }
  
  .footer__midia-icon--facebook { padding: 0.1rem 0.4rem; }
  
  .footer__midia-icon--instagram { padding: 0.1rem 0.3rem; }
  
  .footer__copyright {
    text-align: center;
    font-size: clamp(0.4rem, 5vw, 0.7rem);
  }

.footer__attribution { 
    font-family: var(--font-secondary);
    margin: 0.6rem 0; 
}
  