@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;400;500;700;900&display=swap');

:root{
    --light-orange: #FF9B62;
    --dark-orange: #F16718;
    --dark-orange-transparent: hsla(22, 89%, 52%, 0.8);
    --light-blue-100: #E8EFF2;
    --light-blue-200: #7B8BAD;
    --dark-blue: #162542;
    --white: #FFFFFF;
    --font: "Barlow", system-ui;
    --f-weight-regular: 400;
    --f-weight-medium: 500;
    --f-weight-bold: 700;
    --f-weight-black: 900;
}

*,
*::before,
*::after{
    box-sizing: border-box;
    font-family: var(--font);
    margin: 0;
    padding: 0;
}

html,
body { inline-size: 100%; }

#root {
    align-items: center;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    inline-size: inherit;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-inline-size: 1440px;
    inline-size: inherit;
}

.header {
      align-items: center;
      display: flex;
      flex: 1 0 auto;
      inline-size: inherit;
      max-inline-size: 1110px;
      padding-block: min(6.4vw, 1.4375rem) min(17.1vw, 4rem);
      padding-inline: min(6.5vw, 1.5rem);
}

.header__logo { display: block; }

.header__btn { margin-left: auto; }

.btn-order {
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: clamp(.8rem, .5rem + 2.2vw, 1rem);
    font-weight: var(--f-weight-bold);
    line-height: calc(clamp(.8rem, .5rem + 2.2vw, 1rem) * 1.65);
    padding-block: min(3vw, .6875rem);
    padding-inline: min(4vw, .90625rem) min(3.7vw, .84375rem);
    text-transform: uppercase;
}

.header__btn.btn-order {
    background-color: var(--light-blue-100);
    color: var(--dark-blue);
}

.header__btn.btn-order:hover {
    background-color: var(--dark-blue);
    color: var(--white);
}

.main { 
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-inline-size: inherit;
    inline-size: 100%;
}

.highline,
.about-keyboard {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 0;
    width: inherit;
}

.highline__wrapper {
    display: grid;
    gap: min(17.1vw, 4rem) 0;
    grid-template-columns: 1fr;
    grid-template-rows: auto fit-content;
}

.highline__content {
    display: flex;
    flex-direction: column;
    justify-self: center;
    max-inline-size: 100%;
    padding-inline: min(6.4vw, 1.5rem);
    row-gap: min(8.6vw, 2rem);
}

.highline__title {
    color: var(--dark-blue);
    font-size: clamp(.8rem, .5rem + 11vw, 3rem);
    font-weight: var(--f-weight-black);
    line-height: calc(clamp(.8rem, .5rem + 11vw, 3rem) * 1);
    text-transform: uppercase;
}

.highline__text {
    color: var(--light-blue-200);
    font-size: clamp(.8rem, .5rem + 2.2vw, 1rem);
    font-weight: var(--f-weight-medium);
    line-height: calc(clamp(.8rem, .5rem + 2.2vw, 1rem) * 1.63);
}

.highline__order-wrapper {
    align-items: center;
    column-gap: min(8.6vw, 2rem);
    display: flex;
    justify-content: center;
}

.highline__btn.btn-order {
    background-color: var(--dark-orange);
    color: var(--white);
}

.highline__btn.btn-order:hover { background-color: var(--light-orange); }

.highline__release {
    color: var(--light-blue-200);
    font-size: clamp(.8rem, .5rem + 2.2vw, 1rem);
    font-weight: var(--f-weight-bold);
    line-height: calc(clamp(.8rem, .5rem + 2.2vw, 1rem) * 1.65);
    text-transform: uppercase;
}

.highline__images-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    column-gap: 0;
}

.highline__photo-wrapper {
    max-inline-size: 93.6%;
    display: block;
    justify-self: end;
}

.highline__photo {
    aspect-ratio: 9 / 8.231;
    object-fit: cover;
    max-inline-size: 100%;
    border-radius: 1.5rem 0 0 1.5rem;
    display: block;
}

.pattern,
.pattern__square { display: none; }

.about-keyboard__wrapper {
    display: grid;
    gap: min(17.1vw, 4rem) 0; 
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    padding: min(9.07vw, 2.125rem) 0 min(20vw, 4.6875rem) 0;
}

.about-keyboard__photo-phone-container { position: relative; }

.about-keyboard__images-wrapper {
    column-gap: min(6.4vw, 1.5rem);
    display: grid;
    grid-template-columns: minmax(auto, 106px) minmax(auto, 220px);
    grid-template-rows: 100%;
    padding-inline: 0 min(6.5vw, 1.5rem);
}

.about-keyboard__photo-phone {
    border-radius: 0 1.5rem 1.5rem 0;
    display: block;
    height: 100%;
    max-inline-size: 100%;
    object-fit: cover;
    filter: saturate(0) opacity(74.86%);
}

.about-keyboard__photo-phone-wrapper { position: relative; }

.about-keyboard__overlay {
    background-color: var(--dark-orange);
    border-radius: 0 1.5rem 1.5rem 0;
    height: 100%;
    left: 0;
    mix-blend-mode: multiply;
    position: absolute;
    top: 0;
    width: 100%;
} 

.about-keyboard__photo-glass {
    border-radius: 1.5rem;
    display: block;
    height: 100%;
    max-inline-size: 100%;
    object-fit: cover;
}

.about-keyboard__content {
    display: flex;
    flex-direction: column;
    gap: min(6.5vw, 1.5rem) 0;
    padding-inline: min(6.5vw, 1.5rem);
    text-align: center;
}

.about-keyboard__subtitle {
    color: var(--dark-blue);
    font-size: clamp(1rem, .5rem + 6.4vw, 2rem);
    font-weight: var(--f-weight-black);
    line-height: calc(clamp(1rem, .5rem + 6.4vw, 2rem) * 1.13);
    margin: 0 auto;
    max-inline-size: 15ch;
    text-transform: uppercase;
}

.about-keyboard__text {
    color: var(--light-blue-200);
    font-size: clamp(.8rem, .5rem + 2.2vw, 1rem);
    font-weight: var(--f-weight-medium);
    line-height: calc(clamp(.8rem, .5rem + 2.2vw, 1rem) * 1.63);
}

.footer { 
    flex-shrink: 0; 
    text-align: center;
    padding-block-start: min(25.6vw, 6rem);
}

.footer__credit {
    font-size: clamp(.8rem, 4.26vw, 1rem);
    color: var(--light-blue-200);
    font-weight: var(--f-weight-medium);
}


@media only screen and (min-width: 376px) and (max-width: 768px) {

    .header {
          padding-block: min(5.3vw, 2.5rem) min(8.1vw, 3.875rem);
          padding-inline: min(5.3vw, 2.5rem);
    }

    .btn-order {
        font-size: clamp(.8rem, .5rem + 1.1vw, 1rem);
        line-height: calc(clamp(.8rem, .5rem + 1.1vw, 1rem) * 1.65);
        padding-block: min(2.1vw, 1rem);
        padding-inline: min(3.4vw, 1.625rem) min(3.6vw, 1.6875rem);
    }

    .highline {
        flex-direction: row;
        padding-inline: 0;
    }

    .highline__wrapper {
        align-items: center;
        gap: 0 min(calc(12vw - 1.4rem), 4.3125rem);
        grid-template-columns: minmax(auto, 378px) auto;
        grid-template-rows: auto;
    }

    .highline__content {
        max-inline-size: none;
        padding-inline: min(5.1vw, 2.4375rem) 0;
        row-gap: 0;
     }

    .highline__title {
        font-size: clamp(.8rem, .5rem + 5.3vw, 3rem);
        line-height: calc(clamp(.8rem, .5rem + 5.3vw, 3rem) * 1);
    }

    .highline__text {
        font-size: clamp(.8rem, .5rem + 1.1vw, 1rem);
        line-height: calc(clamp(.8rem, .5rem + 1.1vw, 1rem) * 1.64);
        margin-block: min(4.5vw, 2.125rem) min(5.1vw, 2.4375rem);
    }

    .highline__order-wrapper {
        align-items: center; 
        column-gap: min(4.9vw, 2.3125rem);
    }

    .highline__release {
        font-size: clamp(.8rem, .5rem + 1.1vw, 1rem);
        line-height: calc(clamp(.8rem, .5rem + 1.1vw, 1rem) * 1.65);
    }

    .highline__images-wrapper { grid-template-columns: minmax(190px, 321px); }

    .highline__photo-wrapper { max-inline-size: none; }

    .highline__photo {
        object-fit: cover;
        aspect-ratio: .8 / 1.060;
        border-radius: 1.5rem 0 0 1.5rem;
        object-position: 0;
    }

    .about-keyboard { flex-direction: row; }

    .about-keyboard__wrapper {
        gap: min(9.4vw, 4.5rem) 0; 
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        justify-items: center;
        padding: min(9.07vw, 2.125rem) 0 min(21.9vw, 10.5rem) 0;
    }

    .about-keyboard__images-wrapper {
        grid-template-columns: minmax(auto, 214px) minmax(auto, 445px);
        column-gap: min(3.2vw, 1.5rem);
        padding-inline: min(5.08vw, 2.4375rem) min(5.3vw, 2.5rem);
    }

    .about-keyboard__photo-phone, 
    .about-keyboard__overlay { border-radius: 1.5rem; }

    .about-keyboard__content {
        flex-direction: row;
        gap: 0 min(4.7vw, 2.25rem);
        padding-inline: min(6.5vw, 1.5rem);
        text-align: start;
        align-items: center;
    }

    .about-keyboard__subtitle {
        font-size: clamp(1rem, .5rem + 3.2vw, 2rem);
        line-height: calc(clamp(1rem, .5rem + 3.2vw, 2rem) * 1.13);
        max-inline-size: 255px;
    }
    
    .about-keyboard__text {
        font-size: clamp(.8rem, .5rem + 1.05vw, 1rem);
        line-height: calc(clamp(.8rem, .5rem + 1.05vw, 1rem) * 1.63);
        max-inline-size: 398px;
    }

    .footer { padding-block-start: min(18.5vw, 8.875rem); }
    
    @media only screen and (min-width: 376px) and (max-width: 450px) {

        .highline { gap: 0 .4rem; }

        .highline__order-wrapper { column-gap: .5rem; }

        .btn-order,
        .highline__release {
            font-size: .6rem;
            line-height: calc(.6rem * 1.65);
        }
    }
}


@media only screen and (min-width: 769px) { 

    .header {
        padding-block: min(3.82vw, 3.4375rem) min(5.8vw, 5.1875rem);
        padding-inline: 0;
    }

    .highline {
        flex-direction: row;
        padding-inline: min(6.5vw, 1.5rem);
    }

    .highline__wrapper {
        align-items: center;
        gap: 0 min(calc(11.3vw - 2rem), 7.8125rem);
        grid-template-columns: minmax(auto, 445px) auto;
        grid-template-rows: auto;
    }

    .highline__content {
        padding-inline: 0;
        row-gap: 0;
        max-inline-size: none;
    }

    .highline__title {
        font-size: clamp(.8rem, .5rem + 4.4vw, 3.5rem);
        line-height: calc(clamp(.8rem, .5rem + 4.4vw, 3.5rem) * 1);
    }

    .highline__text {
        font-size: clamp(.8rem, .5rem + .9vw, 1.125rem);
        line-height: calc(clamp(.8rem, .5rem + .9vw, 1.125rem) * 1.445);
        margin-block: min(2.2vw, 1.5rem) min(3.7vw, 2.5rem);
    }

    .highline__order-wrapper {
        column-gap: min(3.7vw, 2.5rem);
        justify-content: flex-start;
    }

    .btn-order {
        font-size: clamp(.8rem, .5rem + .7vw, 1rem);
        line-height: calc(clamp(.8rem, .5rem + .7vw, 1rem) * 1.65);
        padding-block: min(1.5vw, 1rem);
        padding-inline: min(2.4vw, 1.625rem) min(2.5vw, 1.6875rem);
    }

    .highline__images-wrapper { grid-template-columns: minmax(320px, 540px); }

    .highline__photo-wrapper { max-inline-size: none; }

    .highline__photo {
        aspect-ratio: 9 / 8;
        object-fit: contain;
        max-inline-size: 100%;
        border-radius: 1.5rem;
        display: block;
    }

    .about-keyboard { flex-direction: row; }

    .about-keyboard__wrapper {
        gap: 0 min(8.7vw, 7.8125rem); 
        grid-template-columns: auto minmax(auto, 255px);
        grid-template-rows: auto;
        padding: min(9.07vw, 2.125rem) 0 min(11.7vw, 10.5rem) 0;
    }

    .about-keyboard__images-wrapper {
        grid-template-columns: minmax(auto, 255px) minmax(auto, 445px);
        column-gap: min(4vw, 1.875rem);
        padding-inline: min(1.7vw, 1.5rem) 0;
    }

    .about-keyboard__photo-phone,
    .about-keyboard__overlay { border-radius: 1.5rem; }

    .about-keyboard__content {
        flex-direction: column;
        gap: min(1.9vw, 1.6875rem) 0;
        padding-inline: 0 min(1.7vw, 1.5rem);
        text-align: start;
        justify-content: center;
    }

    .about-keyboard__subtitle {
        font-size: clamp(1rem, .5rem + 2.2vw, 2rem);
        line-height: calc(clamp(1rem, .5rem + 2.2vw, 2rem) * 1.13);
    }
    
    .about-keyboard__text {
        font-size: clamp(.8rem, .5rem + 0.7vw, 1rem);
        line-height: calc(clamp(.8rem, .5rem + 0.7vw, 1rem) * 1.63);

    }

    .footer { padding-block-start: min(8.9vw, 8rem); }

    .pattern { display: none; }   

    @media only screen and (min-width: 1440px) {

        .header { padding-inline: 0; }
        
        .highline { 
            justify-content: flex-end; 
            padding-inline: 0;
        }

        .highline__images-wrapper {
            column-gap: min(2.9vw, 1.875rem);
            grid-template-columns: minmax(auto, 540px) auto;
        }

        .about-keyboard  {
            justify-content: flex-start; 
            padding-inline: 0;
        }

        .about-keyboard__wrapper {
            gap: 0 125px; 
            grid-template-columns: auto minmax(auto, 255px);
            grid-template-rows: auto;
        }

        .about-keyboard__images-wrapper {
            grid-template-columns: auto minmax(auto, 255px) minmax(auto, 445px);
            column-gap: min(2.09vw, 1.875rem);
            padding-inline: 0 0;
        }
          
        .pattern { display: block; }
    
        .pattern__square {
            display: block;
            object-fit: none;
            max-width: 135px;
            object-position: 0;
        } 
        
        .about-keyboard__images-wrapper .pattern { align-content: end; }

        .about-keyboard__images-wrapper .pattern__square { object-position: -120px; }
    }
}

.attribution { font-size: .6875rem; }

.attribution__color-label { color: var(--dark-blue); }

.attribution__color-link { color: var(--dark-orange); }
