@use "base";
@include base.reset;

html,
body {
  @include base.layoutViewportHeight;
  background: var(--color-bg);
  inline-size: 100%;
  max-inline-size: 100vw;
}

.container {
  @include base.layoutViewportHeight;
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  margin-inline: auto;
  max-inline-size: base.convertPxToRem(1440);
  row-gap: base.fluidSpace(40);
  padding-block-start: base.fluidSpace(24);
  padding-inline: base.fluidSpace(16);

  @include base.breakpoint("md") {
    padding-block-start: base.fluidSpace(40, "tablet");
    padding-inline: base.fluidSpace(32);
    row-gap: base.fluidSpace(64, "tablet");
  }

  @include base.breakpoint("lg") {
    padding-inline: base.fluidSpace(135, "desktop");
  }
}

.header {
  flex-basis: auto;

  &__content {
    align-items: center;
    background-color: var(--color-box-bg);
    border: 1px solid var(--color-box-border);
    border-radius: base.convertPxToRem(20);
    box-shadow: 0 2px 3px 0 var(--color-box-shadow);
    display: flex;
    inline-size: inherit;
    justify-content: space-between;
    padding: base.fluidSpace(8) base.fluidSpace(12);

    @include base.breakpoint("md") {
      padding: base.fluidSpace(12, "tablet") base.fluidSpace(16, "tablet");
    }
  }

  &__logo {
    fill: var(--color-text-logo);
  }

  &__btn-theme {
    border: transparent;
    background-color: var(--color-btn-theme-bg);
    padding: base.fluidSpace(14);
    display: inline-flex;
    place-items: center;
    border-radius: base.convertPxToRem(12);
    cursor: pointer;
  }

  &__btn-theme:focus-visible {
    outline: 2px solid var(--color-focus);
  }

  &__btn-theme:hover {
    background-color: var(--color-btn-theme-hover);
  }
}

.main {
  flex: 1 0 auto;
}

.btn {
  border: 1px solid;
}

.header-filters {
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: base.fluidSpace(24);
  padding-block-end: base.fluidSpace(40);

  @include base.breakpoint("md") {
    padding-block-end: base.fluidSpace(32, "tablet");
  }

  @include base.breakpoint("sm") {
    flex-direction: row;
    row-gap: 0;
  }

  &__title {
    color: var(--color-text-title);
    font-size: base.fluidFont(24, 34);
    font-weight: 700;
    letter-spacing: base.convertPxToRem(-1);
  }

  &__btn-wrapper {
    display: inline-flex;
    column-gap: base.fluidSpace(12);
  }

  &__btn {
    background-color: var(--color-btn-filter-bg);
    border: 1px solid var(--color-btn-filter-border);
    border-radius: base.convertPxToRem(999);
    box-shadow: 0 1px 2px var(--color-btn-filter-shadow);
    color: var(--color-btn-filter-text);
    cursor: pointer;
    font-size: base.fluidFont(16, 20);
    font-weight: 400;
    letter-spacing: base.convertPxToRem(-0.3);
    line-height: 1.4;
    padding: base.fluidSpace(10) base.fluidSpace(20);
  }

  &__btn:focus-visible {
    outline: 2px solid var(--color-focus);
    border: 1px solid var(--color-btn-filter-focus-border);
  }

  &__btn:hover {
    opacity: 0.4;
  }

  &__btn--selected {
    background-color: var(--color-btn-filter-bg-selected);
    border: 1px solid var(--no-color);
    color: var(--color-btn-filter-text-selected);
    font-weight: 500;
  }
}

.extensions-list {
  &__loading {
    color: var(--color-text-loading);
    font-size: base.fluidFont(16, 22);
    font-weight: 700;
  }

  &__error {
    color: var(--color-text-error);
    font-size: base.fluidFont(16, 22);
    font-weight: 700;
  }


  &__list {
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(base.convertPxToRem(300), 1fr)
    );
    gap: base.fluidSpace(12);
    list-style: none;
  }
}

.extension-card {
  background-color: var(--color-card-bg);
  border: 1px solid var(--color-card-border);
  border-radius: base.convertPxToRem(20);
  box-shadow: 0 2px 2px 0 var(--color-card-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  inline-size: 100%;
  padding: base.fluidSpace(20);
  row-gap: base.fluidSpace(18.5);
  block-size: 100%;

  @include base.breakpoint("md") {
    row-gap: base.fluidSpace(18.5, "tablet");
  }

  &__content {
    display: flex;
    column-gap: base.fluidSpace(16);
  }

  &__info-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: base.fluidSpace(8);
  }

  &__title {
    color: var(--color-card-title);
    font-size: base.fluidFont(16, 20);
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: base.convertPxToRem(-0.2);
    overflow-wrap: break-word;
  
  }

  &__text {
    color: var(--color-card-text);
    font-size: base.fluidFont(12, 16);
    font-weight: 400;
    letter-spacing: base.convertPxToRem(-0.6);
    line-height: 1.4;
    min-block-size: 3lh;
  }
}

.extension-card__actions {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.extension-card__btn-remove {
  border: 1px solid var(--color-card-btn-border);
  background-color: var(--color-card-btn-bg);
  border-radius: base.convertPxToRem(999);
  font-size: base.fluidFont(12, 16);
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: base.convertPxToRem(-0.5);
  color: var(--color-card-btn-text);
  padding: base.fluidSpace(8) base.fluidSpace(16);
  cursor: pointer;
}

.extension-card__btn-remove:hover {
  background-color: var(--color-card-btn-bg-hover);
  color: var(--color-card-btn-text-hover);
  border: 1px solid var(--color-card-btn-focus-border);
}

.extension-card__btn-remove:focus-visible {
  outline: 2px solid var(--color-focus);
  border: 1px solid var(--color-card-btn-focus-border);
}

.switch {
  position: relative;

  &__input {
    height: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 0;
  }

  &__control {
    background-color: var(--color-switch-bg);
    block-size: base.convertPxToRem(22);
    border: 1px solid var(--color-switch-border);
    border-radius: base.convertPxToRem(999);
    cursor: pointer;
    inline-size: base.convertPxToRem(36);
    padding: base.convertPxToRem(4);
    position: relative;
    transition: transform 0.2s;
  }

  &__control:hover {
    background-color: var(--color-swicth-bg-hover);
  }

  &__thumb {
    background-color: var(--color-switch-thumb-bg);
    block-size: base.convertPxToRem(16);
    border-radius: base.convertPxToRem(999);
    box-shadow: 0 1px 3px 0 var(--color-switch-thumb-shadow);
    inline-size: base.convertPxToRem(16);
    left: base.convertPxToRem(2);
    position: absolute;
    top: base.convertPxToRem(2);
  }

  &__input:checked ~ .switch__control .switch__thumb {
    transform: translateX(base.convertPxToRem(14));
  }

  &__input:checked ~ .switch__control {
    background-color: var(--color-swicth-bg-checked);
  }

  &__input:focus-visible ~ .switch__control {
    outline: 2px solid var(--color-focus);
  }
}

.footer {
  flex-shrink: 0;
  font-size: 0.6875rem;
  padding-block-end: base.fluidSpace(10);
  text-align: center;
  color: var(--color-footer-text);

  &__link {
    color: var(--color-footer-link);
  }
}
