@use "base";
@include base.reset;

html,
body {
  background-color: base.$background-page;
  inline-size: 100%;
  block-size: 100%;
}

.container {
  background-image: url("../assets/home/bg-pattern-header.svg");
  background-position: center -158px;
  background-repeat: no-repeat;
  background-size: 120% auto;
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  margin: 0 auto;
  max-inline-size: 100vw;

  @include base.breakpoint-between(504.98, 768.98) {
    background-image: none;
    max-inline-size: 768px;
  }

  @include base.breakpoints(md) {
    background-image: none;
    block-size: 100%;
    flex-direction: row;
    max-inline-size: 1440px;
    padding-inline: base.fluidSpace(165, desktop) 0;
  }
}

.content {
  @include base.breakpoints(md) {
    display: flex;
    flex-basis: 855px;
    flex-direction: column;
  }
}

.header {
  @include base.breakpoint-between(504.98, 768.98) {
    padding-inline: base.fluidSpace(39, tablet);
  }

  .logo {
    padding-block-start: base.fluidSpace(46);

    @include base.breakpoint-between(504.98, 768.98) {
      padding-block-start: base.fluidSpace(72, tablet);
    }

    @include base.breakpoints(md) {
      padding-block-start: base.fluidSpace(81, desktop);
    }

    &__img {
      display: block;
      margin: 0;

      @include base.breakpoint-between(0, 504) {
        margin: 0 auto;
      }
    }
  }
}

.main {
  position: relative;
  padding-block-start: base.fluidSpace(80);
  padding-inline: base.fluidSpace(24);

  @include base.breakpoint-between(504.98, 768.98) {
    padding-block-start: base.fluidSpace(104, tablet);
    padding-inline: 0;
  }

  @include base.breakpoints(md) {
    padding-block-start: base.fluidSpace(154, desktop);
    padding-inline: 0;
  }
}

.hero {
  position: relative;

  @include base.breakpoints(md) {
    display: block;
  }

  .info {
    text-align: center;
    margin: 0 auto;
    padding-block-end: base.fluidSpace(64);

    @include base.breakpoint-between(504.98, 768.98) {
      inline-size: clamp(378px, 75vw, 573px);
      padding-block-end: base.fluidSpace(104, tablet);
    }

    @include base.breakpoints(md) {
      inline-size: clamp(240px, 38vw, 540px);
      margin: 0;
      margin-inline-end: base.fluidSpace(125, desktop);
      padding-block-end: 0;
      text-align: start;
    }

    &__title {
      color: base.$grey-300;
      font-size: base.fluidTypo(20, 40);
      font-weight: 800;
      line-height: base.fluidLineHeight(20, 40, 1.2);

      @include base.breakpoint-between(504.98, 768.98) {
        font-size: base.fluidTypo(20, 40, tablet);
        line-height: base.fluidLineHeight(20, 40, 1.2, tablet);
      }

      @include base.breakpoints(md) {
        font-size: base.fluidTypo(30, 56, desktop);
        line-height: base.fluidLineHeight(30, 56, 1.143, desktop);
      }
    }

    &__description {
      color: base.$grey-100;
      font-size: base.fluidTypo(10, 16);
      font-weight: 400;
      line-height: base.fluidLineHeight(10, 16, 1.63);
      padding-block: base.fluidSpace(16) base.fluidSpace(64);

      @include base.breakpoint-between(504.98, 768.98) {
        font-size: base.fluidTypo(10, 16, tablet);
        line-height: base.fluidLineHeight(10, 16, 1.56, tablet);
        padding-block: base.fluidSpace(24, tablet) base.fluidSpace(40, tablet);
      }

      @include base.breakpoints(md) {
        font-size: base.fluidTypo(10, 18, desktop);
        line-height: base.fluidLineHeight(10, 18, 1.56, desktop);
        padding-block: base.fluidSpace(24, desktop) base.fluidSpace(32, desktop);
      }
    }
  }

  .time-counter {
    align-items: center;
    display: flex;
    flex-direction: column;

    @include base.breakpoints(md) {
      align-items: start;
    }

    &__title {
      color: base.$grey-300;
      font-size: base.fluidTypo(10, 16);
      font-weight: 800;
      letter-spacing: 5px;
      line-height: base.fluidLineHeight(10, 16, 3);
      text-transform: uppercase;

      &-emphasis {
        color: base.$blue-200;
        font-style: normal;
      }

      @include base.breakpoint-between(504.98, 768.98) {
        font-size: base.fluidTypo(10, 16, tablet);
        line-height: base.fluidLineHeight(10, 16, 3, tablet);
      }

      @include base.breakpoints(md) {
        font-size: base.fluidTypo(10, 16);
        line-height: base.fluidLineHeight(10, 16, 3, desktop);
      }
    }

    .countdown {
      column-gap: base.fluidSpace(13);
      display: flex;

      @include base.breakpoint-between(504.98, 768.98) {
        column-gap: base.fluidSpace(16, tablet);
      }

      @include base.breakpoints(md) {
        column-gap: base.fluidSpace(16, desktop);
      }

      .countdown__digit {
        background-color: base.$blue-150;
        border-radius: 0.8125rem;
        color: base.$blue-200;
        display: flex;
        flex-direction: column;
        font-weight: 800;
        padding: base.fluidSpace(16);
        row-gap: 2.12px;
        text-align: center;
        inline-size: clamp(62px, 19.2vw, 72px);

        @include base.breakpoint-between(504.98, 768.98) {
          padding: base.fluidSpace(16, tablet);
          inline-size: clamp(70px, 13.1vw, 100px);
        }

        @include base.breakpoints(md) {
          padding: base.fluidSpace(28.5, desktop) base.fluidSpace(16, desktop);
          inline-size: clamp(70px, 7vw, 100px);
        }
      }

      &__time {
        font-size: base.fluidTypo(16, 32);
        line-height: base.fluidLineHeight(16, 32, 0.858);

        @include base.breakpoint-between(504.98, 768.98) {
          font-size: base.fluidTypo(16, 56, tablet);
          line-height: base.fluidLineHeight(16, 56, 0.858, tablet);
        }

        @include base.breakpoints(md) {
          font-size: base.fluidTypo(16, 56, desktop);
          line-height: base.fluidLineHeight(16, 56, 0.858, desktop);
        }
      }

      &__period {
        color: base.$grey-200;
        font-size: base.fluidTypo(8, 12);
        line-height: base.fluidLineHeight(8, 12, 1.75);
        opacity: 0.5;
      }
    }
  }
}

.form {
  background-color: base.$white;
  border-radius: base.convertPxToRem(13);
  box-shadow: 0 50px 50px -25px base.$blue-shadow;
  inline-size: 100%;
  left: 50%;
  padding: base.fluidSpace(24);
  position: absolute;
  transform: translate(-50%);
  z-index: 1;
  overflow: hidden;

  @include base.breakpoint-between(504.98, 768.98) {
    max-inline-size: clamp(378px, 58vw, 445px);
    top: clamp(352px, 58.5vw, 449px);

    padding: base.fluidSpace(40, tablet) base.fluidSpace(42, tablet)
      base.fluidSpace(51, tablet) base.fluidSpace(43, tablet);
  }

  @include base.breakpoints(md) {
    bottom: clamp(10px, 0.7vw, 100px);
    inline-size: clamp(240px, 31vw, 445px);
    left: clamp(380px, 46.2vw, 665px);
    transform: none;

    padding: base.fluidSpace(40, desktop) base.fluidSpace(42, desktop)
      base.fluidSpace(51, desktop) base.fluidSpace(43, desktop);
  }

  &__wrapper-input {
    display: flex;
    flex-direction: column;
    padding-block-end: base.fluidSpace(40);
    row-gap: base.fluidSpace(24);

    @include base.breakpoints(md) {
      padding-block-end: base.fluidSpace(40, desktop);
      row-gap: base.fluidSpace(24, desktop);
    }
  }

  .input {
    background-color: base.$white;
    border: none;
    border-bottom: 1px solid base.$grey-050;
    color: base.$grey-300;
    display: block;
    font-size: base.fluidTypo(10, 16);
    inline-size: 100%;
    line-height: base.fluidLineHeight(10, 16, 1.75);
    padding-block-end: base.fluidSpace(17);
    padding-inline-start: base.fluidSpace(16);

    @include base.breakpoint-between(504.98, 768.98) {
      font-size: base.fluidTypo(10, 16, tablet);
      line-height: base.fluidLineHeight(10, 16, 1.75, tablet);
      padding-block-end: base.fluidSpace(17, tablet);
      padding-inline-start: base.fluidSpace(16, tablet);
    }

    @include base.breakpoints(md) {
      font-size: base.fluidTypo(10, 16, desktop);
      line-height: base.fluidLineHeight(10, 16, 1.75, desktop);
      padding-block-end: base.fluidSpace(17, desktop);
      padding-inline-start: base.fluidSpace(16, desktop);
    }
  }

  .input::placeholder {
    color: base.$grey-050;
    font-size: base.fluidTypo(10, 16);

    @include base.breakpoint-between(504.98, 768.98) {
      font-size: base.fluidTypo(10, 16, tablet);
    }

    @include base.breakpoints(md) {
      font-size: base.fluidTypo(10, 16, desktop);
    }
  }

  .submit {
    background-color: base.$blue-200;
    border: none;
    border-radius: base.convertPxToRem(28);
    color: base.$white;
    cursor: pointer;
    font-size: base.fluidTypo(8, 16);
    font-weight: 800;
    inline-size: 100%;
    line-height: base.fluidLineHeight(8, 16, 1.75);
    padding: base.fluidSpace(14) base.fluidSpace(40);

    @include base.breakpoint-between(504.98, 768.98) {
      font-size: base.fluidTypo(8, 16, tablet);
      line-height: base.fluidLineHeight(8, 16, 1.75, tablet);
      padding: base.fluidSpace(14, tablet) base.fluidSpace(40, tablet);
    }

    @include base.breakpoints(md) {
      font-size: base.fluidTypo(8, 16, desktop);
      line-height: base.fluidLineHeight(8, 16, 1.75, desktop);
      padding: base.fluidSpace(14, desktop) base.fluidSpace(40, desktop);
    }
  }

  .submit:hover {
    background-color: base.$btn-background-try-for-free-hover;
    color: base.$blue-200;
  }

  .input--error {
    border-bottom: 1px solid base.$red-100;
    color: base.$red-100;
    background: no-repeat url("../assets/sign-up/icon-cross.svg") 98% 20% / auto;
  }

  .choices {
    margin: 0;

    .choices__inner {
      background-color: base.$white;
      border: none;
      padding: 0;
    }

    .choices__list {
      padding: 0;
    }

    .choices__list--dropdown {
      border: 1px solid base.$grey-200;
      border-radius: 0.5rem;
      padding: fluidSpace(24) base.fluidSpace(32);

      @include base.breakpoint-between(504.98, 768.98) {
        padding: base.fluidSpace(24, tablet) base.fluidSpace(32, tablet);
      }

      @include base.breakpoints(md) {
        padding: base.fluidSpace(24, desktop) base.fluidSpace(32, desktop);
      }
    }

    .choices__item {
      border-bottom: 1px solid base.$grey-050;
      padding-block-end: base.fluidSpace(17);
      padding-inline-start: base.fluidSpace(16);
      position: relative;

      @include base.breakpoint-between(504.98, 768.98) {
        padding-block-end: base.fluidSpace(17, tablet);
        padding-inline-start: base.fluidSpace(16, tablet);
      }

      @include base.breakpoints(md) {
        padding-block-end: base.fluidSpace(17, desktop);
        padding-inline-start: base.fluidSpace(16, desktop);
      }
    }

    #choices--select-item-choice-3 {
      border-bottom: 0;
    }

    .choices__item--selectable {
      color: base.$grey-200;
      font-size: base.fluidTypo(10, 16);
      line-height: base.fluidLineHeight(10, 16, 1.75);

      @include base.breakpoint-between(504.98, 768.98) {
        font-size: base.fluidTypo(10, 16, tablet);
        line-height: base.fluidLineHeight(10, 16, 1.75, tablet);
      }

      @include base.breakpoints(md) {
        font-size: base.fluidTypo(10, 16, desktop);
        line-height: base.fluidLineHeight(10, 16, 1.75, desktop);
      }
    }

    .select__pack {
      font-weight: 800;
    }

    .select__price {
      opacity: 0.4;
    }
  }

  .choices.is-focused {
    outline: 2px solid #000000;
  }

  .choices[data-type*="select-one"]::after {
    background-image: url("../assets/sign-up/icon-arrow-down.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    content: "";
    height: 1rem;
    pointer-events: none;
    position: absolute;
    right: 1rem;
    top: 40%;
    transform: translateY(-50%);
    width: 1rem;
  }

  .choices.is-open[data-type*="select-one"]::after {
    background-image: url("../assets/sign-up/icon-arrow-down.svg");
    rotate: 180deg;
    top: 20%;
  }

  .choices__item.choices__item--choice.is-selected::after {
    background-image: url("../assets/sign-up/icon-check.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: inline-block;
    height: 1rem;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1rem;
  }
}

.decoration {
  background-color: base.$grey-300;
  background-image: url("../assets/sign-up/bg-pattern-side.svg");
  background-repeat: no-repeat;
  flex-basis: 320px;
  margin-block-start: base.fluidSpace(232);
  background-position: center center;
  background-size: 380% auto;

  @include base.breakpoint-between(504.98, 768.98) {
    background-position: center center;
    background-size: 190% auto;
    flex-basis: 380px;
    margin-block-start: base.fluidSpace(254, tablet);
  }

  @include base.breakpoints(md) {
    background-position: center -780px;
    background-size: auto auto;
    flex-basis: 420px;
    margin-block-start: 0;
    padding-inline-end: base.fluidSpace(165, desktop);
  }
}
